# TripAdvisor restaurants info scraping
Takes a city as an argument and scrape the summary data of each restaurants of the city through the TA restaurants display pages.

Curate the raw dataset generated and aggregate them into one single dataset for all cities.

https://www.tripadvisor.fr/Restaurants-g274772-Krakow_Lesser_Poland_Province_Southern_Poland.html#EATERY_OVERVIEW_BOX

In [1]:
#! /usr/bin/env python3
# coding: utf-8

import requests
from bs4 import BeautifulSoup
import datetime
import pandas as pd
import numpy as np
import logging
import glob2

In [2]:
#Variables that will be used globally through the script
url0 = 'https://www.tripadvisor.com'
today = datetime.datetime.now()
today_date = str(today.year) + '/' + str(today.month) + '/' + str(today.day)

#Enable display of info messages
logging.basicConfig(level=logging.INFO)

## Scrape data from the summary list of restaurants

The TripAdvisor URL to scroll through the restaurants list is built as follow:
https://www.tripadvisor.com/RestaurantSearch-g1225481-oa15, where 
- g122548 is the id of the city
- oa30 is the variable to scroll through the pages, by incrementing by 30 to go to the next page.

Restaurants are naturally sorted by descending Ranking
The information is heterogenous: 
- all restaurants have name, id, URL
- not all have cuisine, rank, rate, reviews

### Scraper

In [22]:
def scraper(city):
    query = '/TypeAheadJson?action=API&startTime='+today_date+'&uiOrigin=GEOSCOPE&source=GEOSCOPE&interleaved=true&type=geo&neighborhood_geos=true&link_type=eat&details=true&max=12&injectNeighborhoods=true&query='+city
    url = url0 + query
    #Query the API ad get a JSON answer readable by Python as dictionnaries objects
    api_response = requests.get(url).json()
    geo = api_response['results'][0]['url']  #Get the URL from the results/1st element/Url key
    restaurants_url = url0 + geo
    logging.info("Scraping {} restaurants info".format(city))
    print(restaurants_url)

    #Prepare the scrolling requests using a URL such as
    #https://www.tripadvisor.com/RestaurantSearch-g1225481-oa15
    scroll_url0= 'https://www.tripadvisor.com/RestaurantSearch-'
    b = restaurants_url.find('-')
    e = restaurants_url.find('-', b+1)
    city_id = restaurants_url[b+1:e]
    
    #Initialize the lists of parameters to scrape and the dataframe containing all data
    inc_page=0
    resto_dict = {}
    dataset = pd.DataFrame(resto_dict)
    #columns=['Name', 'URL_TA', 'ID_TA', 'Rating', 'Ranking', 'Price Range', 'Cuisine Style', 'Number of Reviews', 'Reviews'])
    
    #Get the total number of pages
    r = requests.get(scroll_url0+city_id,
                     headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36',},
                     cookies= {"SetCurrency":"EUR"})
    soup = BeautifulSoup(r.text, "lxml")
    page_tag = soup.find_all(class_="pageNumbers")[0] #tag that displays number of pages at bottom of webpage
    a_tags = page_tag.find_all('a')  #last item of the returned list is the last page button
    tot_pages=int(a_tags[-1].contents[0])  #integer from text content of the <a>
    logging.info("{} pages to explore".format(tot_pages))
    
    #Explore all the pages that display restaurants
    for page_index in range (1, tot_pages+1):
        
        #URL of the current webpage
        scroll_url = scroll_url0 + city_id + '-oa' + str(inc_page)
        print("Scraping page nÂ°{}".format(page_index))
        print(scroll_url)

        #Scrape HTML content of the current webpage using the library BeautifulSoup
        r = requests.get(scroll_url,
                 headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36',},
                cookies= {"SetCurrency":"EUR"})
        soup = BeautifulSoup(r.text, "lxml")


        #Restaurants list starts with tag <div id="EATERY_SEARCH_RESULTS">
        data_bloc = soup.find_all(attrs={"id": "EATERY_SEARCH_RESULTS"}) #contains the data bloc in a list object
        data_bloc = data_bloc[0]  #easier to manipulate

    #First restaurant of page has a particular class attribute
        if data_bloc.find_all(class_="listing rebrand listingIndex-1 first") != []:
            resto_soup = data_bloc.find_all(class_="listing rebrand listingIndex-1 first")[0]
        else:
            resto_soup = data_bloc.find_all(class_="listing rebrand first")[0]

        #Get the url, id and name of restaurants
        url_name_tag = resto_soup.find_all(class_="property_title")[0] #tag containing the data
        #Get restaurant URL
        resto_dict['URL_TA'] = url_name_tag.get('href')
        #Get the restaurant ID within its URL (-dxxxxxxx-Reviews)
        b = url_name_tag.get('href').find('-d')
        e= url_name_tag.get('href').find('-R')
        resto_dict['ID_TA'] = url_name_tag.get('href')[b+1:e]
        #Get names
        resto_dict['Name'] = url_name_tag.contents[0][1:-1]

        #Get the ranking of the restaurant
        if resto_soup.find_all(class_="popIndex rebrand popIndexDefault") != []:
            ranking_tag = resto_soup.find_all(class_="popIndex rebrand popIndexDefault")[0]
            resto_dict['Ranking'] = ranking_tag.contents[0][1:-1]
        else:
            resto_dict['Ranking'] = np.nan #put a NaN instead

        #Get the rating of the restaurant from <span> tags
        if resto_soup.find_all('span') != []:
            span_tags = resto_soup.find_all('span')
            for tag in span_tags:
                if tag.get('alt') is not None:
                    resto_dict['Rating'] = tag.get('alt')
        else:
            resto_dict['Rating'] = np.nan

        #Information from <div class="cuisines">  
        #!! some resaurants don't have pricerange nor cuisine styles, instead <div class="cuisine_margin">
        cuisines_tags = resto_soup.find_all(class_="cuisines") #1 element of the list is 1 restaurant
        if resto_soup.find_all(class_="cuisines") != []:
            for item in cuisines_tags:
                #Get price range from <span class="item price">
                if item.find(class_="item price") is not None:
                    price_range = item.find(class_="item price") #unique tag with price range
                    resto_dict['Price Range'] = price_range.contents[0]
                else:
                     resto_dict['Price Range'] = np.nan
                #Get cuisine styles from <span class="item cuisine"> tags (several/restaurant)
                if item.find_all(class_="item cuisine") != []:
                    cuisines = item.find_all(class_="item cuisine")  # list of <a> tags with the cuisine style as text
                    resto_dict['Cuisine Style'] = [tag.contents[0] for tag in cuisines]
                else:
                    resto_dict['Cuisine Style'] = np.nan

        #Get number of reviews
        if resto_soup.find_all(class_="reviewCount") != []:
            numb_tag = resto_soup.find_all(class_="reviewCount")[0]
            resto_dict['Number of Reviews'] = numb_tag.find('a').contents[0][1:-9]
        else:
            resto_dict['Number of Reviews'] = np.nan
            
        #Get 2 reviews (text+date) from <ul class="review_stubs review_snippets rebrand"> and <li> tags within
        ul_tags = resto_soup.find_all(class_="review_stubs review_snippets rebrand")
        if ul_tags != []:
            for reviews_set in ul_tags:
                rev_texts = reviews_set.find_all(dir="ltr")
                rev_dates = reviews_set.find_all(class_="date")
                resto_dict['Reviews'] = [[tag.find('a').contents[0] for tag in rev_texts], #text is in a <a> tag
                                          [tag.contents[0] for tag in rev_dates]]
        else:
            resto_dict['Reviews'] = np.nan
            
        #Append the dataset
        dataset = pd.concat([dataset, pd.DataFrame([resto_dict])])
            
    #For the rest of the list from 2 to 30:
        try:
            inc_rest = 0
            for i in range (2, 31):
                resto_dict = {}
                resto_bloc_id = "listing rebrand listingIndex-" + str(i)
                if data_bloc.find_all(class_=resto_bloc_id) != []:
                    resto_soup = data_bloc.find_all(class_=resto_bloc_id)[0] #Bloc for one restaurant

                    #Get the url, id and name of restaurants
                    url_name_tag = resto_soup.find_all(class_="property_title")[0] #tag containing the data
                    #Get restaurant URL
                    resto_dict['URL_TA'] = url_name_tag.get('href')
                    #Get the restaurant ID within its URL (-dxxxxxxx-Reviews)
                    b = url_name_tag.get('href').find('-d')
                    e= url_name_tag.get('href').find('-R')
                    resto_dict['ID_TA'] = url_name_tag.get('href')[b+1:e]
                    #Get names
                    resto_dict['Name'] = url_name_tag.contents[0][1:-1]

                    #Get the ranking of the restaurant
                    if resto_soup.find_all(class_="popIndex rebrand popIndexDefault") != []:
                        ranking_tag = resto_soup.find_all(class_="popIndex rebrand popIndexDefault")[0]
                        resto_dict['Ranking'] = ranking_tag.contents[0][1:-1]
                    else:
                        resto_dict['Ranking'] = np.nan

                    #Get the rating of the restaurant from <span> tags
                    span_tags = resto_soup.find_all('span')
                    if resto_soup.find_all('span') != []:
                        for tag in span_tags:
                            if tag.get('alt') is not None:
                                resto_dict['Rating'] = tag.get('alt')
                    else:
                        resto_dict['Rating'] = np.nan

                    #Information from <div class="cuisines">  
                    #!! some resaurants don't have pricerange nor cuisine styles, instead <div class="cuisine_margin">
                    cuisines_tags = resto_soup.find_all(class_="cuisines") #1 element of the list is 1 restaurant
                    if resto_soup.find_all(class_="cuisines") != []:
                        for item in cuisines_tags:
                            #Get price range from <span class="item price">
                            if item.find(class_="item price") is not None:
                                price_range = item.find(class_="item price") #unique tag with price range
                                resto_dict['Price Range'] = price_range.contents[0]
                            else:
                                resto_dict['Price Range'] = np.nan
                            #Get cuisine styles from <span class="item cuisine"> tags (several/restaurant)
                            if item.find_all(class_="item cuisine") != []:
                                cuisines = item.find_all(class_="item cuisine")  # list of <a> tags with the cuisine style as text
                                resto_dict['Cuisine Style'] = [tag.contents[0] for tag in cuisines]
                            else: 
                                resto_dict['Cuisine Style'] = np.nan

                    #Get number of reviews
                    if resto_soup.find_all(class_="reviewCount") != []:
                        numb_tag = resto_soup.find_all(class_="reviewCount")[0]
                        resto_dict['Number of Reviews'] = numb_tag.find('a').contents[0][1:-9]
                    else:
                        resto_dict['Number of Reviews'] = np.nan

                    #Get 2 reviews (text+date) from <ul class="review_stubs review_snippets rebrand"> and <li> tags within
                    ul_tags = resto_soup.find_all(class_="review_stubs review_snippets rebrand")
                    if resto_soup.find_all(class_="review_stubs review_snippets rebrand") != []:
                        for reviews_set in ul_tags:
                            rev_texts = reviews_set.find_all(dir="ltr")
                            rev_dates = reviews_set.find_all(class_="date")
                            #Able to pick up empty displayed review "" (St morris Argentijns, Amsterdam)
                            resto_dict['Reviews'] = [[tag.find('a').contents[0] if tag.find('a').contents != [] else np.nan for tag in rev_texts], #text is in a <a> tag
                                                  [tag.contents[0] for tag in rev_dates]]
                    else:
                        resto_dict['Reviews'] = np.nan

                    #Append the dataset
                    dataset = pd.concat([dataset, pd.DataFrame([resto_dict])])

                else: #tag of restaurant is instead "listing rebrand"
                    resto_soup = data_bloc.find_all(class_="listing rebrand")[inc_rest]

                    #Get the url, id and name of restaurants
                    url_name_tag = resto_soup.find_all(class_="property_title")[0] #tag containing the data
                    #Get restaurant URL
                    resto_dict['URL_TA'] = url_name_tag.get('href')
                    #Get the restaurant ID within its URL (-dxxxxxxx-Reviews)
                    b = url_name_tag.get('href').find('-d')
                    e= url_name_tag.get('href').find('-R')
                    resto_dict['ID_TA'] = url_name_tag.get('href')[b+1:e]
                    #Get names
                    resto_dict['Name'] = url_name_tag.contents[0][1:-1]

                    #Get the ranking of the restaurant
                    if resto_soup.find_all(class_="popIndex rebrand popIndexDefault") != []:
                        ranking_tag = resto_soup.find_all(class_="popIndex rebrand popIndexDefault")[0]
                        resto_dict['Ranking'] = ranking_tag.contents[0][1:-1]
                    else:
                        resto_dict['Ranking'] = np.nan

                    #Get the rating of the restaurant from <span> tags
                    span_tags = resto_soup.find_all('span')
                    if resto_soup.find_all('span') != []:
                        for tag in span_tags:
                            if tag.get('alt') is not None:
                                resto_dict['Rating'] = tag.get('alt')
                    else:
                        resto_dict['Rating'] = np.nan

                    #Information from <div class="cuisines">  
                    #!! some resaurants don't have pricerange nor cuisine styles, instead <div class="cuisine_margin">
                    cuisines_tags = resto_soup.find_all(class_="cuisines") #1 element of the list is 1 restaurant
                    if resto_soup.find_all(class_="cuisines") != []:
                        for item in cuisines_tags:
                            #Get price range from <span class="item price">
                            if item.find(class_="item price") is not None:
                                price_range = item.find(class_="item price") #unique tag with price range
                                resto_dict['Price Range'] = price_range.contents[0]
                            else:
                                resto_dict['Price Range'] = np.nan
                            #Get cuisine styles from <span class="item cuisine"> tags (several/restaurant)
                            if item.find_all(class_="item cuisine") != []:
                                cuisines = item.find_all(class_="item cuisine")  # list of <a> tags with the cuisine style as text
                                resto_dict['Cuisine Style'] = [tag.contents[0] for tag in cuisines]
                            else: 
                                resto_dict['Cuisine Style'] = np.nan

                    #Get number of reviews
                    if resto_soup.find_all(class_="reviewCount") != []:
                        numb_tag = resto_soup.find_all(class_="reviewCount")[0]
                        resto_dict['Number of Reviews'] = numb_tag.find('a').contents[0][1:-9]
                    else:
                        resto_dict['Number of Reviews'] = np.nan

                    #Get 2 reviews (text+date) from <ul class="review_stubs review_snippets rebrand"> and <li> tags within
                    ul_tags = resto_soup.find_all(class_="review_stubs review_snippets rebrand")
                    if resto_soup.find_all(class_="review_stubs review_snippets rebrand") != []:
                        for reviews_set in ul_tags:
                            rev_texts = reviews_set.find_all(dir="ltr")
                            rev_dates = reviews_set.find_all(class_="date")
                            #Able to pick up empty displayed review "" (St morris Argentijns, Amsterdam)
                            resto_dict['Reviews'] = [[tag.find('a').contents[0] if tag.find('a').contents != [] else np.nan for tag in rev_texts], #text
                                                  [tag.contents[0] for tag in rev_dates]]
                    else:
                        resto_dict['Reviews'] = np.nan

                    #Append the dataset
                    dataset = pd.concat([dataset, pd.DataFrame([resto_dict])])

                    inc_rest += 1

            #Increment to next page to display the next 30 restaurants
            inc_page += 30
    
        #End scrolling when no more restaurants when not able to find other restaurant bloc
        except IndexError:
            logging.info("Last restaurant reached")
            break
    
    #Save dataframe as csv file
    dataset.to_csv(city + '_TA_restaurants_raw.csv', sep=',', encoding="utf-8")
    print("File created in current directory: {}_TA_restaurants_raw.csv".format(city))

    return(dataset)

### Test on a middle-size city

In [ ]:
#Test
scraper('Krakow')

### Scrape all the euro capitals for restaurants data

In [ ]:
#Run the scraper to get data from all the euro capitals
euro_capitals = ['Paris', 'London', 'Budapest', 'Madrid', 'Lisbon', 'Berlin', 'Rome', 
            'Athens', 'Vienna', 'Warsaw', 'Ljubljana', 'Dublin',
                 'Bruxelles', 'Prague', 'Amsterdam', 'Luxembourg', 'Bratislava',
                'Copenhagen', 'Oslo', 'Helsinki', 'Stockholm']
for city in euro_capitals:
    scraper(city)

---

# Data Curation
## Exploration of raw datasets

In [25]:
#Explore the datasets obtained from the scraper
raw_csv_files = glob2.glob('*raw.csv')
print (raw_csv_files)
print("{} files in the directory".format(len(raw_csv_files)))
for file in raw_csv_files:
    print('\n' + file)
    dataset = pd.read_csv(file, sep=',',  encoding="utf-8")
    print(dataset.info())
    print(dataset.head())
    print(dataset.tail())

    #Count the unique values in Price range and rating columns
    print(dataset['Price Range'].value_counts(dropna=False))
    print(dataset['Rating'].value_counts(dropna=False))

['Amsterdam_TA_restaurants_raw.csv', 'Athens_TA_restaurants_raw.csv', 'Berlin_TA_restaurants_raw.csv', 'Bratislava_TA_restaurants_raw.csv', 'Bruxelles_TA_restaurants_raw.csv', 'Budapest_TA_restaurants_raw.csv', 'Copenhagen_TA_restaurants_raw.csv', 'Dublin_TA_restaurants_raw.csv', 'Helsinki_TA_restaurants_raw.csv', 'Koln_TA_restaurants_raw.csv', 'Krakow_TA_restaurants_raw.csv', 'Lisbon_TA_restaurants_raw.csv', 'Ljubljana_TA_restaurants_raw.csv', 'London_TA_restaurants_raw.csv', 'Luxembourg_TA_restaurants_raw.csv', 'Madrid_TA_restaurants_raw.csv', 'Oporto_TA_restaurants_raw.csv', 'Oslo_TA_restaurants_raw.csv', 'Paris_TA_restaurants_raw.csv', 'Prague_TA_restaurants_raw.csv', 'Rome_TA_restaurants_raw.csv', 'Stockholm_TA_restaurants_raw.csv', 'Toulouse_TA_restaurants_raw.csv', 'Vienna_TA_restaurants_raw.csv', 'Warsaw_TA_restaurants_raw.csv']
25 files in the directory

Amsterdam_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3434 entries, 0 to 3433
Data columns (total 10 columns):
Unnamed: 0           3434 non-null int64
Cuisine Style        2896 non-null object
ID_TA                3434 non-null object
Name                 3434 non-null object
Number of Reviews    3061 non-null object
Price Range          2567 non-null object
Ranking              3244 non-null object
Rating               3248 non-null object
Reviews              3248 non-null object
URL_TA               3434 non-null object
dtypes: int64(1), object(9)
memory usage: 268.4+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0                    ['French', 'Dutch', 'European']  d11752080
1           0  ['Dutch', 'European', 'Vegetarian Friendly', '...    d693419
2           0  ['Mediterranean', 'French', 'International', '...    d696959
3           0  ['French', 'European', 'International', 'Conte...   d1239229
4           0  ['Dutch', 'European', 'International', 'Vegeta...   d6864170

                         Name Number of Reviews Price Range  \
0  Martine of Martine's Table               136    $$ - $$$
1         De Silveren Spiegel               812        $$$$
2                     La Rive               567        $$$$
3                    Vinkeles               564        $$$$
4   Librije's Zusje Amsterdam               316        $$$$

                                Ranking            Rating  \
0  #1 of 3,444 Restaurants in Amsterdam    5 of 5 bubbles
1  #2 of 3,444 Restaurants in Amsterdam  4.5 of 5 bubbles
2  #3 of 3,444 Restaurants in Amsterdam  4.5 of 5 bubbles
3  #4 of 3,444 Restaurants in Amsterdam    5 of 5 bubbles
4  #5 of 3,444 Restaurants in Amsterdam  4.5 of 5 bubbles

                                             Reviews  \
0  [['Just like home', 'A Warm Welcome to Wintry ...
1  [['Great food and staff', 'just perfect'], ['0...
2  [['Satisfaction', 'Delicious old school restau...
3  [['True five star dinner', 'A superb evening o...
4  [['Best meal.... EVER', 'super food experience...

                                              URL_TA
0  /Restaurant_Review-g188590-d11752080-Reviews-M...
1  /Restaurant_Review-g188590-d693419-Reviews-De_...
2  /Restaurant_Review-g188590-d696959-Reviews-La_...
3  /Restaurant_Review-g188590-d1239229-Reviews-Vi...
4  /Restaurant_Review-g188590-d6864170-Reviews-Li...
      Unnamed: 0              Cuisine Style      ID_TA                Name  \
3429           0  ['Fast Food', 'European']  d13353647  Soundbites by LUTE
3430           0                ['Italian']  d13356788             Burrata
3431           0                ['Italian']  d13356963         La Pecheria
3432           0         ['Middle Eastern']  d13360392      Bread and Salt
3433           0          ['International']  d13362335       Amstel Lounge

     Number of Reviews Price Range Ranking Rating Reviews  \
3429               NaN         NaN     NaN    NaN     NaN
3430               NaN    $$ - $$$     NaN    NaN     NaN
3431               NaN         NaN     NaN    NaN     NaN
3432               NaN         NaN     NaN    NaN     NaN
3433               NaN         NaN     NaN    NaN     NaN

                                                 URL_TA
3429  /Restaurant_Review-g188590-d13353647-Reviews-S...
3430  /Restaurant_Review-g188590-d13356788-Reviews-B...
3431  /Restaurant_Review-g188590-d13356963-Reviews-L...
3432  /Restaurant_Review-g188590-d13360392-Reviews-B...
3433  /Restaurant_Review-g188590-d13362335-Reviews-A...
$$ - $$$    1915
NaN          867
$            546
$$$$         106
Name: Price Range, dtype: int64
4.5 of 5 bubbles    1132
4 of 5 bubbles      1099
3.5 of 5 bubbles     432
5 of 5 bubbles       349
NaN                  186
3 of 5 bubbles       159
2.5 of 5 bubbles      40
2 of 5 bubbles        24
-1 of 5 bubbles        5
1 of 5 bubbles         5
1.5 of 5 bubbles       3
Name: Rating, dtype: int64

Athens_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1938 entries, 0 to 1937
Data columns (total 10 columns):
Unnamed: 0           1938 non-null int64
Cuisine Style        1536 non-null object
ID_TA                1938 non-null object
Name                 1938 non-null object
Number of Reviews    1643 non-null object
Price Range          1262 non-null object
Ranking              1787 non-null object
Rating               1788 non-null object
Reviews              1789 non-null object
URL_TA               1938 non-null object
dtypes: int64(1), object(9)
memory usage: 151.5+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['European', 'Vegetarian Friendly', 'Vegan Opt...  d9763282
1           0  ['Wine Bar', 'Greek', 'Delicatessen', 'Gluten ...  d9462540
2           0  ['Mediterranean', 'European', 'Greek', 'Vegeta...  d7825999
3           0  ['Greek', 'Mediterranean', 'European', 'Vegeta...   d799575
4           0  ['Lebanese', 'Fast Food', 'Mediterranean', 'Mi...  d6784810

                     Name Number of Reviews Price Range  \
0  Simul Gastronomic Situ               127    $$ - $$$
1  Cinque Wine & Deli Bar             1,013           $
2       Dinner in the Sky               886        $$$$
3                  Aleria               934        $$$$
4                 Feyrouz               282           $

                             Ranking          Rating  \
0  #1 of 1,939 Restaurants in Athens  5 of 5 bubbles
1  #2 of 1,939 Restaurants in Athens  5 of 5 bubbles
2  #3 of 1,939 Restaurants in Athens  5 of 5 bubbles
3  #4 of 1,939 Restaurants in Athens  5 of 5 bubbles
4  #5 of 1,939 Restaurants in Athens  5 of 5 bubbles

                                             Reviews  \
0  [['Excellent experience', 'A nice surprise'], ...
1  [['One of the best restaurants we ever visite....
2  [['Great sensorial experience', 'Perfect Way t...
3  [['Surprise Find!', 'Fabulous evening'], ['01/...
4  [['A hidden gem in Athens', 'Not just great - ...

                                              URL_TA
0  /Restaurant_Review-g189400-d9763282-Reviews-Si...
1  /Restaurant_Review-g189400-d9462540-Reviews-Ci...
2  /Restaurant_Review-g189400-d7825999-Reviews-Di...
3  /Restaurant_Review-g189400-d799575-Reviews-Ale...
4  /Restaurant_Review-g189400-d6784810-Reviews-Fe...
      Unnamed: 0      Cuisine Style      ID_TA                         Name  \
1933           0          ['Greek']  d13355098  Likovrisi Cafe & Restaurant
1934           0          ['Greek']  d13355136               Doureios Ippos
1935           0  ['Mediterranean']  d13355222                   Mikra Asia
1936           0                NaN  d13355256                          Sah
1937           0        ['Italian']  d13359247                  Bella Vespa

     Number of Reviews Price Range Ranking Rating   Reviews  \
1933               NaN         NaN     NaN    NaN       NaN
1934               NaN    $$ - $$$     NaN    NaN       NaN
1935               NaN           $     NaN    NaN       NaN
1936               NaN         NaN     NaN    NaN  [[], []]
1937               NaN         NaN     NaN    NaN       NaN

                                                 URL_TA
1933  /Restaurant_Review-g189400-d13355098-Reviews-L...
1934  /Restaurant_Review-g189400-d13355136-Reviews-D...
1935  /Restaurant_Review-g189400-d13355222-Reviews-M...
1936  /Restaurant_Review-g189400-d13355256-Reviews-S...
1937  /Restaurant_Review-g189400-d13359247-Reviews-B...
$$ - $$$    737
NaN         676
$           458
$$$$         67
Name: Price Range, dtype: int64
4.5 of 5 bubbles    661
4 of 5 bubbles      526
5 of 5 bubbles      289
3.5 of 5 bubbles    204
NaN                 150
3 of 5 bubbles       70
2.5 of 5 bubbles     16
2 of 5 bubbles       15
1 of 5 bubbles        4
1.5 of 5 bubbles      2
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Berlin_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7078 entries, 0 to 7077
Data columns (total 10 columns):
Unnamed: 0           7078 non-null int64
Cuisine Style        4610 non-null object
ID_TA                7078 non-null object
Name                 7078 non-null object
Number of Reviews    5800 non-null object
Price Range          3653 non-null object
Ranking              6371 non-null object
Rating               6373 non-null object
Reviews              6373 non-null object
URL_TA               7078 non-null object
dtypes: int64(1), object(9)
memory usage: 553.0+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['International', 'European', 'Gluten Free Opt...   d695657
1           0  ['Italian', 'Mediterranean', 'European', 'Vege...  d3805087
2           0  ['Italian', 'Mediterranean', 'European', 'Vege...  d3546513
3           0  ['German', 'Central European', 'Vegetarian Fri...  d1344159
4           0  ['Mexican', 'Central American', 'Vegetarian Fr...  d6499724

                   Name Number of Reviews Price Range  \
0                 FACIL               687        $$$$
1        La Gondola Due               282    $$ - $$$
2     Ristorante A Mano             1,501    $$ - $$$
3  Restaurant Bieberbau               621        $$$$
4               El Loco               171    $$ - $$$

                             Ranking            Rating  \
0  #1 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
1  #2 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
2  #3 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
3  #4 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
4  #5 of 7,080 Restaurants in Berlin    5 of 5 bubbles

                                             Reviews  \
0  [['What a way to turn 60!', 'Only to recommend...
1  [['Great food!', 'Very good'], ['12/17/2017', ...
2  [['Sensational!', 'Delicious food and lovely s...
3  [['Excellent restaurant', 'Perfect Birthday tr...
4  [['Join the Loco family ð', 'Best sweet potato...

                                              URL_TA
0  /Restaurant_Review-g187323-d695657-Reviews-FAC...
1  /Restaurant_Review-g187323-d3805087-Reviews-La...
2  /Restaurant_Review-g187323-d3546513-Reviews-Ri...
3  /Restaurant_Review-g187323-d1344159-Reviews-Re...
4  /Restaurant_Review-g187323-d6499724-Reviews-El...

      Unnamed: 0                                      Cuisine Style  \
7073           0  ['Mexican', 'Latin', 'Spanish', 'South America...
7074           0                       ['German', 'Middle Eastern']
7075           0                                       ['European']
7076           0                                                NaN
7077           0                                                NaN

          ID_TA                      Name Number of Reviews Price Range  \
7073  d13350878  Chaparro Cocina Mexicana               NaN    $$ - $$$
7074  d13353455                 Smoofee's               NaN    $$ - $$$
7075  d13353635               L O F F E L               NaN    $$ - $$$
7076  d13358302              Kandaka Food               NaN         NaN
7077  d13358317                   Mayer's               NaN         NaN

     Ranking Rating Reviews                                             URL_TA
7073     NaN    NaN     NaN  /Restaurant_Review-g187323-d13350878-Reviews-C...
7074     NaN    NaN     NaN  /Restaurant_Review-g187323-d13353455-Reviews-S...
7075     NaN    NaN     NaN  /Restaurant_Review-g187323-d13353635-Reviews-L...
7076     NaN    NaN     NaN  /Restaurant_Review-g187323-d13358302-Reviews-K...
7077     NaN    NaN     NaN  /Restaurant_Review-g187323-d13358317-Reviews-M...
NaN         3425
$$ - $$$    2366
$           1153
$$$$         134
Name: Price Range, dtype: int64
4 of 5 bubbles      2158
4.5 of 5 bubbles    1954
5 of 5 bubbles       920
3.5 of 5 bubbles     832
NaN                  705
3 of 5 bubbles       354
2.5 of 5 bubbles      70
2 of 5 bubbles        43
1 of 5 bubbles        33
1.5 of 5 bubbles       7
-1 of 5 bubbles        2
Name: Rating, dtype: int64

Bratislava_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 10 columns):
Unnamed: 0           1070 non-null int64
Cuisine Style        649 non-null object
ID_TA                1070 non-null object
Name                 1070 non-null object
Number of Reviews    759 non-null object
Price Range          474 non-null object
Ranking              883 non-null object
Rating               883 non-null object
Reviews              883 non-null object
URL_TA               1070 non-null object
dtypes: int64(1), object(9)
memory usage: 83.7+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0                                       ['Wine Bar']  d2392197
1           0      ['American', 'Bar', 'Fast Food', 'Gastropub']  d8681780
2           0         ['American', 'Bar', 'Vegetarian Friendly']  d4834344
3           0  ['Italian', 'Pizza', 'Mediterranean', 'Europea...  d1112750
4           0  ['Asian', 'Thai', 'Vegetarian Friendly', 'Vega...  d7314484

                     Name Number of Reviews Price Range  \
0  Grand Cru Wine Gallery               387    $$ - $$$
1       Roxor BRGR & Beer               209           $
2                 BeAbout               278    $$ - $$$
3  Gatto Matto Ristorante               529    $$ - $$$
4             Bistro Soho               592    $$ - $$$

                                 Ranking            Rating  \
0  #1 of 1,070 Restaurants in Bratislava    5 of 5 bubbles
1  #2 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles
2  #3 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles
3  #4 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles
4  #5 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles

                                             Reviews  \
0  [['Ideal place to sample Slovak wine and hosp....
1  [['Best burgers', 'Quite possibly the best bur...
2  [['Excellent service', 'Delicious burgers and ...
3  [['Great pizza', 'Terrific restaurant'], ['01/...
4  [['Delicious Asian food', 'Best Asian Fusion B...

                                              URL_TA
0  /Restaurant_Review-g274924-d2392197-Reviews-Gr...
1  /Restaurant_Review-g274924-d8681780-Reviews-Ro...
2  /Restaurant_Review-g274924-d4834344-Reviews-Be...
3  /Restaurant_Review-g274924-d1112750-Reviews-Ga...
4  /Restaurant_Review-g274924-d7314484-Reviews-Bi...
      Unnamed: 0                    Cuisine Style      ID_TA  \
1065           0             ['Pub', 'Gastropub']  d13289864
1066           0  ['Sushi', 'Thai', 'Vietnamese']  d13324256
1067           0                   ['Bar', 'Pub']  d13330002
1068           0           ['Bar', 'Cafe', 'Pub']  d13336292
1069           0                     ['Barbecue']  d13355257

                       Name Number of Reviews Price Range Ranking Rating  \
1065  Bratislavska Kozlovna               NaN    $$ - $$$     NaN    NaN
1066             Bamboo Snp               NaN    $$ - $$$     NaN    NaN
1067       mini BAR by SPIN               NaN           $     NaN    NaN
1068           Shisha Cubes               NaN        $$$$     NaN    NaN
1069             Pivarnicka               NaN           $     NaN    NaN

     Reviews                                             URL_TA
1065     NaN  /Restaurant_Review-g274924-d13289864-Reviews-B...
1066     NaN  /Restaurant_Review-g274924-d13324256-Reviews-B...
1067     NaN  /Restaurant_Review-g274924-d13330002-Reviews-M...
1068     NaN  /Restaurant_Review-g274924-d13336292-Reviews-S...
1069     NaN  /Restaurant_Review-g274924-d13355257-Reviews-P...
NaN         596
$$ - $$$    331
$           118
$$$$         25
Name: Price Range, dtype: int64
4 of 5 bubbles      267
4.5 of 5 bubbles    225
NaN                 187
5 of 5 bubbles      132
3.5 of 5 bubbles    126
3 of 5 bubbles       74
2.5 of 5 bubbles     22
2 of 5 bubbles       22
1 of 5 bubbles       13
1.5 of 5 bubbles      2
Name: Rating, dtype: int64

Bruxelles_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2945 entries, 0 to 2944
Data columns (total 10 columns):
Unnamed: 0           2945 non-null int64
Cuisine Style        2289 non-null object
ID_TA                2945 non-null object
Name                 2945 non-null object
Number of Reviews    2786 non-null object
Price Range          2021 non-null object
Ranking              2930 non-null object
Rating               2929 non-null object
Reviews              2929 non-null object
URL_TA               2945 non-null object
dtypes: int64(1), object(9)
memory usage: 230.2+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['Belgian', 'European', 'French', 'Vegetarian ...  d6732421
1           0  ['Italian', 'Mediterranean', 'European', 'Vege...  d2235872
2           0     ['Belgian', 'European', 'Vegetarian Friendly']  d5826726
3           0      ['Belgian', 'Seafood', 'Vegetarian Friendly']  d1013936
4           0  ['French', 'Steakhouse', 'European', 'Gastropub']  d7243845

                   Name Number of Reviews Price Range  \
0          Le Rabassier               514        $$$$
1           Dolce Amaro               438        $$$$
2          Tonton Garby             1,082           $
3  Le Chou de Bruxelles               930    $$ - $$$
4               Colonel               584        $$$$

                                Ranking            Rating  \
0   #1 of 3,183 Restaurants in Brussels    5 of 5 bubbles
1   #8 of 3,183 Restaurants in Brussels  4.5 of 5 bubbles
2   #2 of 3,183 Restaurants in Brussels    5 of 5 bubbles
3      #1 of 173 Restaurants in Ixelles  4.5 of 5 bubbles
4  #11 of 3,183 Restaurants in Brussels  4.5 of 5 bubbles

                                             Reviews  \
0  [['Fantastic Fine Dining Experience!', 'Excell...
1  [['The Best.', 'End of Year Dinner'], ['01/07/...
2  [['This guy is a sandwich artiste', 'A true ar...
3  [['Good mussels', 'Good traditional Belgian fo...
4  [['Great meatplace', 'Very tasty meat, nice me...

                                              URL_TA
0  /Restaurant_Review-g188644-d6732421-Reviews-Le...
1  /Restaurant_Review-g188644-d2235872-Reviews-Do...
2  /Restaurant_Review-g188644-d5826726-Reviews-To...
3  /Restaurant_Review-g1136493-d1013936-Reviews-L...
4  /Restaurant_Review-g188644-d7243845-Reviews-Co...
      Unnamed: 0                                Cuisine Style      ID_TA  \
2940           0                                  ['Italian']  d13075946
2941           0                      ['European', 'Healthy']  d13082536
2942           0  ['Italian', 'American', 'Cafe', 'European']  d13133724
2943           0                                 ['Hawaiian']  d13207066
2944           0                                  ['Belgian']  d13357129

                          Name Number of Reviews Price Range Ranking Rating  \
2940                 Hall Cafe               NaN    $$ - $$$     NaN    NaN
2941  C'est Une Autre Histoire               NaN           $     NaN    NaN
2942            By Chef Michel               NaN    $$ - $$$     NaN    NaN
2943                  PokiPoke               NaN    $$ - $$$     NaN    NaN
2944              Jack l'a dit               NaN         NaN     NaN    NaN

     Reviews                                             URL_TA
2940     NaN  /Restaurant_Review-g1136493-d13075946-Reviews-...
2941     NaN  /Restaurant_Review-g1136493-d13082536-Reviews-...
2942     NaN  /Restaurant_Review-g1136493-d13133724-Reviews-...
2943     NaN  /Restaurant_Review-g1136493-d13207066-Reviews-...
2944     NaN  /Restaurant_Review-g1136493-d13357129-Reviews-...
$$ - $$$    1525
NaN          924
$            376
$$$$         120

Name: Price Range, dtype: int64
4 of 5 bubbles      1189
4.5 of 5 bubbles     719
3.5 of 5 bubbles     557
3 of 5 bubbles       237
5 of 5 bubbles       183
2.5 of 5 bubbles      41
NaN                   16
2 of 5 bubbles         3
Name: Rating, dtype: int64

Budapest_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 10 columns):
Unnamed: 0           2606 non-null int64
Cuisine Style        2103 non-null object
ID_TA                2606 non-null object
Name                 2606 non-null object
Number of Reviews    2229 non-null object
Price Range          1740 non-null object
Ranking              2440 non-null object
Rating               2436 non-null object
Reviews              2437 non-null object
URL_TA               2606 non-null object
dtypes: int64(1), object(9)
memory usage: 203.7+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Italian', 'Mediterranean', 'European', 'Hung...    d794237
1           0  ['Fast Food', 'International', 'European', 'St...   d3700225
2           0                         ['Pizza', 'Vegan Options']   d7772540
3           0  ['European', 'Eastern European', 'Central Euro...   d7761725
4           0  ['Seafood', 'International', 'Mediterranean', ...  d12503281

              Name Number of Reviews Price Range  \
0   Comme Chez Soi             4,437    $$ - $$$
1  Bors GasztroBar             2,373           $
2     Local Korner               789           $
3       Eat & Meet               409    $$ - $$$
4      Caviar&Bull               563        $$$$

                               Ranking            Rating  \
0  #1 of 2,606 Restaurants in Budapest    5 of 5 bubbles
1  #2 of 2,606 Restaurants in Budapest    5 of 5 bubbles
2  #3 of 2,606 Restaurants in Budapest  4.5 of 5 bubbles
3  #4 of 2,606 Restaurants in Budapest    5 of 5 bubbles
4  #5 of 2,606 Restaurants in Budapest    5 of 5 bubbles

                                             Reviews  \
0  [['Great place!', 'Best best best'], ['01/07/2...
1  [['The best of soup & sandwich', 'DO YOURSELF ...
2  [['Best pizza from Budapest...!!!', 'Very good...
3  [['Genuine Hungarian Food & Hospitality', 'Bes...
4  [['Wonderful in every way', 'Superbe culinary ...

                                              URL_TA
0  /Restaurant_Review-g274887-d794237-Reviews-Com...
1  /Restaurant_Review-g274887-d3700225-Reviews-Bo...
2  /Restaurant_Review-g274887-d7772540-Reviews-Lo...
3  /Restaurant_Review-g274887-d7761725-Reviews-Ea...
4  /Restaurant_Review-g274887-d12503281-Reviews-C...
      Unnamed: 0                                      Cuisine Style  \
2601           0  ['International', 'European', 'Contemporary', ...
2602           0           ['Cafe', 'European', 'Central European']
2603           0                                                NaN
2604           0                                                NaN
2605           0      ['Italian', 'Caribbean', 'European', 'Cuban']

          ID_TA                        Name Number of Reviews Price Range  \
2601  d13330153  SzobaKonyha Gasztro Muhely               NaN        $$$$
2602  d13340429                Cafe Fontana               NaN         NaN
2603  d13344171                  Waffle Dog               NaN         NaN
2604  d13344204                       TABLA               NaN         NaN
2605  d13344220              EL RaPido KuBa               NaN           $

     Ranking Rating                                   Reviews  \
2601     NaN    NaN                                       NaN
2602     NaN    NaN                                       NaN
2603     NaN    NaN  [['Highly recommended'], ['01/08/2018']]
2604     NaN    NaN                                       NaN
2605     NaN    NaN                                       NaN

                                                 URL_TA
2601  /Restaurant_Review-g274887-d13330153-Reviews-S...
2602  /Restaurant_Review-g274887-d13340429-Reviews-C...
2603  /Restaurant_Review-g274887-d13344171-Reviews-W...
2604  /Restaurant_Review-g274887-d13344204-Reviews-T...
2605  /Restaurant_Review-g274887-d13344220-Reviews-E...
$$ - $$$    1093
NaN          866
$            573
$$$$          74
Name: Price Range, dtype: int64
4.5 of 5 bubbles    780
4 of 5 bubbles      747
5 of 5 bubbles      342
3.5 of 5 bubbles    325
NaN                 170
3 of 5 bubbles      139
2.5 of 5 bubbles     51
2 of 5 bubbles       31
1 of 5 bubbles       12
1.5 of 5 bubbles      9
Name: Rating, dtype: int64

Copenhagen_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2109 entries, 0 to 2108
Data columns (total 10 columns):
Unnamed: 0           2109 non-null int64
Cuisine Style        1587 non-null object
ID_TA                2109 non-null object
Name                 2109 non-null object
Number of Reviews    1841 non-null object
Price Range          1348 non-null object
Ranking              1965 non-null object
Rating               1970 non-null object
Reviews              1971 non-null object
URL_TA               2109 non-null object
dtypes: int64(1), object(9)
memory usage: 164.8+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Indian', 'Middle Eastern', 'Pakistani', 'Veg...  d12214757
1           0  ['European', 'Scandinavian', 'Danish', 'Norweg...    d808246
2           0  ['Cafe', 'Fast Food', 'European', 'Soups', 'Da...   d1145867
3           0  ['Italian', 'Pizza', 'Mediterranean', 'Europea...   d7686629
4           0  ['International', 'European', 'Gluten Free Opt...   d9768029

                                   Name Number of Reviews Price Range  \
0                  Zahida at Westmarket               408    $$ - $$$
1              Restaurant Krebsegaarden             1,071        $$$$
2  Grams Laekkerier (closed to 8. jan.)               550           $
3            Pizzeria MaMeMi WestMarket               332           $
4               The Olive Kitchen & Bar             1,316    $$ - $$$

                                 Ranking          Rating  \
0  #1 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
1  #2 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
2  #3 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
3  #4 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
4  #5 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles

                                             Reviews  \
0  [['Pakistani food from the heart', 'DELICIOUS ...
1  [['Delightful, Delicious, Warm & Affordable', ...
2  [['Very friendly and excellent sandwiches!', '...
3  [['Excellent italian pizza', 'Fabulous'], ['01...
4  [['Great food and good prices!', 'Twice Impres...

                                              URL_TA
0  /Restaurant_Review-g189541-d12214757-Reviews-Z...
1  /Restaurant_Review-g189541-d808246-Reviews-Res...
2  /Restaurant_Review-g189541-d1145867-Reviews-Gr...
3  /Restaurant_Review-g189541-d7686629-Reviews-Pi...
4  /Restaurant_Review-g189541-d9768029-Reviews-Th...
      Unnamed: 0                                      Cuisine Style  \
2104           0                      ['Italian', 'Pizza', 'Grill']
2105           0                       ['European', 'Scandinavian']
2106           0                             ['European', 'Danish']
2107           0                             ['European', 'Danish']
2108           0  ['International', 'Mediterranean', 'European',...

          ID_TA                      Name Number of Reviews Price Range  \
2104  d13347420         Pizzaport Femoren               NaN    $$ - $$$
2105  d13347425  Shabaz Kaffebar & Kokken               NaN           $
2106  d13347436               Natur Torst               NaN    $$ - $$$
2107  d13347443            Yolk Kobenhavn               NaN         NaN
2108  d13347451                     Sonny               NaN    $$ - $$$

     Ranking Rating Reviews                                             URL_TA
2104     NaN    NaN     NaN  /Restaurant_Review-g189541-d13347420-Reviews-P...
2105     NaN    NaN     NaN  /Restaurant_Review-g189541-d13347425-Reviews-S...
2106     NaN    NaN     NaN  /Restaurant_Review-g189541-d13347436-Reviews-N...
2107     NaN    NaN     NaN  /Restaurant_Review-g806262-d13347443-Reviews-Y...
2108     NaN    NaN     NaN  /Restaurant_Review-g189541-d13347451-Reviews-S...
$$ - $$$    991
NaN         761
$           262
$$$$         95
Name: Price Range, dtype: int64
4 of 5 bubbles      649
4.5 of 5 bubbles    522
3.5 of 5 bubbles    337
5 of 5 bubbles      221
3 of 5 bubbles      153
NaN                 139
2.5 of 5 bubbles     51
2 of 5 bubbles       20
1 of 5 bubbles        9
1.5 of 5 bubbles      5
-1 of 5 bubbles       3
Name: Rating, dtype: int64

Dublin_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2082 entries, 0 to 2081
Data columns (total 10 columns):
Unnamed: 0           2082 non-null int64
Cuisine Style        1735 non-null object
ID_TA                2082 non-null object
Name                 2082 non-null object
Number of Reviews    1868 non-null object
Price Range          1500 non-null object
Ranking              1954 non-null object
Rating               1955 non-null object
Reviews              1955 non-null object
URL_TA               2082 non-null object
dtypes: int64(1), object(9)
memory usage: 162.7+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['Irish', 'European', 'Contemporary', 'Vegetar...  d2239110
1           0  ['Irish', 'European', 'Wine Bar', 'Central Eur...  d1587791
2           0  ['Irish', 'European', 'Soups', 'Vegetarian Fri...  d3873866
3           0  ['Irish', 'European', 'Contemporary', 'Vegetar...   d696187
4           0  ['French', 'European', 'Contemporary', 'Health...  d1146791

                  Name Number of Reviews Price Range  \
0      Mulberry Garden               609        $$$$
1      Bloom Brasserie             1,329    $$ - $$$
2  The Vintage Kitchen             1,644    $$ - $$$
3          Chapter One             2,000        $$$$
4       Dax Restaurant               771        $$$$

                             Ranking            Rating  \
0  #1 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
1  #2 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
2  #3 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
3  #4 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
4  #5 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles

                                             Reviews  \
0  [['Great Experience on Food and Service - Str....
1  [['Good but no wow factor', 'Great Brunch'], [...
2  [['Plan on spending a while, for a truly fabu....
3  [['Celebration Meal', 'Christmas Lunch'], ['01...
4  [['Wedding anniversary celebration', 'Highly r...

                                              URL_TA
0  /Restaurant_Review-g186605-d2239110-Reviews-Mu...
1  /Restaurant_Review-g186605-d1587791-Reviews-Bl...
2  /Restaurant_Review-g186605-d3873866-Reviews-Th...
3  /Restaurant_Review-g186605-d696187-Reviews-Cha...
4  /Restaurant_Review-g186605-d1146791-Reviews-Da...
      Unnamed: 0                                      Cuisine Style  \
2077           0  ['Brazilian', 'Latin', 'Spanish', 'Guatemalan'...
2078           0                                           ['Cafe']
2079           0                                           ['Cafe']
2080           0                                          ['Irish']
2081           0                                          ['Asian']

          ID_TA                   Name Number of Reviews Price Range Ranking  \
2077  d13336254    South American Shop               NaN         NaN     NaN
2078  d13340251               Quigleys               NaN         NaN     NaN
2079  d13341513            Bakelicious               NaN         NaN     NaN
2080  d13351283         Humphrey's Pub               NaN         NaN     NaN
2081  d13357043  Bubble Waffle Factory               NaN         NaN     NaN

     Rating Reviews                                             URL_TA
2077    NaN     NaN  /Restaurant_Review-g186605-d13336254-Reviews-S...
2078    NaN     NaN  /Restaurant_Review-g186605-d13340251-Reviews-Q...
2079    NaN     NaN  /Restaurant_Review-g186605-d13341513-Reviews-B...
2080    NaN     NaN  /Restaurant_Review-g186605-d13351283-Reviews-H...
2081    NaN     NaN  /Restaurant_Review-g186605-d13357043-Reviews-B...
$$ - $$$    1098
NaN          582
$            359
$$$$          43
Name: Price Range, dtype: int64
4 of 5 bubbles      672
4.5 of 5 bubbles    643
3.5 of 5 bubbles    297
5 of 5 bubbles      159
NaN                 127
3 of 5 bubbles      125
2.5 of 5 bubbles     36
2 of 5 bubbles       14
1 of 5 bubbles        5
1.5 of 5 bubbles      4
Name: Rating, dtype: int64

Helsinki_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 10 columns):
Unnamed: 0           1228 non-null int64
Cuisine Style        964 non-null object
ID_TA                1228 non-null object
Name                 1228 non-null object
Number of Reviews    1069 non-null object
Price Range          789 non-null object
Ranking              1145 non-null object
Rating               1146 non-null object
Reviews              1147 non-null object
URL_TA               1228 non-null object
dtypes: int64(1), object(9)
memory usage: 96.0+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['European', 'Scandinavian', 'Vegetarian Frien...  d10179471
1           0  ['Contemporary', 'Scandinavian', 'Vegetarian F...    d784038
2           0  ['European', 'Central European', 'Vegetarian F...   d2201057
3           0  ['European', 'Central European', 'Scandinavian...   d6591387
4           0  ['European', 'Scandinavian', 'Vegetarian Frien...   d1012790

              Name Number of Reviews Price Range  \
0        Finnjavel               305        $$$$
1    Olo Ravintola               615        $$$$
2  Restaurant Muru               449        $$$$
3             Ragu               685        $$$$
4    Ravintola Kuu               703    $$ - $$$

                               Ranking            Rating  \
0  #1 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
1  #2 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
2  #3 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
3  #4 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
4  #5 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles

                                             Reviews  \
0  [['Fantastic Taste of Finland', 'Modern Finnis...
1  [['An evening to remember', 'Best dinner we ev...
2  [['Good service and food', 'Superb menu'], ['1...
3  [['Excellent, enjoyable evening', 'Delicious']...
4  [['Delicious Salmon Soup', 'Best Meal of our h...

                                              URL_TA
0  /Restaurant_Review-g189934-d10179471-Reviews-F...
1  /Restaurant_Review-g189934-d784038-Reviews-Olo...
2  /Restaurant_Review-g189934-d2201057-Reviews-Re...
3  /Restaurant_Review-g189934-d6591387-Reviews-Ra...
4  /Restaurant_Review-g189934-d1012790-Reviews-Ra...
      Unnamed: 0                                 Cuisine Style      ID_TA  \
1223           0                                  ['European']  d13350214
1224           0                                  ['European']  d13350222
1225           0                                   ['Italian']  d13350231
1226           0  ['European', 'Delicatessen', 'Contemporary']  d13350874
1227           0                                           NaN  d13355179

                                  Name Number of Reviews Price Range Ranking  \
1223            Ravintola Factory Tali               NaN    $$ - $$$     NaN
1224      Ravintola Factory Roihupelto               NaN    $$ - $$$     NaN
1225                        Lo Stretto               NaN         NaN     NaN
1226  Ravintola Factory Bistro Vallila               NaN    $$ - $$$     NaN
1227         La Torrefazione Hakaniemi               NaN         NaN     NaN

     Rating   Reviews                                             URL_TA
1223    NaN       NaN  /Restaurant_Review-g189934-d13350214-Reviews-R...
1224    NaN       NaN  /Restaurant_Review-g189934-d13350222-Reviews-R...
1225    NaN       NaN  /Restaurant_Review-g189934-d13350231-Reviews-L...
1226    NaN       NaN  /Restaurant_Review-g189934-d13350874-Reviews-R...
1227    NaN  [[], []]  /Restaurant_Review-g189934-d13355179-Reviews-L...
$$ - $$$    606
NaN         439
$           137
$$$$         46
Name: Price Range, dtype: int64
4 of 5 bubbles      432
4.5 of 5 bubbles    257
3.5 of 5 bubbles    222
3 of 5 bubbles      105
NaN                  82
5 of 5 bubbles       79
2.5 of 5 bubbles     26
2 of 5 bubbles       17
1 of 5 bubbles        6
1.5 of 5 bubbles      2
Name: Rating, dtype: int64

Koln_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 10 columns):
Unnamed: 0           2028 non-null int64
Cuisine Style        1188 non-null object
ID_TA                2028 non-null object
Name                 2028 non-null object
Number of Reviews    1665 non-null object
Price Range          877 non-null object
Ranking              1818 non-null object
Rating               1816 non-null object
Reviews              1816 non-null object
URL_TA               2028 non-null object
dtypes: int64(1), object(9)
memory usage: 158.5+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['African', 'Vegetarian Friendly', 'Vegan Opti...  d2722617
1           0  ['Barbecue', 'Asian', 'Korean', 'Grill', 'Vege...  d2182710
2           0  ['Italian', 'Mediterranean', 'European', 'Vege...   d718264
3           0  ['Diner', 'German', 'Brew Pub', 'European', 'C...   d695516
4           0  ['German', 'Bar', 'European', 'Pub', 'Central ...   d966510

                                       Name Number of Reviews Price Range  \
0               Shaka Zulu Restaurant & Bar               456    $$ - $$$
1                              Bulgogi-Haus               406    $$ - $$$
2                                 Pasta Bar               472    $$ - $$$
3  Restaurant Gaststaette Bei Oma Kleinmann             1,013    $$ - $$$
4                               Lommerzheim               780           $

                              Ranking            Rating  \
0  #1 of 2,029 Restaurants in Cologne  4.5 of 5 bubbles
1  #2 of 2,029 Restaurants in Cologne  4.5 of 5 bubbles
2  #3 of 2,029 Restaurants in Cologne  4.5 of 5 bubbles
3  #4 of 2,029 Restaurants in Cologne  4.5 of 5 bubbles
4  #5 of 2,029 Restaurants in Cologne  4.5 of 5 bubbles

                                             Reviews  \
0  [['Great ambiance and food!', 'Good value for ...
1  [['Delicious food, fantastic service', 'Recomm...
2  [['Amazing place!', 'Weekend in cologne with a...
3  [['Slow wait line but really worth it!', 'THE ...
4  [['Canât Wait to Try Again !!', 'awesome!'], [...

                                              URL_TA
0  /Restaurant_Review-g187371-d2722617-Reviews-Sh...
1  /Restaurant_Review-g187371-d2182710-Reviews-Bu...
2  /Restaurant_Review-g187371-d718264-Reviews-Pas...
3  /Restaurant_Review-g187371-d695516-Reviews-Res...
4  /Restaurant_Review-g187371-d966510-Reviews-Lom...
      Unnamed: 0                    Cuisine Style      ID_TA  \
2023           0  ['Bar', 'Cafe', 'Pub', 'Diner']  d13206849
2024           0                ['International']  d13230724
2025           0  ['Fast Food', 'Sushi', 'Asian']  d13272943
2026           0                     ['European']  d13322357
2027           0                         ['Cafe']  d13344580

                       Name Number of Reviews Price Range Ranking Rating  \
2023            MB Cafe&Bar               NaN    $$ - $$$     NaN    NaN
2024         T's Restaurant               NaN    $$ - $$$     NaN    NaN
2025             Sushi-Make               NaN           $     NaN    NaN
2026  Carpe Diem Restaurant               NaN         NaN     NaN    NaN
2027   Cafe Hase im Nepomuk               NaN         NaN     NaN    NaN

     Reviews                                             URL_TA
2023     NaN  /Restaurant_Review-g187371-d13206849-Reviews-M...
2024     NaN  /Restaurant_Review-g187371-d13230724-Reviews-T...
2025     NaN  /Restaurant_Review-g187371-d13272943-Reviews-S...
2026     NaN  /Restaurant_Review-g187371-d13322357-Reviews-C...

2027     NaN  /Restaurant_Review-g187371-d13344580-Reviews-C...
NaN         1151
$$ - $$$     643
$            183
$$$$          51
Name: Price Range, dtype: int64
4 of 5 bubbles      636
4.5 of 5 bubbles    484
3.5 of 5 bubbles    326
NaN                 212
5 of 5 bubbles      173
3 of 5 bubbles      129
2.5 of 5 bubbles     41
2 of 5 bubbles       13
1 of 5 bubbles       10
1.5 of 5 bubbles      4
Name: Rating, dtype: int64

Krakow_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1351 entries, 0 to 1350
Data columns (total 10 columns):
Unnamed: 0           1351 non-null int64
Cuisine Style        1049 non-null object
ID_TA                1351 non-null object
Name                 1351 non-null object
Number of Reviews    1150 non-null object
Price Range          897 non-null object
Ranking              1245 non-null object
Rating               1243 non-null object
Reviews              1243 non-null object
URL_TA               1351 non-null object
dtypes: int64(1), object(9)
memory usage: 105.6+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Polish', 'Cafe', 'European', 'Vegetarian Fri...  d10086671
1           0  ['European', 'Polish', 'Eastern European', 'Ce...   d8412137
2           0  ['Japanese', 'Sushi', 'Asian', 'Fusion', 'Vege...  d11812564
3           0  ['Diner', 'Fast Food', 'Healthy', 'Vegetarian ...   d8868480
4           0  ['Polish', 'Eastern European', 'Central Europe...   d1749958

                             Name Number of Reviews Price Range  \
0                     Gossip Cafe               169    $$ - $$$
1  Old Town Restaurant Wine & Bar             1,091    $$ - $$$
2               Nago Sushi & Sake               326        $$$$
3                           Vegab               555           $
4              Restauracja Starka             4,476    $$ - $$$

                             Ranking            Rating  \
0  #1 of 1,351 Restaurants in Krakow    5 of 5 bubbles
1  #2 of 1,351 Restaurants in Krakow  4.5 of 5 bubbles
2  #3 of 1,351 Restaurants in Krakow  4.5 of 5 bubbles
3  #4 of 1,351 Restaurants in Krakow  4.5 of 5 bubbles
4  #5 of 1,351 Restaurants in Krakow  4.5 of 5 bubbles

                                             Reviews  \
0  [['Delicious breakfast', 'Very good'], ['01/08...
1  [['Faultless', 'Brilliant food at fantastic pr...
2  [['Great atmosphere', 'Best I have ever been t...
3  [['Coming back to Krakow just for a Kebab her....
4  [['Every bite was amazing', 'Excellent'], ['01...

                                              URL_TA
0  /Restaurant_Review-g274772-d10086671-Reviews-G...
1  /Restaurant_Review-g274772-d8412137-Reviews-Ol...
2  /Restaurant_Review-g274772-d11812564-Reviews-N...
3  /Restaurant_Review-g274772-d8868480-Reviews-Ve...
4  /Restaurant_Review-g274772-d1749958-Reviews-Re...
      Unnamed: 0           Cuisine Style      ID_TA  \
1346           0            ['European']  d13337017
1347           0  ['Polish', 'European']  d13337153
1348           0  ['Polish', 'European']  d13340587
1349           0             ['Italian']  d13340639
1350           0          ['Bar', 'Pub']  d13345651

                                Name Number of Reviews Price Range Ranking  \
1346           Urban Coffee and more               NaN           $     NaN
1347                 Blekitna Laguna               NaN           $     NaN
1348                 kwadrans Bistro               NaN         NaN     NaN
1349               Pizzeria Al Forno               NaN         NaN     NaN
1350  Kawiarnia Teatralna w Krakowie               NaN           $     NaN

     Rating Reviews                                             URL_TA
1346    NaN     NaN  /Restaurant_Review-g274772-d13337017-Reviews-U...
1347    NaN     NaN  /Restaurant_Review-g274772-d13337153-Reviews-B...
1348    NaN     NaN  /Restaurant_Review-g274772-d13340587-Reviews-K...
1349    NaN     NaN  /Restaurant_Review-g274772-d13340639-Reviews-P...
1350    NaN     NaN  /Restaurant_Review-g274772-d13345651-Reviews-K...
$$ - $$$    501
NaN         454
$           371
$$$$         25
Name: Price Range, dtype: int64
4.5 of 5 bubbles    448
4 of 5 bubbles      382
3.5 of 5 bubbles    163
5 of 5 bubbles      159
NaN                 108
3 of 5 bubbles       50
2.5 of 5 bubbles     23
2 of 5 bubbles       11
1 of 5 bubbles        6
1.5 of 5 bubbles      1
Name: Rating, dtype: int64

Lisbon_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4153 entries, 0 to 4152
Data columns (total 10 columns):
Unnamed: 0           4153 non-null int64
Cuisine Style        3007 non-null object
ID_TA                4153 non-null object
Name                 4153 non-null object
Number of Reviews    3626 non-null object
Price Range          2561 non-null object
Ranking              3888 non-null object
Rating               3884 non-null object
Reviews              3885 non-null object
URL_TA               4153 non-null object
dtypes: int64(1), object(9)
memory usage: 324.5+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['Bar', 'Pub', 'Healthy', 'Brazilian', 'Vegeta...  d8574693
1           0  ['European', 'Portuguese', 'Soups', 'Mediterra...  d8626284
2           0  ['Mediterranean', 'European', 'Portuguese', 'V...  d6934887
3           0  ['Portuguese', 'Wine Bar', 'Gluten Free Options']  d2719569
4           0  ['Mediterranean', 'European', 'Portuguese', 'C...  d8757206

                         Name Number of Reviews Price Range  \
0     Estamine Art Food Drink               310           $
1      Ha Tapas no Mercado!!!               382           $
2         Mercearia do Seculo               268    $$ - $$$
3  BA Wine Bar do Bairro Alto             1,504    $$ - $$$
4          Agulha No Palheiro               194    $$ - $$$

                                      Ranking            Rating  \
0           #1 of 3,941 Restaurants in Lisbon    5 of 5 bubbles
1           #2 of 3,941 Restaurants in Lisbon    5 of 5 bubbles
2  #4 of 6,265 Restaurants in Lisbon District    5 of 5 bubbles
3           #3 of 3,941 Restaurants in Lisbon  4.5 of 5 bubbles
4           #4 of 3,941 Restaurants in Lisbon    5 of 5 bubbles

                                             Reviews  \
0  [['One of a kind', 'once in a lifetime experie...
1  [['Best tapas in Lisbon!!', 'Best portuguese t...
2  [['Very nice', 'Fabulous'], ['01/04/2018', '12...
3  [['Amazing!!', 'Just go!!'], ['01/09/2018', '0...
4  [['feel like home', 'Food LOVER'], ['01/07/201...

                                              URL_TA
0  /Restaurant_Review-g189158-d8574693-Reviews-Es...
1  /Restaurant_Review-g189158-d8626284-Reviews-Ha...
2  /Restaurant_Review-g3874225-d6934887-Reviews-M...
3  /Restaurant_Review-g189158-d2719569-Reviews-BA...
4  /Restaurant_Review-g189158-d8757206-Reviews-Ag...
      Unnamed: 0                           Cuisine Style      ID_TA  \
4148           0                             ['Healthy']  d13341033
4149           0                       ['Mediterranean']  d13341278
4150           0  ['European', 'Portuguese', 'Wine Bar']  d13344194
4151           0                            ['Japanese']  d13352561
4152           0                                 ['Bar']  d13353933

                           Name Number of Reviews Price Range Ranking Rating  \
4148              Cozinharmonia               NaN    $$ - $$$     NaN    NaN
4149  Taranna - Espai Barcelona               NaN    $$ - $$$     NaN    NaN
4150            Chiado Wine Bar               NaN    $$ - $$$     NaN    NaN
4151         Koi Sushi Saldanha               NaN    $$ - $$$     NaN    NaN
4152            Sailors Bar Lda               NaN           $     NaN    NaN

     Reviews                                             URL_TA
4148     NaN  /Restaurant_Review-g189158-d13341033-Reviews-C...
4149     NaN  /Restaurant_Review-g189158-d13341278-Reviews-T...
4150     NaN  /Restaurant_Review-g189158-d13344194-Reviews-C...
4151     NaN  /Restaurant_Review-g189158-d13352561-Reviews-K...
4152     NaN  /Restaurant_Review-g189158-d13353933-Reviews-S...
$$ - $$$    1679
NaN         1592
$            775
$$$$         107
Name: Price Range, dtype: int64
4 of 5 bubbles      1346
4.5 of 5 bubbles    1216
3.5 of 5 bubbles     553
5 of 5 bubbles       382
NaN                  269
3 of 5 bubbles       262
2.5 of 5 bubbles      59
2 of 5 bubbles        34
1 of 5 bubbles        18
1.5 of 5 bubbles      12
-1 of 5 bubbles        2
Name: Rating, dtype: int64

Ljubljana_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 10 columns):
Unnamed: 0           501 non-null int64
Cuisine Style        406 non-null object
ID_TA                501 non-null object
Name                 501 non-null object
Number of Reviews    434 non-null object
Price Range          341 non-null object
Ranking              469 non-null object
Rating               468 non-null object
Reviews              468 non-null object
URL_TA               501 non-null object
dtypes: int64(1), object(9)
memory usage: 39.2+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['European', 'Contemporary', 'Slovenian', 'Cen...  d10460965
1           0  ['European', 'Slovenian', 'Central European', ...   d3812696
2           0  ['Contemporary', 'Slovenian', 'Vegan Options',...   d7202050
3           0  ['Japanese', 'Fast Food', 'Mediterranean', 'Ba...   d8262021
4           0  ['Mediterranean', 'European', 'Slovenian', 'Ce...   d1212202

                   Name Number of Reviews Price Range  \
0       Monstera bistro               303    $$ - $$$
1  Restavracija Strelec               480        $$$$
2                  Luda               384    $$ - $$$
3          Odprta Kuhna               194           $
4              Valvasor               911        $$$$

                              Ranking            Rating  \
0  #1 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
1  #2 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
2  #3 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
3  #4 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
4  #5 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles

                                             Reviews  \
0  [['high expectations fully met', 'Fine bistro'...
1  [['Five star restaurant', 'Superb!'], ['01/06/...
2  [['Birthday Meal', 'Great!'], ['12/19/2017', '...
3  [['A very special event!', 'Great ambiance, gr...
4  [['High expectations fully met', 'superb'], ['...

                                              URL_TA
0  /Restaurant_Review-g274873-d10460965-Reviews-M...
1  /Restaurant_Review-g274873-d3812696-Reviews-Re...
2  /Restaurant_Review-g274873-d7202050-Reviews-Lu...
3  /Restaurant_Review-g274873-d8262021-Reviews-Od...
4  /Restaurant_Review-g274873-d1212202-Reviews-Va...
     Unnamed: 0                                      Cuisine Style      ID_TA  \
496           0                          ['European', 'Slovenian']  d13174493
497           0  ['Italian', 'French', 'American', 'Mediterrane...  d13196249
498           0                                          ['Pizza']  d13231744
499           0  ['Italian', 'German', 'Austrian', 'European', ...  d13278410
500           0  ['Italian', 'Mediterranean', 'European', 'Slov...  d13320175

                  Name Number of Reviews Price Range Ranking Rating Reviews  \
496        Inn Ledinek               NaN           $     NaN    NaN     NaN
497         Habitat 32               NaN    $$ - $$$     NaN    NaN     NaN
498  Pizzerija Medobar               NaN         NaN     NaN    NaN     NaN
499        Pod Strehco               NaN           $     NaN    NaN     NaN
500      Letras d.o.o.               NaN    $$ - $$$     NaN    NaN     NaN

                                                URL_TA
496  /Restaurant_Review-g274873-d13174493-Reviews-I...
497  /Restaurant_Review-g274873-d13196249-Reviews-H...
498  /Restaurant_Review-g274873-d13231744-Reviews-P...
499  /Restaurant_Review-g274873-d13278410-Reviews-P...
500  /Restaurant_Review-g274873-d13320175-Reviews-L...
$$ - $$$    224
NaN         160
$           100
$$$$         17
Name: Price Range, dtype: int64
4 of 5 bubbles      165
4.5 of 5 bubbles    155
5 of 5 bubbles       55
3.5 of 5 bubbles     54
NaN                  33
3 of 5 bubbles       28
2.5 of 5 bubbles      9
2 of 5 bubbles        2
Name: Rating, dtype: int64

London_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18212 entries, 0 to 18211
Data columns (total 10 columns):
Unnamed: 0           18212 non-null int64
Cuisine Style        14504 non-null object
ID_TA                18212 non-null object
Name                 18212 non-null object
Number of Reviews    15352 non-null object
Price Range          12163 non-null object
Ranking              16434 non-null object
Rating               16435 non-null object
Reviews              16436 non-null object
URL_TA               18212 non-null object
dtypes: int64(1), object(9)
memory usage: 1.4+ MB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Cafe', 'Middle Eastern', 'Persian', 'Vegetar...  d10517849
1           0  ['Italian', 'Mediterranean', 'Vegetarian Frien...  d13149344
2           0      ['Seafood', 'British', 'Gluten Free Options']  d12518072
3           0  ['Mediterranean', 'European', 'Turkish', 'Midd...  d10444968
4           0  ['International', 'Vegetarian Friendly', 'Glut...   d7697088

                                  Name Number of Reviews Price Range  \
0                   R & H cafe gallery               146    $$ - $$$
1                       Osteria Romana               112        $$$$
2  The Oystermen Seafood Bar & Kitchen               255    $$ - $$$
3                     Liman Restaurant               945    $$ - $$$
4                           Holy Smoke               433    $$ - $$$

                              Ranking          Rating  \
0  #1 of 18,222 Restaurants in London  5 of 5 bubbles
1  #2 of 18,222 Restaurants in London  5 of 5 bubbles
2  #3 of 18,222 Restaurants in London  5 of 5 bubbles
3  #4 of 18,222 Restaurants in London  5 of 5 bubbles
4  #5 of 18,222 Restaurants in London  5 of 5 bubbles

                                             Reviews  \
0  [['Amazing cakes', 'Breakfatst'], ['01/08/2018...
1  [['Small restaurant with the touch of Italian....
2  [['Fantasic!!', 'Superb Food, Warm and Welcomi...
3  [['A good experience', 'Excellent Establishmen...
4  [['Always consistently good food and service',...

                                              URL_TA
0  /Restaurant_Review-g186338-d10517849-Reviews-R...
1  /Restaurant_Review-g186338-d13149344-Reviews-O...
2  /Restaurant_Review-g186338-d12518072-Reviews-T...
3  /Restaurant_Review-g186338-d10444968-Reviews-L...
4  /Restaurant_Review-g186338-d7697088-Reviews-Ho...
       Unnamed: 0                             Cuisine Style      ID_TA  \
18207           0                               ['Spanish']  d13341128
18208           0  ['Cafe', 'Delicatessen', 'Contemporary']  d13341581
18209           0                                       NaN  d13344085
18210           0                               ['British']  d13344377
18211           0                ['Italian', 'Azerbaijani']  d13345029

                             Name Number of Reviews Price Range Ranking  \
18207  Llerena. Iberico Tapas Bar               NaN        $$$$     NaN
18208                     Shafran               NaN         NaN     NaN
18209                   Mamak Don               NaN         NaN     NaN
18210    Rocket by Balls Brothers               NaN    $$ - $$$     NaN
18211                 Shafran Ltd               NaN    $$ - $$$     NaN

      Rating Reviews                                             URL_TA
18207    NaN     NaN  /Restaurant_Review-g186338-d13341128-Reviews-L...
18208    NaN     NaN  /Restaurant_Review-g186338-d13341581-Reviews-S...
18209    NaN     NaN  /Restaurant_Review-g186338-d13344085-Reviews-M...
18210    NaN     NaN  /Restaurant_Review-g186338-d13344377-Reviews-R...
18211    NaN     NaN  /Restaurant_Review-g186338-d13345029-Reviews-S...
$$ - $$$    8529
NaN         6049
$           2986
$$$$         648
Name: Price Range, dtype: int64
4 of 5 bubbles      5646
4.5 of 5 bubbles    3946
3.5 of 5 bubbles    3137
NaN                 1777
5 of 5 bubbles      1592
3 of 5 bubbles      1265
2.5 of 5 bubbles     423
2 of 5 bubbles       214
1 of 5 bubbles       135
1.5 of 5 bubbles      73
-1 of 5 bubbles        4
Name: Rating, dtype: int64

Luxembourg_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 10 columns):
Unnamed: 0           657 non-null int64
Cuisine Style        539 non-null object
ID_TA                657 non-null object
Name                 657 non-null object
Number of Reviews    589 non-null float64
Price Range          447 non-null object
Ranking              622 non-null object
Rating               623 non-null object
Reviews              623 non-null object
URL_TA               657 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 51.4+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0    ['American', 'European', 'Vegetarian Friendly']  d10547625
1           0      ['French', 'European', 'Vegetarian Friendly']    d743811
2           0  ['Italian', 'French', 'European', 'Vegetarian ...    d950848
3           0  ['French', 'European', 'Vegetarian Friendly', ...   d1416047
4           0  ['Mediterranean', 'European', 'Greek', 'Vegeta...   d1056692

                     Name  Number of Reviews Price Range  \
0             Lux'Burgers              280.0    $$ - $$$
1          Clairefontaine              543.0        $$$$
2                  Cyrano              258.0    $$ - $$$
3                  Le Sud              613.0        $$$$
4  Athena Restaurant Grec              589.0    $$ - $$$

                                    Ranking            Rating  \
0  #1 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
1  #2 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
2  #3 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
3  #4 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
4  #5 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles

                                             Reviews  \
0  [['Best burger ever?', 'A rich treat'], ['01/0...
1  [['Fantastic fine dining restaurant experienc....
2  [['Unique', 'Excellent quality / price ratio']...
3  [['One of the best dining experiences of my l....
4  [['Wonderful atmosphere', 'Family friendly, se...

                                              URL_TA
0  /Restaurant_Review-g190356-d10547625-Reviews-L...
1  /Restaurant_Review-g190356-d743811-Reviews-Cla...
2  /Restaurant_Review-g190356-d950848-Reviews-Cyr...
3  /Restaurant_Review-g190356-d1416047-Reviews-Le...
4  /Restaurant_Review-g190356-d1056692-Reviews-At...
     Unnamed: 0                 Cuisine Style      ID_TA                 Name  \
652           0                 ['Caucasian']  d13104787  La Ruche Luxembourg
653           0                           NaN  d13124481                Fobia
654           0                   ['Healthy']  d13184676           Superfoods
655           0                ['Bar', 'Pub']  d13206101   Lux Brewery Lounge
656           0  ['Chinese', 'Asian', 'Thai']  d13220112    Le Jardin Gourmet

     Number of Reviews Price Range Ranking Rating Reviews  \
652                NaN    $$ - $$$     NaN    NaN     NaN
653                NaN         NaN     NaN    NaN     NaN
654                NaN         NaN     NaN    NaN     NaN
655                NaN         NaN     NaN    NaN     NaN
656                NaN         NaN     NaN    NaN     NaN

                                                URL_TA
652  /Restaurant_Review-g190356-d13104787-Reviews-L...
653  /Restaurant_Review-g190356-d13124481-Reviews-F...
654  /Restaurant_Review-g190356-d13184676-Reviews-S...
655  /Restaurant_Review-g190356-d13206101-Reviews-L...
656  /Restaurant_Review-g190356-d13220112-Reviews-L...
$$ - $$$    369
NaN         210
$            42
$$$$         36
Name: Price Range, dtype: int64
4 of 5 bubbles      230
3.5 of 5 bubbles    143
4.5 of 5 bubbles    140
3 of 5 bubbles       58
5 of 5 bubbles       36
NaN                  34
2 of 5 bubbles       11
2.5 of 5 bubbles      4
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Madrid_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9543 entries, 0 to 9542
Data columns (total 10 columns):
Unnamed: 0           9543 non-null int64
Cuisine Style        6402 non-null object
ID_TA                9543 non-null object
Name                 9543 non-null object
Number of Reviews    8232 non-null object
Price Range          4969 non-null object
Ranking              8803 non-null object
Rating               8812 non-null object
Reviews              8814 non-null object
URL_TA               9543 non-null object
dtypes: int64(1), object(9)
memory usage: 745.6+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Mediterranean', 'European', 'Spanish', 'Cont...  d10428302
1           0  ['International', 'European', 'Spanish', 'Cont...   d6884911
2           0  ['International', 'Mediterranean', 'European',...   d2006562
3           0  ['International', 'Mediterranean', 'European',...  d11896546
4           0                       ['Mediterranean', 'Spanish']   d1953725

                                      Name Number of Reviews Price Range  \
0                                     Cebo               352        $$$$
1                                   DSTAGE             1,724        $$$$
2                    Los Montes de Galicia             3,795    $$ - $$$
3                                    Astor               302    $$ - $$$
4  Restaurante Nuevo Horno de Santa Teresa               357    $$ - $$$

                             Ranking            Rating  \
0  #1 of 9,561 Restaurants in Madrid    5 of 5 bubbles
1  #2 of 9,561 Restaurants in Madrid  4.5 of 5 bubbles
2  #3 of 9,561 Restaurants in Madrid  4.5 of 5 bubbles
3  #4 of 9,561 Restaurants in Madrid    5 of 5 bubbles
4  #5 of 9,561 Restaurants in Madrid  4.5 of 5 bubbles

                                             Reviews  \
0  [['Absolutely divine tastes and flavours', 'Lo...
1  [['Birthday meal', 'Outstanding experience. Ve...
2  [['Wonderful lunch', 'One of Madridâs finest.'...
3  [['Small place with big flavours', 'The best d...
4  [['Be hungry, be very hungry....', 'Good good'...

                                              URL_TA
0  /Restaurant_Review-g187514-d10428302-Reviews-C...
1  /Restaurant_Review-g187514-d6884911-Reviews-DS...
2  /Restaurant_Review-g187514-d2006562-Reviews-Lo...
3  /Restaurant_Review-g187514-d11896546-Reviews-A...
4  /Restaurant_Review-g187514-d1953725-Reviews-Re...
      Unnamed: 0                    Cuisine Style      ID_TA  \
9538           0                       ['Indian']  d13340838
9539           0                      ['Spanish']  d13343539
9540           0     ['Mediterranean', 'Spanish']  d13345511
9541           0  ['Japanese', 'Asian', 'Fusion']  d13345610
9542           0                              NaN  d13347983

                          Name Number of Reviews Price Range Ranking Rating  \
9538  Bengol Indian Restaurant               NaN    $$ - $$$     NaN    NaN
9539               La Revuelta               NaN         NaN     NaN    NaN
9540               Casa Carmen               NaN         NaN     NaN    NaN
9541                  Gho Hfan               NaN    $$ - $$$     NaN    NaN
9542      El Escondite de Baco               NaN         NaN     NaN    NaN

     Reviews                                             URL_TA
9538     NaN  /Restaurant_Review-g187514-d13340838-Reviews-B...
9539     NaN  /Restaurant_Review-g187514-d13343539-Reviews-L...
9540     NaN  /Restaurant_Review-g187514-d13345511-Reviews-C...
9541     NaN  /Restaurant_Review-g187514-d13345610-Reviews-G...
9542     NaN  /Restaurant_Review-g187514-d13347983-Reviews-E...
NaN         4574
$$ - $$$    3601
$           1064
$$$$         304
Name: Price Range, dtype: int64
4 of 5 bubbles      2855
3.5 of 5 bubbles    1848
4.5 of 5 bubbles    1730
3 of 5 bubbles      1006
NaN                  731
5 of 5 bubbles       639
2.5 of 5 bubbles     414
2 of 5 bubbles       199
1 of 5 bubbles        73
1.5 of 5 bubbles      45
-1 of 5 bubbles        3
Name: Rating, dtype: int64

Oporto_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Data columns (total 10 columns):
Unnamed: 0           1571 non-null int64
Cuisine Style        1183 non-null object
ID_TA                1571 non-null object
Name                 1571 non-null object
Number of Reviews    1388 non-null object
Price Range          1042 non-null object
Ranking              1484 non-null object
Rating               1479 non-null object
Reviews              1479 non-null object
URL_TA               1571 non-null object
dtypes: int64(1), object(9)
memory usage: 122.8+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Steakhouse', 'European', 'Portuguese', 'Vege...  d12966802
1           0  ['Mediterranean', 'European', 'Portuguese', 'V...  d11891403
2           0  ['European', 'Portuguese', 'Vegetarian Friendl...   d1754835
3           0  ['Mediterranean', 'European', 'Delicatessen', ...   d6986334
4           0  ['Mediterranean', 'European', 'Spanish', 'Port...   d6856693

                         Name Number of Reviews Price Range  \
0              MUU Steakhouse               269        $$$$
1        Petisqueira Voltaria               177    $$ - $$$
2                  O Paparico             2,108        $$$$
3            Dama Pe de Cabra               862           $
4  Tapabento - Bar Restaurant             3,086    $$ - $$$

                            Ranking            Rating  \
0  #1 of 1,571 Restaurants in Porto    5 of 5 bubbles
1  #2 of 1,571 Restaurants in Porto  4.5 of 5 bubbles
2  #3 of 1,571 Restaurants in Porto  4.5 of 5 bubbles
3  #4 of 1,571 Restaurants in Porto  4.5 of 5 bubbles
4  #5 of 1,571 Restaurants in Porto  4.5 of 5 bubbles

                                             Reviews  \
0  [['High quality and passionate crew', 'Fabulou...
1  [['A Great New Years Eve Experience!', 'Lovely...
2  [['You get what you pay for... wonderful!', 'N...
3  [['Worth the second attempt', 'Anazing'], ['01...
4  [['Great tapas restaurant!!', 'Great friendly ...

                                              URL_TA
0  /Restaurant_Review-g189180-d12966802-Reviews-M...
1  /Restaurant_Review-g189180-d11891403-Reviews-P...
2  /Restaurant_Review-g189180-d1754835-Reviews-O_...
3  /Restaurant_Review-g189180-d6986334-Reviews-Da...
4  /Restaurant_Review-g189180-d6856693-Reviews-Ta...
      Unnamed: 0                                      Cuisine Style  \
1566           0                                        ['Italian']
1567           0  ['Mediterranean', 'European', 'Portuguese', 'W...
1568           0                                       ['European']
1569           0                                    ['Cafe', 'Pub']
1570           0                         ['European', 'Portuguese']

          ID_TA                               Name Number of Reviews  \
1566  d13327302                            Amorino               NaN
1567  d13330825              Retiro da Mariquinhas               NaN
1568  d13338402                   Tasquinha Rebelo               NaN
1569  d13340293                              Combi               NaN
1570  d13340862  Restaurante Rito Cozinha Regional               NaN

     Price Range Ranking Rating Reviews  \
1566           $     NaN    NaN     NaN
1567         NaN     NaN    NaN     NaN
1568    $$ - $$$     NaN    NaN     NaN
1569         NaN     NaN    NaN     NaN
1570    $$ - $$$     NaN    NaN     NaN

                                                 URL_TA
1566  /Restaurant_Review-g189180-d13327302-Reviews-A...
1567  /Restaurant_Review-g189180-d13330825-Reviews-R...
1568  /Restaurant_Review-g189180-d13338402-Reviews-T...
1569  /Restaurant_Review-g189180-d13340293-Reviews-C...
1570  /Restaurant_Review-g189180-d13340862-Reviews-R...
$$ - $$$    623
NaN         529
$           379
$$$$         40
Name: Price Range, dtype: int64
4.5 of 5 bubbles    536
4 of 5 bubbles      466
5 of 5 bubbles      186
3.5 of 5 bubbles    181
NaN                  92
3 of 5 bubbles       73
2.5 of 5 bubbles     23
1.5 of 5 bubbles      6
1 of 5 bubbles        4
2 of 5 bubbles        4
Name: Rating, dtype: int64

Oslo_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 10 columns):
Unnamed: 0           1213 non-null int64
Cuisine Style        914 non-null object
ID_TA                1213 non-null object
Name                 1213 non-null object
Number of Reviews    1074 non-null object
Price Range          779 non-null object
Ranking              1137 non-null object
Rating               1138 non-null object
Reviews              1138 non-null object
URL_TA               1213 non-null object
dtypes: int64(1), object(9)
memory usage: 94.8+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['Contemporary', 'European', 'Scandinavian', '...   d805342
1           0  ['European', 'Scandinavian', 'Norwegian', 'Veg...  d2447055
2           0  ['French', 'European', 'Scandinavian', 'Norweg...  d1045646
3           0  ['Italian', 'Mediterranean', 'European', 'Vege...  d1512099
4           0  ['French', 'European', 'Vegetarian Friendly', ...  d2091264

                          Name Number of Reviews Price Range  \
0            Statholdergaarden               578        $$$$
1                       Maaemo               412        $$$$
2                     hos Thea             1,062        $$$$
3  Ruffino Ristorante Italiano             1,696    $$ - $$$
4     Le Benjamin Bar & Bistro               570    $$ - $$$

                           Ranking            Rating  \
0  #1 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles
1  #2 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles
2  #3 of 1,215 Restaurants in Oslo    5 of 5 bubbles
3  #4 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles
4  #5 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles

                                             Reviews  \
0  [['Classic eating at its best !', 'Expensive, ...
1  [['Extraordinary gastronomic experience', 'onc...
2  [['Absolutely amazing', 'Amazingly lovely expe...
3  [['Two visits, two amazing meals (and wine ;)'...
4  [['Date night', 'Average food for above averag...

                                              URL_TA
0  /Restaurant_Review-g190479-d805342-Reviews-Sta...
1  /Restaurant_Review-g190479-d2447055-Reviews-Ma...
2  /Restaurant_Review-g190479-d1045646-Reviews-Ho...
3  /Restaurant_Review-g190479-d1512099-Reviews-Ru...
4  /Restaurant_Review-g190479-d2091264-Reviews-Le...

      Unnamed: 0                                      Cuisine Style  \
1208           0  ['Indian', 'Brazilian', 'South American', 'Cen...
1209           0                                        ['Italian']
1210           0                      ['Lebanese', 'Mediterranean']
1211           0                                          ['Diner']
1212           0  ['American', 'Fast Food', 'Asian', 'Grill', 'V...

          ID_TA                          Name Number of Reviews Price Range  \
1208  d13219518         Oslo Smoothie Factory               NaN           $
1209  d13290694  Piccolo Paradiso Pilestredet               NaN    $$ - $$$
1210  d13298068               Vestlibua Pizza               NaN         NaN
1211  d13329520         Northland, Gardermoen               NaN         NaN
1212  d13355217           Stuffed Deli Bazaar               NaN         NaN

     Ranking Rating Reviews                                             URL_TA
1208     NaN    NaN     NaN  /Restaurant_Review-g190479-d13219518-Reviews-O...
1209     NaN    NaN     NaN  /Restaurant_Review-g190479-d13290694-Reviews-P...
1210     NaN    NaN     NaN  /Restaurant_Review-g190479-d13298068-Reviews-V...
1211     NaN    NaN     NaN  /Restaurant_Review-g190479-d13329520-Reviews-N...
1212     NaN    NaN     NaN  /Restaurant_Review-g190479-d13355217-Reviews-S...
$$ - $$$    573
NaN         434
$           136
$$$$         70
Name: Price Range, dtype: int64
4 of 5 bubbles      443
3.5 of 5 bubbles    238
4.5 of 5 bubbles    237
3 of 5 bubbles      107
NaN                  75
5 of 5 bubbles       72
2.5 of 5 bubbles     21
2 of 5 bubbles       14
1 of 5 bubbles        4
1.5 of 5 bubbles      1
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Paris_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14874 entries, 0 to 14873
Data columns (total 10 columns):
Unnamed: 0           14874 non-null int64
Cuisine Style        11357 non-null object
ID_TA                14874 non-null object
Name                 14874 non-null object
Number of Reviews    13280 non-null object
Price Range          9580 non-null object
Ranking              13988 non-null object
Rating               14000 non-null object
Reviews              14001 non-null object
URL_TA               14874 non-null object
dtypes: int64(1), object(9)
memory usage: 1.1+ MB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['French', 'Seafood', 'European', 'Vegetarian ...  d10622151
1           0  ['French', 'Mediterranean', 'European', 'Conte...  d12082727
2           0             ['French', 'European', 'Contemporary']   d9806534
3           0  ['South American', 'Brew Pub', 'European', 'Ve...  d10514254
4           0  ['French', 'European', 'Vegetarian Friendly', ...    d719052

                     Name Number of Reviews Price Range  \
0               La Meduse               178    $$ - $$$
1            Le Cappiello               208    $$ - $$$
2                   ASPIC               427        $$$$
3  Les Apotres de Pigalle             1,152    $$ - $$$
4                 Epicure             2,305        $$$$

                             Ranking          Rating  \
0  #1 of 14,875 Restaurants in Paris  5 of 5 bubbles
1  #2 of 14,875 Restaurants in Paris  5 of 5 bubbles
2  #3 of 14,875 Restaurants in Paris  5 of 5 bubbles
3  #4 of 14,875 Restaurants in Paris  5 of 5 bubbles
4  #5 of 14,875 Restaurants in Paris  5 of 5 bubbles

                                             Reviews  \
0  [["You can't figure out from the outside the.....
1  [['Incredible!', 'Amazing food, wonderful atmo...
2  [['Second time and just as good', 'Best dinner...
3  [['Wonderful culinary experience', 'Must go re...
4  [['Very nice place', 'Speechless'], ['01/08/20...

                                              URL_TA
0  /Restaurant_Review-g187147-d10622151-Reviews-L...
1  /Restaurant_Review-g187147-d12082727-Reviews-L...
2  /Restaurant_Review-g187147-d9806534-Reviews-AS...
3  /Restaurant_Review-g187147-d10514254-Reviews-L...
4  /Restaurant_Review-g187147-d719052-Reviews-Epi...
       Unnamed: 0         Cuisine Style      ID_TA  \
14869           0    ['French', 'Cafe']  d13343734
14870           0    ['Middle Eastern']  d13344298
14871           0           ['Italian']  d13344313
14872           0  ['Italian', 'Pizza']  d13345438
14873           0         ['Fast Food']  d13345492

                               Name Number of Reviews Price Range Ranking  \
14869               Paul et Rimbaud               NaN    $$ - $$$     NaN
14870                       Shamyat               NaN    $$ - $$$     NaN
14871                   Bar Le Onze               NaN    $$ - $$$     NaN
14872  Trattoria Del Arte Haussmann               NaN    $$ - $$$     NaN
14873                       Pur Jus               NaN           $     NaN

      Rating Reviews                                             URL_TA
14869    NaN     NaN  /Restaurant_Review-g187147-d13343734-Reviews-P...
14870    NaN     NaN  /Restaurant_Review-g187147-d13344298-Reviews-S...
14871    NaN     NaN  /Restaurant_Review-g187147-d13344313-Reviews-B...
14872    NaN     NaN  /Restaurant_Review-g187147-d13345438-Reviews-T...
14873    NaN     NaN  /Restaurant_Review-g187147-d13345492-Reviews-P...
$$ - $$$    7175
NaN         5294
$           1726
$$$$         679
Name: Price Range, dtype: int64
4 of 5 bubbles      4981
4.5 of 5 bubbles    3625
3.5 of 5 bubbles    2549
3 of 5 bubbles      1120
5 of 5 bubbles      1076
NaN                  874
2.5 of 5 bubbles     377
2 of 5 bubbles       160
1 of 5 bubbles        68
1.5 of 5 bubbles      39
-1 of 5 bubbles        5
Name: Rating, dtype: int64

Prague_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4859 entries, 0 to 4858
Data columns (total 10 columns):
Unnamed: 0           4859 non-null int64
Cuisine Style        4032 non-null object
ID_TA                4859 non-null object
Name                 4859 non-null object
Number of Reviews    3711 non-null object
Price Range          2674 non-null object
Ranking              4172 non-null object
Rating               4172 non-null object
Reviews              4172 non-null object
URL_TA               4859 non-null object
dtypes: int64(1), object(9)
memory usage: 379.7+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Italian', 'Mediterranean', 'European', 'Wine...   d8374547
1           0  ['Indian', 'Vegetarian Friendly', 'Vegan Optio...  d10920105
2           0  ['International', 'Bar', 'Vegetarian Friendly'...   d6494862
3           0  ['International', 'European', 'Vegetarian Frie...  d10299686
4           0  ['International', 'European', 'Asian', 'Vegeta...   d8568017

                              Name Number of Reviews Price Range  \
0         Wine O'Clock Shop Prague               967    $$ - $$$
1  Namaste India Indian Restaurant               377    $$ - $$$
2                 Be Bop Lobby Bar               797    $$ - $$$
3             Portfolio restaurant               884        $$$$
4                         Etnosvet             1,485    $$ - $$$

                             Ranking            Rating  \
0  #1 of 4,882 Restaurants in Prague    5 of 5 bubbles
1  #2 of 4,882 Restaurants in Prague    5 of 5 bubbles
2  #3 of 4,882 Restaurants in Prague    5 of 5 bubbles
3  #4 of 4,882 Restaurants in Prague    5 of 5 bubbles
4  #5 of 4,882 Restaurants in Prague  4.5 of 5 bubbles

                                             Reviews  \
0  [['Best dinner in prague!', 'Lovely evening'],...
1  [['fantastic indian food!', 'Really great!!'],...
2  [['NYE 2018', 'Just the coolest cocktails ever...
3  [['New year break', 'Perfect for a couple geta...
4  [['Vegan vegeterian top fine dining 5 stars', ...

                                              URL_TA
0  /Restaurant_Review-g274707-d8374547-Reviews-Wi...
1  /Restaurant_Review-g274707-d10920105-Reviews-N...
2  /Restaurant_Review-g274707-d6494862-Reviews-Be...
3  /Restaurant_Review-g274707-d10299686-Reviews-P...
4  /Restaurant_Review-g274707-d8568017-Reviews-Et...
      Unnamed: 0                                      Cuisine Style  \
4854           0  ['Cafe', 'Fast Food', 'Turkish', 'Healthy', 'S...
4855           0                     ['Japanese', 'Thai', 'Fusion']
4856           0                                  ['Mediterranean']
4857           0           ['Steakhouse', 'International', 'Asian']
4858           0          ['European', 'Grill', 'Central European']

          ID_TA                  Name Number of Reviews Price Range Ranking  \
4854  d13348057     Royal Kebab House               NaN           $     NaN
4855  d13350707     Thai Thai & Ramen               NaN         NaN     NaN
4856  d13352960                 Maare               NaN         NaN     NaN
4857  d13355090  Dave B. - Taste Five               NaN    $$ - $$$     NaN
4858  d13355939                 Pipca               NaN         NaN     NaN

     Rating Reviews                                             URL_TA
4854    NaN     NaN  /Restaurant_Review-g274707-d13348057-Reviews-R...
4855    NaN     NaN  /Restaurant_Review-g274707-d13350707-Reviews-T...
4856    NaN     NaN  /Restaurant_Review-g274707-d13352960-Reviews-M...
4857    NaN     NaN  /Restaurant_Review-g274707-d13355090-Reviews-D...
4858    NaN     NaN  /Restaurant_Review-g274707-d13355939-Reviews-P...
NaN         2185
$$ - $$$    1702
$            871
$$$$         101
Name: Price Range, dtype: int64
4 of 5 bubbles      1270
4.5 of 5 bubbles    1245
NaN                  687
3.5 of 5 bubbles     586
5 of 5 bubbles       511
3 of 5 bubbles       343
2.5 of 5 bubbles      86
2 of 5 bubbles        73
1 of 5 bubbles        38
1.5 of 5 bubbles      19
-1 of 5 bubbles        1
Name: Rating, dtype: int64

Rome_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5949 entries, 0 to 5948
Data columns (total 10 columns):
Unnamed: 0           5949 non-null int64
Cuisine Style        5214 non-null object
ID_TA                5949 non-null object
Name                 5949 non-null object
Number of Reviews    5766 non-null object
Price Range          4701 non-null object
Ranking              5949 non-null object
Rating               5949 non-null object
Reviews              5949 non-null object
URL_TA               5949 non-null object
dtypes: int64(1), object(9)
memory usage: 464.8+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0                                        ['Italian']  d11752096
1           0  ['Italian', 'Street Food', 'Vegetarian Friendly']  d10044289
2           0  ['Fast Food', 'Italian', 'Cafe', 'Vegetarian F...  d11917500
3           0  ['Italian', 'Fast Food', 'Mediterranean', 'Eur...  d10206909
4           0  ['Mediterranean', 'Italian', 'Delicatessen', '...   d6368828

                               Name Number of Reviews Price Range  \
0  Federica & Barbara of BB Kitchen               409    $$ - $$$
1                     Pane e Salame             4,867           $
2                         Two Sizes             1,186           $
3                          Bread-in               666           $
4                      Birra e Sale               520           $

                            Ranking            Rating  \
0  #1 of 10,114 Restaurants in Rome    5 of 5 bubbles
1  #2 of 10,114 Restaurants in Rome    5 of 5 bubbles
2  #3 of 10,114 Restaurants in Rome    5 of 5 bubbles
3  #4 of 10,114 Restaurants in Rome    5 of 5 bubbles
4  #5 of 10,114 Restaurants in Rome  4.5 of 5 bubbles

                                             Reviews  \
0  [['Unmissable experience', 'Magical evening'],...
1  [['Very nice panini', 'The best'], ['01/07/201...
2  [['Worth a stop!', 'Delicious!'], ['01/08/2018...
3  [['Just go!', 'Perfect pit stop'], ['01/09/201...
4  [['Great for lunch', 'Super food'], ['01/08/20...

                                              URL_TA
0  /Restaurant_Review-g187791-d11752096-Reviews-F...
1  /Restaurant_Review-g187791-d10044289-Reviews-P...
2  /Restaurant_Review-g187791-d11917500-Reviews-T...
3  /Restaurant_Review-g187791-d10206909-Reviews-B...
4  /Restaurant_Review-g187791-d6368828-Reviews-Bi...
      Unnamed: 0                     Cuisine Style     ID_TA  \
5944           0                               NaN  d7691102
5945           0                               NaN  d5895707
5946           0      ['Italian', 'Mediterranean']  d3206927
5947           0                       ['Italian']  d2364472
5948           0  ['Pizza', 'Seafood', 'European']  d3220981

                           Name Number of Reviews Price Range  \
5944        Livio Emilio & Csnc                 8         NaN
5945                 Pizza Tata                18         NaN
5946                    Vudabar                47    $$ - $$$
5947  I Porchettoni der Pigneto               217           $
5948                Le Terrazze               131         NaN

                                   Ranking            Rating  \
5944  #5,946 of 10,114 Restaurants in Rome  4.5 of 5 bubbles
5945  #5,947 of 10,114 Restaurants in Rome    4 of 5 bubbles
5946  #5,948 of 10,114 Restaurants in Rome    4 of 5 bubbles
5947  #5,949 of 10,114 Restaurants in Rome  3.5 of 5 bubbles
5948  #5,950 of 10,114 Restaurants in Rome  3.5 of 5 bubbles

                                                Reviews  \
5944                                           [[], []]
5945  [['small place, great service, delicious food....
5946  [['Prosecco in the evening', 'Service is wanti...
5947  [['Lovely', 'Amazing Pasta'], ['06/24/2017', '...
5948  [['Fantastic view of Rome at Night', 'what a p...

                                                 URL_TA
5944  /Restaurant_Review-g187791-d7691102-Reviews-Li...
5945  /Restaurant_Review-g187791-d5895707-Reviews-Pi...
5946  /Restaurant_Review-g187791-d3206927-Reviews-Vu...
5947  /Restaurant_Review-g187791-d2364472-Reviews-I_...
5948  /Restaurant_Review-g187791-d3220981-Reviews-Le...
$$ - $$$    3004
$           1472
NaN         1248
$$$$         225
Name: Price Range, dtype: int64
4 of 5 bubbles      2329
4.5 of 5 bubbles    2073
3.5 of 5 bubbles     771
5 of 5 bubbles       753
3 of 5 bubbles        23
Name: Rating, dtype: int64

Stockholm_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2705 entries, 0 to 2704
Data columns (total 10 columns):
Unnamed: 0           2705 non-null int64
Cuisine Style        1815 non-null object
ID_TA                2705 non-null object
Name                 2705 non-null object
Number of Reviews    2266 non-null object
Price Range          1415 non-null object
Ranking              2461 non-null object
Rating               2463 non-null object
Reviews              2465 non-null object
URL_TA               2705 non-null object
dtypes: int64(1), object(9)
memory usage: 211.4+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['European', 'Swedish', 'Scandinavian', 'Veget...  d7345323
1           0  ['European', 'Swedish', 'Scandinavian', 'Veget...  d5600577
2           0  ['European', 'Swedish', 'Scandinavian', 'Inter...   d698819
3           0  ['European', 'Spanish', 'Wine Bar', 'Vegetaria...  d2713535
4           0  ['European', 'Contemporary', 'Swedish', 'Scand...  d3608386

                     Name Number of Reviews Price Range  \
0  Adam & Albin Matstudio               165    $$ - $$$
1               Lilla Ego               549        $$$$
2           Operakallaren               359        $$$$
3              Bar Nombre               496    $$ - $$$
4        Smorgastarteriet               543        $$$$

                                Ranking            Rating  \
0  #1 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
1  #2 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
2  #3 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
3  #4 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
4  #5 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles

                                             Reviews  \
0  [['Fantastic Dinner', '30th birthday feast'], ...
1  [['Loved the Pork Tartare', 'Excellent'], ['12...
2  [['Unbelievable Food with an Even Better Expe....
3  [['Warm welcome for amazing food', 'Food toget...
4  [['Brilliant', 'Exellent !'], ['12/21/2017', '...

                                              URL_TA
0  /Restaurant_Review-g189852-d7345323-Reviews-Ad...
1  /Restaurant_Review-g189852-d5600577-Reviews-Li...
2  /Restaurant_Review-g189852-d698819-Reviews-Ope...
3  /Restaurant_Review-g189852-d2713535-Reviews-Ba...
4  /Restaurant_Review-g189852-d3608386-Reviews-Sm...
      Unnamed: 0                                      Cuisine Style  \
2700           0         ['Italian', 'Cafe', 'European', 'Swedish']
2701           0                                          ['Pizza']
2702           0  ['Lebanese', 'Fast Food', 'Mediterranean', 'Ba...
2703           0                                           ['Cafe']
2704           0                                                NaN

          ID_TA                                     Name Number of Reviews  \
2700  d13337648                        Cafe Wickholm & P               NaN
2701  d13340843  Hallonbergens kiosk grill & pizzeria AB               NaN
2702  d13340846                                    Midan               NaN
2703  d13340883          Nastan Hemma Cafe och Konditori               NaN
2704  d13360173                   McDonald's Sergelgatan               NaN

     Price Range Ranking Rating   Reviews  \
2700    $$ - $$$     NaN    NaN       NaN
2701           $     NaN    NaN       NaN
2702         NaN     NaN    NaN       NaN
2703         NaN     NaN    NaN       NaN
2704         NaN     NaN    NaN  [[], []]

                                                 URL_TA
2700  /Restaurant_Review-g189852-d13337648-Reviews-C...
2701  /Restaurant_Review-g189852-d13340843-Reviews-H...
2702  /Restaurant_Review-g189852-d13340846-Reviews-M...
2703  /Restaurant_Review-g189852-d13340883-Reviews-N...
2704  /Restaurant_Review-g189852-d13360173-Reviews-M...
NaN         1290
$$ - $$$    1164
$            173
$$$$          78
Name: Price Range, dtype: int64
4 of 5 bubbles      856
3.5 of 5 bubbles    556
4.5 of 5 bubbles    528
NaN                 242
3 of 5 bubbles      238
5 of 5 bubbles      164
2.5 of 5 bubbles     62
2 of 5 bubbles       42
1.5 of 5 bubbles      9
1 of 5 bubbles        8
Name: Rating, dtype: int64

Toulouse_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1606 entries, 0 to 1605
Data columns (total 10 columns):
Unnamed: 0           1606 non-null int64
Cuisine Style        1046 non-null object
ID_TA                1606 non-null object
Name                 1606 non-null object
Number of Reviews    1412 non-null object
Price Range          831 non-null object
Ranking              1483 non-null object
Rating               1481 non-null object
Reviews              1481 non-null object
URL_TA               1606 non-null object
dtypes: int64(1), object(9)
memory usage: 125.5+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0                                         ['French']  d10818862
1           0                             ['French', 'European']    d806529
2           0  ['French', 'European', 'Gastropub', 'Vegetaria...   d9886078
3           0  ['French', 'Contemporary', 'European', 'Vegeta...   d3961824
4           0  ['French', 'Italian', 'Mediterranean', 'Vegeta...   d5960438

                             Name Number of Reviews Price Range  \
0                   Le Restaurant               129    $$ - $$$
1                   Michel Sarran             1,060        $$$$
2                   Les Complices               345    $$ - $$$
3     La Cantine des Sales Gosses               291    $$ - $$$
4  L'Ouverture Restaurant Musical               490    $$ - $$$

                               Ranking            Rating  \
0  #1 of 1,606 Restaurants in Toulouse    5 of 5 bubbles
1  #2 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles
2  #3 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles
3  #4 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles
4  #5 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles

                                             Reviews  \
0  [['Reserve - GO - be happy! One of our best m....
1  [['Worth it', 'home cooking?'], ['09/07/2017',...
2  [['Very popular - With Good Reason', 'Get to t...
3  [['Excellent quality and friendly place', 'Gen...
4  [['Our special dinner date night', 'Delightful...

                                              URL_TA
0  /Restaurant_Review-g187175-d10818862-Reviews-L...
1  /Restaurant_Review-g187175-d806529-Reviews-Mic...
2  /Restaurant_Review-g187175-d9886078-Reviews-Le...
3  /Restaurant_Review-g187175-d3961824-Reviews-La...
4  /Restaurant_Review-g187175-d5960438-Reviews-L_...
      Unnamed: 0                                    Cuisine Style      ID_TA  \
1601           0                           ['French', 'European']  d13220992
1602           0                                       ['French']  d13223846
1603           0                                      ['Italian']  d13273530
1604           0  ['Moroccan', 'Mediterranean', 'Middle Eastern']  d13275682
1605           0                                              NaN  d13340005

                         Name Number of Reviews Price Range Ranking Rating  \
1601          Secret de Pains               NaN         NaN     NaN    NaN
1602          Lot of Galettes               NaN    $$ - $$$     NaN    NaN
1603              Pizz&Cheese               NaN           $     NaN    NaN
1604               L'alhambra               NaN    $$ - $$$     NaN    NaN
1605  Tacos Avenue Borderouge               NaN         NaN     NaN    NaN

     Reviews                                             URL_TA
1601     NaN  /Restaurant_Review-g187175-d13220992-Reviews-S...
1602     NaN  /Restaurant_Review-g187175-d13223846-Reviews-L...
1603     NaN  /Restaurant_Review-g187175-d13273530-Reviews-P...
1604     NaN  /Restaurant_Review-g187175-d13275682-Reviews-L...
1605     NaN  /Restaurant_Review-g187175-d13340005-Reviews-T...
NaN         775
$$ - $$$    619
$           176
$$$$         36
Name: Price Range, dtype: int64
4 of 5 bubbles      463
4.5 of 5 bubbles    442
3.5 of 5 bubbles    234
5 of 5 bubbles      141
NaN                 125
3 of 5 bubbles      108
2.5 of 5 bubbles     53
2 of 5 bubbles       24
1 of 5 bubbles        9
1.5 of 5 bubbles      7
Name: Rating, dtype: int64

Vienna_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3724 entries, 0 to 3723
Data columns (total 10 columns):
Unnamed: 0           3724 non-null int64
Cuisine Style        2673 non-null object
ID_TA                3724 non-null object
Name                 3724 non-null object
Number of Reviews    3161 non-null object
Price Range          2127 non-null object
Ranking              3444 non-null object
Rating               3442 non-null object
Reviews              3441 non-null object
URL_TA               3724 non-null object
dtypes: int64(1), object(9)
memory usage: 291.0+ KB
None
   Unnamed: 0                                      Cuisine Style     ID_TA  \
0           0  ['Austrian', 'European', 'Central European', '...  d7361583
1           0  ['Austrian', 'European', 'Central European', '...  d6691633
2           0                                       ['Austrian']  d7118372
3           0  ['Fusion', 'International', 'Vegetarian Friend...  d1900308
4           0  ['International', 'European', 'Central Europea...  d3485308

                     Name Number of Reviews Price Range  \
0  Casino Restaurant Wien               241        $$$$
1           Die Metzgerei               785    $$ - $$$
2      Vinothek W-Einkehr               444    $$ - $$$
3   Restaurant Lebenbauer               471    $$ - $$$
4                    Mini             1,623    $$ - $$$

                             Ranking            Rating  \
0  #1 of 3,724 Restaurants in Vienna    5 of 5 bubbles
1  #2 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles
2  #3 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles
3  #4 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles
4  #5 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles

                                             Reviews  \
0  [["Fine dining at it's best", 'Xmas dinner'], ...
1  [['Dinner in Vienna', 'Great food with a comfo...
2  [['Excellent', 'Worth the ratings'], ['01/05/2...
3  [['Perfect vegetarian food', 'Superb'], ['01/1...
4  [['Delicious food and amazing wines', 'Great p...

                                              URL_TA
0  /Restaurant_Review-g190454-d7361583-Reviews-Ca...
1  /Restaurant_Review-g190454-d6691633-Reviews-Di...
2  /Restaurant_Review-g190454-d7118372-Reviews-Vi...
3  /Restaurant_Review-g190454-d1900308-Reviews-Re...
4  /Restaurant_Review-g190454-d3485308-Reviews-Mi...
      Unnamed: 0                                      Cuisine Style  \
3719           0                 ['French', 'Austrian', 'European']
3720           0  ['Austrian', 'International', 'European', 'Fus...
3721           0                 ['German', 'Austrian', 'European']
3722           0                  ['Cafe', 'Contemporary', 'Diner']
3723           0                                                NaN

          ID_TA                    Name Number of Reviews Price Range Ranking  \
3719  d13331692  restaurant you, Vienne               NaN         NaN     NaN
3720  d13337747       Kartonage Kitchen               NaN           $     NaN
3721  d13341715                    Fino               NaN         NaN     NaN
3722  d13343747       Cafe Zeitgenossin               NaN           $     NaN
3723  d13359780               El Gaucho               NaN         NaN     NaN

     Rating Reviews                                             URL_TA
3719    NaN     NaN  /Restaurant_Review-g190454-d13331692-Reviews-R...
3720    NaN     NaN  /Restaurant_Review-g190454-d13337747-Reviews-K...
3721    NaN     NaN  /Restaurant_Review-g190454-d13341715-Reviews-F...
3722    NaN     NaN  /Restaurant_Review-g190454-d13343747-Reviews-C...
3723    NaN     NaN  /Restaurant_Review-g190454-d13359780-Reviews-E...

$$ - $$$    1627
NaN         1597
$            392
$$$$         108
Name: Price Range, dtype: int64
4 of 5 bubbles      1203
4.5 of 5 bubbles    1031
3.5 of 5 bubbles     501
5 of 5 bubbles       390
NaN                  282
3 of 5 bubbles       207
2.5 of 5 bubbles      50
2 of 5 bubbles        40
1 of 5 bubbles        13
1.5 of 5 bubbles       6
-1 of 5 bubbles        1
Name: Rating, dtype: int64

Warsaw_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 10 columns):
Unnamed: 0           2352 non-null int64
Cuisine Style        1692 non-null object
ID_TA                2352 non-null object
Name                 2352 non-null object
Number of Reviews    1941 non-null object
Price Range          1358 non-null object
Ranking              2154 non-null object
Rating               2146 non-null object
Reviews              2147 non-null object
URL_TA               2352 non-null object
dtypes: int64(1), object(9)
memory usage: 183.8+ KB
None
   Unnamed: 0                                      Cuisine Style      ID_TA  \
0           0  ['Thai', 'Asian', 'Vegetarian Friendly', 'Glut...  d12871486
1           0  ['Japanese', 'Sushi', 'Asian', 'Vegetarian Fri...   d5558421
2           0  ['Polish', 'European', 'Central European', 'In...   d2018224
3           0  ['Polish', 'European', 'Contemporary', 'Fusion...   d8754289
4           0  ['Polish', 'European', 'Eastern European', 'Ce...    d697149

                               Name Number of Reviews Price Range  \
0                          San Thai               108           $
1          Soto Sushi - Warynskiego               281    $$ - $$$
2                        Amber Room               357        $$$$
3  N31restaurant&bar by Robert Sowa               354    $$ - $$$
4                     Polska Rozana             2,356        $$$$

                             Ranking            Rating  \
0  #1 of 2,352 Restaurants in Warsaw    5 of 5 bubbles
1  #2 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles
2  #3 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles
3  #4 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles
4  #5 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles

                                             Reviews  \
0  [['Great experience', 'Best Thai food out of T...
1  [["Best sushi I've ever tried", 'One of best s...
2  [['Lovely building and tasty food', 'Great exp...
3  [['Awesome experience', 'Exquisite!'], ['01/06...
4  [['Excellent service, delicious food', 'Nice d...

                                              URL_TA
0  /Restaurant_Review-g274856-d12871486-Reviews-S...
1  /Restaurant_Review-g274856-d5558421-Reviews-So...
2  /Restaurant_Review-g274856-d2018224-Reviews-Am...
3  /Restaurant_Review-g274856-d8754289-Reviews-N3...
4  /Restaurant_Review-g274856-d697149-Reviews-Pol...
      Unnamed: 0                                      Cuisine Style  \
2347           0  ['Bar', 'Cafe', 'Asian', 'Korean', 'Pub', 'Fus...
2348           0  ['Italian', 'French', 'Polish', 'European', 'S...
2349           0              ['Indian', 'Asian', 'Thai', 'Nepali']
2350           0                                                NaN
2351           0               ['American', 'Grill', 'Street Food']

          ID_TA                       Name Number of Reviews Price Range  \
2347  d13340626               The Cool Cat               NaN           $
2348  d13340633  MISH MASH cocktail & food               NaN           $
2349  d13341030                    Lumbini               NaN    $$ - $$$
2350  d13344429                  Wietnamka               NaN         NaN
2351  d13350265       Pasibus Zlote Tarasy               NaN           $

     Ranking Rating Reviews                                             URL_TA
2347     NaN    NaN     NaN  /Restaurant_Review-g274856-d13340626-Reviews-T...
2348     NaN    NaN     NaN  /Restaurant_Review-g274856-d13340633-Reviews-M...
2349     NaN    NaN     NaN  /Restaurant_Review-g274856-d13341030-Reviews-L...
2350     NaN    NaN     NaN  /Restaurant_Review-g274856-d13344429-Reviews-W...
2351     NaN    NaN     NaN  /Restaurant_Review-g274856-d13350265-Reviews-P...
NaN         994
$$ - $$$    898
$           394
$$$$         66
Name: Price Range, dtype: int64
4 of 5 bubbles      716
4.5 of 5 bubbles    669
3.5 of 5 bubbles    306
5 of 5 bubbles      250
NaN                 206
3 of 5 bubbles      116
2.5 of 5 bubbles     42
2 of 5 bubbles       32
1 of 5 bubbles       14
1.5 of 5 bubbles      1
Name: Rating, dtype: int64

#### Problems to fix in the raws datasets:
- All data are object type 
    - the price range and rate are categorical variables, taking 3 and 9 values (NaN not included)
    - Rate, rank, number of reviews as numerical data
- No row Index, can used instead rank
- Unamed column to be deleted
- rearrange orger of the columns

## Dataset Curation & Aggregated Dataset Creation

Cures raw datasets to:
- have numerical useful values for number reviews, rate, rank
- have price range as a categorical type
- lists ready to be parsed
- rows in order and first empty row deleted
- add a column with city name for further concatenation

==> Creates a global dataset with concatenated curated dataset

In [26]:
#Curates all the raw.csv files in the current director and create a new curated & aggregated dataset    
raw_csv_files = glob2.glob('*raw.csv')
print(raw_csv_files)
curated_dataset = pd.DataFrame()

#Curates all the raw files from scraper
for file in raw_csv_files:
    city = file[:file.find('_')]
    print(city + ': Curating ' + file)
    dataset = pd.read_csv(file, sep=',',  encoding="utf-8")
    
    #broadcast the city name in the dataset
    dataset['City'] = city
    
    #Remove first empty column'Unamed: 0'
    dataset = dataset.drop('Unnamed: 0', axis=1)
    
    #Rating column into numerical data by slicing ' of 5 bubbles'
    dataset['Rating'] = dataset['Rating'].apply(lambda x: str(x)[:-13])
    dataset['Rating'] = pd.to_numeric(dataset['Rating'], errors='ignore')
    
    #Ranking column into numerical by slicing '#' and ' of xx restaurants in city'
    dataset['Ranking'] = dataset['Ranking'].apply(lambda x: str(x)[1:(str(x).find(' of'))].replace(',',''))
    dataset['Ranking'] = pd.to_numeric(dataset['Ranking'], errors='coerce')
    
    #Number of reviews column into numerical
    dataset['Number of Reviews'] =  dataset['Number of Reviews'].apply(lambda x: str(x).replace(',',''))
    dataset['Number of Reviews'] = pd.to_numeric(dataset['Number of Reviews'], errors='coerce')
    
    #Price range as categorical type:
    dataset['Price Range'] = dataset['Price Range'].astype('category')
    
    #Re-order columns
    dataset = dataset[['Name', 'City', 'Cuisine Style', 'Ranking', 'Rating', 
                       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA']]
    
    #Create a curated csv file
    dataset.to_csv(file.replace('raw', 'curated'),  sep=',', encoding="utf-8")
    print('Curated dataset created')

    #Append the curated dataset with the new curated dataset of the current city
    curated_dataset = pd.concat([curated_dataset, dataset])

#Create the aggregated curated csv file
curated_dataset.to_csv('TA_restaurants_curated.csv', sep=',', encoding="utf-8")
logging.info('Aggregated curated dataset created')
print(curated_dataset.info())

['Amsterdam_TA_restaurants_raw.csv', 'Athens_TA_restaurants_raw.csv', 'Berlin_TA_restaurants_raw.csv', 'Bratislava_TA_restaurants_raw.csv', 'Bruxelles_TA_restaurants_raw.csv', 'Budapest_TA_restaurants_raw.csv', 'Copenhagen_TA_restaurants_raw.csv', 'Dublin_TA_restaurants_raw.csv', 'Helsinki_TA_restaurants_raw.csv', 'Koln_TA_restaurants_raw.csv', 'Krakow_TA_restaurants_raw.csv', 'Lisbon_TA_restaurants_raw.csv', 'Ljubljana_TA_restaurants_raw.csv', 'London_TA_restaurants_raw.csv', 'Luxembourg_TA_restaurants_raw.csv', 'Madrid_TA_restaurants_raw.csv', 'Oporto_TA_restaurants_raw.csv', 'Oslo_TA_restaurants_raw.csv', 'Paris_TA_restaurants_raw.csv', 'Prague_TA_restaurants_raw.csv', 'Rome_TA_restaurants_raw.csv', 'Stockholm_TA_restaurants_raw.csv', 'Toulouse_TA_restaurants_raw.csv', 'Vienna_TA_restaurants_raw.csv', 'Warsaw_TA_restaurants_raw.csv']
Amsterdam: Curating Amsterdam_TA_restaurants_raw.csv
Curated dataset created
Athens: Curating Athens_TA_restaurants_raw.csv
Curated dataset created
Berlin: Curating Berlin_TA_restaurants_raw.csv
Curated dataset created
Bratislava: Curating Bratislava_TA_restaurants_raw.csv
Curated dataset created
Bruxelles: Curating Bruxelles_TA_restaurants_raw.csv
Curated dataset created
Budapest: Curating Budapest_TA_restaurants_raw.csv
Curated dataset created
Copenhagen: Curating Copenhagen_TA_restaurants_raw.csv
Curated dataset created
Dublin: Curating Dublin_TA_restaurants_raw.csv
Curated dataset created
Helsinki: Curating Helsinki_TA_restaurants_raw.csv
Curated dataset created
Koln: Curating Koln_TA_restaurants_raw.csv
Curated dataset created
Krakow: Curating Krakow_TA_restaurants_raw.csv
Curated dataset created
Lisbon: Curating Lisbon_TA_restaurants_raw.csv
Curated dataset created
Ljubljana: Curating Ljubljana_TA_restaurants_raw.csv
Curated dataset created
London: Curating London_TA_restaurants_raw.csv
Curated dataset created
Luxembourg: Curating Luxembourg_TA_restaurants_raw.csv
Curated dataset created
Madrid: Curating Madrid_TA_restaurants_raw.csv
Curated dataset created
Oporto: Curating Oporto_TA_restaurants_raw.csv
Curated dataset created
Oslo: Curating Oslo_TA_restaurants_raw.csv
Curated dataset created
Paris: Curating Paris_TA_restaurants_raw.csv
Curated dataset created
Prague: Curating Prague_TA_restaurants_raw.csv
Curated dataset created
Rome: Curating Rome_TA_restaurants_raw.csv
Curated dataset created
Stockholm: Curating Stockholm_TA_restaurants_raw.csv
Curated dataset created
Toulouse: Curating Toulouse_TA_restaurants_raw.csv
Curated dataset created
Vienna: Curating Vienna_TA_restaurants_raw.csv
Curated dataset created
Warsaw: Curating Warsaw_TA_restaurants_raw.csv
Curated dataset created

INFO:root:Aggregated curated dataset created

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99788 entries, 0 to 2351
Data columns (total 10 columns):
Name                 99788 non-null object
City                 99788 non-null object
Cuisine Style        75390 non-null object
Ranking              92270 non-null float64
Rating               92279 non-null float64
Price Range          62116 non-null category
Number of Reviews    86103 non-null float64
Reviews              92290 non-null object
URL_TA               99788 non-null object
ID_TA                99788 non-null object
dtypes: category(1), float64(3), object(6)
memory usage: 7.7+ MB
None