# TripAdvisor restaurants info scraping
Takes a city as an argument and scrape the summary data of each restaurants of the city through the TA restaurants display pages.

Curate the raw dataset generated and aggregate them into one single dataset for all cities.

https://www.tripadvisor.fr/Restaurants-g274772-Krakow_Lesser_Poland_Province_Southern_Poland.html#EATERY_OVERVIEW_BOX

In [1]:
#! /usr/bin/env python3
# coding: utf-8

import requests
from bs4 import BeautifulSoup
from user_agent import generate_user_agent
import datetime
import pandas as pd
import numpy as np
import logging
import glob2

In [2]:
#Variables that will be used globally through the script
url0 = 'https://www.tripadvisor.com'
today = datetime.datetime.now()
today_date = str(today.year) + '/' + str(today.month) + '/' + str(today.day)

#Enable display of info messages
logging.basicConfig(level=logging.INFO)

## Scrape data from the summary list of restaurants

The TripAdvisor URL to scroll through the restaurants list is built as follow:
https://www.tripadvisor.com/RestaurantSearch-g1225481-oa15, where 
- g122548 is the id of the city
- oa30 is the variable to scroll through the pages, by incrementing by 30 to go to the next page.

Restaurants are naturally sorted by descending Ranking
The information is heterogenous: 
- all restaurants have name, id, URL
- not all have cuisine, rank, rate, reviews

### Scraper

In [5]:
def scraper(city):
    query = '/TypeAheadJson?action=API&startTime='+today_date+'&uiOrigin=GEOSCOPE&source=GEOSCOPE&interleaved=true&type=geo&neighborhood_geos=true&link_type=eat&details=true&max=12&injectNeighborhoods=true&query='+city
    url = url0 + query
    #Query the API ad get a JSON answer readable by Python as dictionnaries objects
    api_response = requests.get(url).json()
    geo = api_response['results'][0]['url']  #Get the URL from the results/1st element/Url key
    restaurants_url = url0 + geo
    logging.info("Scraping {} restaurants info".format(city))
    print(restaurants_url)

    #Prepare the scrolling requests using a URL such as
    #https://www.tripadvisor.com/RestaurantSearch-g1225481-oa15
    scroll_url0= 'https://www.tripadvisor.com/RestaurantSearch-'
    b = restaurants_url.find('-')
    e = restaurants_url.find('-', b+1)
    city_id = restaurants_url[b+1:e]
    
    #Initialize the lists of parameters to scrape and the dataframe containing all data
    inc_page = 0
    resto_dict = {}
    dataset = pd.DataFrame(resto_dict)
   #columns=['Name', 'URL_TA', 'ID_TA', 'Rating', 'Ranking', 'Price Range', 'Cuisine Style', 'Number of Reviews', 'Reviews'])
    
    #Get the total number of pages
    headers = {'User-Agent': generate_user_agent(device_type="desktop", os=('mac', 'linux'))}
    r = requests.get(scroll_url0+city_id, headers=headers)
    soup = BeautifulSoup(r.text, "lxml")
    page_tag = soup.find_all(class_="pageNumbers")[0] #tag that displays number of pages at bottom of webpage
    a_tags = page_tag.find_all('a')  #last item of the returned list is the last page button
    tot_pages=int(a_tags[-1].contents[0])  #integer from text content of the <a>
    logging.info("{} pages to explore".format(tot_pages))
    
    #Explore all the pages that display restaurants
    for page_index in range (1, tot_pages+1):
        
        #URL of the current webpage
        scroll_url = scroll_url0 + city_id + '-oa' + str(inc_page)
        print("Scraping page nÂ°{}".format(page_index))
        print(scroll_url)

        #Scrape HTML content of the current webpage using the library BeautifulSoup
        r = requests.get(scroll_url,headers)
        soup = BeautifulSoup(r.text, "lxml")


        #Restaurants list starts with tag <div id="EATERY_SEARCH_RESULTS">
        data_bloc = soup.find_all(attrs={"id": "EATERY_SEARCH_RESULTS"}) #contains the data bloc in a list object
        data_bloc = data_bloc[0]  #easier to manipulate

    #First restaurant of page has a particular class attribute
        if data_bloc.find_all(class_="listing rebrand listingIndex-1 first") != []:
            resto_soup = data_bloc.find_all(class_="listing rebrand listingIndex-1 first")[0]
        else:
            resto_soup = data_bloc.find_all(class_="listing rebrand first")[0]

        #Get the url, id and name of restaurants
        url_name_tag = resto_soup.find_all(class_="property_title")[0] #tag containing the data
        #Get restaurant URL
        resto_dict['URL_TA'] = url_name_tag.get('href')
        #Get the restaurant ID within its URL (-dxxxxxxx-Reviews)
        b = url_name_tag.get('href').find('-d')
        e= url_name_tag.get('href').find('-R')
        resto_dict['ID_TA'] = url_name_tag.get('href')[b+1:e]
        #Get names
        resto_dict['Name'] = url_name_tag.contents[0][1:-1]

        #Get the ranking of the restaurant
        if resto_soup.find_all(class_="popIndex rebrand popIndexDefault") != []:
            ranking_tag = resto_soup.find_all(class_="popIndex rebrand popIndexDefault")[0]
            resto_dict['Ranking'] = ranking_tag.contents[0][1:-1]
        else:
            resto_dict['Ranking'] = np.nan #put a NaN instead

        #Get the rating of the restaurant from <span> tags
        if resto_soup.find_all('span') != []:
            span_tags = resto_soup.find_all('span')
            for tag in span_tags:
                if tag.get('alt') is not None:
                    resto_dict['Rating'] = tag.get('alt')
        else:
            resto_dict['Rating'] = np.nan

        #Information from <div class="cuisines">  
        #!! some resaurants don't have pricerange nor cuisine styles, instead <div class="cuisine_margin">
        cuisines_tags = resto_soup.find_all(class_="cuisines") #1 element of the list is 1 restaurant
        if resto_soup.find_all(class_="cuisines") != []:
            for item in cuisines_tags:
                #Get price range from <span class="item price">
                if item.find(class_="item price") is not None:
                    price_range = item.find(class_="item price") #unique tag with price range
                    resto_dict['Price Range'] = price_range.contents[0]
                else:
                     resto_dict['Price Range'] = np.nan
                #Get cuisine styles from <span class="item cuisine"> tags (several/restaurant)
                if item.find_all(class_="item cuisine") != []:
                    cuisines = item.find_all(class_="item cuisine")  # list of <a> tags with the cuisine style as text
                    resto_dict['Cuisine Style'] = [tag.contents[0] for tag in cuisines]
                else:
                    resto_dict['Cuisine Style'] = np.nan

        #Get number of reviews
        if resto_soup.find_all(class_="reviewCount") != []:
            numb_tag = resto_soup.find_all(class_="reviewCount")[0]
            resto_dict['Number of Reviews'] = numb_tag.find('a').contents[0][1:-9]
        else:
            resto_dict['Number of Reviews'] = np.nan
            
        #Get 2 reviews (text+date) from <ul class="review_stubs review_snippets rebrand"> and <li> tags within
        ul_tags = resto_soup.find_all(class_="review_stubs review_snippets rebrand")
        if ul_tags != []:
            for reviews_set in ul_tags:
                rev_texts = reviews_set.find_all(dir="ltr")
                rev_dates = reviews_set.find_all(class_="date")
                resto_dict['Reviews'] = [[tag.find('a').contents[0] for tag in rev_texts], #text is in a <a> tag
                                          [tag.contents[0] for tag in rev_dates]]
        else:
            resto_dict['Reviews'] = np.nan
            
        #Append the dataset
        dataset = pd.concat([dataset, pd.DataFrame([resto_dict])])
            
    #For the rest of the list from 2 to 30:
        try:
            inc_rest = 0
            for i in range (2, 31):
                resto_dict = {}
                resto_bloc_id = "listing rebrand listingIndex-" + str(i)
                if data_bloc.find_all(class_=resto_bloc_id) != []:
                    resto_soup = data_bloc.find_all(class_=resto_bloc_id)[0] #Bloc for one restaurant

                    #Get the url, id and name of restaurants
                    url_name_tag = resto_soup.find_all(class_="property_title")[0] #tag containing the data
                    #Get restaurant URL
                    resto_dict['URL_TA'] = url_name_tag.get('href')
                    #Get the restaurant ID within its URL (-dxxxxxxx-Reviews)
                    b = url_name_tag.get('href').find('-d')
                    e= url_name_tag.get('href').find('-R')
                    resto_dict['ID_TA'] = url_name_tag.get('href')[b+1:e]
                    #Get names
                    resto_dict['Name'] = url_name_tag.contents[0][1:-1]

                    #Get the ranking of the restaurant
                    if resto_soup.find_all(class_="popIndex rebrand popIndexDefault") != []:
                        ranking_tag = resto_soup.find_all(class_="popIndex rebrand popIndexDefault")[0]
                        resto_dict['Ranking'] = ranking_tag.contents[0][1:-1]
                    else:
                        resto_dict['Ranking'] = np.nan

                    #Get the rating of the restaurant from <span> tags
                    span_tags = resto_soup.find_all('span')
                    if resto_soup.find_all('span') != []:
                        for tag in span_tags:
                            if tag.get('alt') is not None:
                                resto_dict['Rating'] = tag.get('alt')
                    else:
                        resto_dict['Rating'] = np.nan

                    #Information from <div class="cuisines">  
                    #!! some resaurants don't have pricerange nor cuisine styles, instead <div class="cuisine_margin">
                    cuisines_tags = resto_soup.find_all(class_="cuisines") #1 element of the list is 1 restaurant
                    if resto_soup.find_all(class_="cuisines") != []:
                        for item in cuisines_tags:
                            #Get price range from <span class="item price">
                            if item.find(class_="item price") is not None:
                                price_range = item.find(class_="item price") #unique tag with price range
                                resto_dict['Price Range'] = price_range.contents[0]
                            else:
                                resto_dict['Price Range'] = np.nan
                            #Get cuisine styles from <span class="item cuisine"> tags (several/restaurant)
                            if item.find_all(class_="item cuisine") != []:
                                cuisines = item.find_all(class_="item cuisine")  # list of <a> tags with the cuisine style as text
                                resto_dict['Cuisine Style'] = [tag.contents[0] for tag in cuisines]
                            else: 
                                resto_dict['Cuisine Style'] = np.nan

                    #Get number of reviews
                    if resto_soup.find_all(class_="reviewCount") != []:
                        numb_tag = resto_soup.find_all(class_="reviewCount")[0]
                        resto_dict['Number of Reviews'] = numb_tag.find('a').contents[0][1:-9]
                    else:
                        resto_dict['Number of Reviews'] = np.nan

                    #Get 2 reviews (text+date) from <ul class="review_stubs review_snippets rebrand"> and <li> tags within
                    ul_tags = resto_soup.find_all(class_="review_stubs review_snippets rebrand")
                    if resto_soup.find_all(class_="review_stubs review_snippets rebrand") != []:
                        for reviews_set in ul_tags:
                            rev_texts = reviews_set.find_all(dir="ltr")
                            rev_dates = reviews_set.find_all(class_="date")
                            #Able to pick up empty displayed review "" (St morris Argentijns, Amsterdam)
                            resto_dict['Reviews'] = [[tag.find('a').contents[0] if tag.find('a').contents != [] else np.nan for tag in rev_texts], #text is in a <a> tag
                                                  [tag.contents[0] for tag in rev_dates]]
                    else:
                        resto_dict['Reviews'] = np.nan

                    #Append the dataset
                    dataset = pd.concat([dataset, pd.DataFrame([resto_dict])])

                else: #tag of restaurant is instead "listing rebrand"
                    resto_soup = data_bloc.find_all(class_="listing rebrand")[inc_rest]

                    #Get the url, id and name of restaurants
                    url_name_tag = resto_soup.find_all(class_="property_title")[0] #tag containing the data
                    #Get restaurant URL
                    resto_dict['URL_TA'] = url_name_tag.get('href')
                    #Get the restaurant ID within its URL (-dxxxxxxx-Reviews)
                    b = url_name_tag.get('href').find('-d')
                    e= url_name_tag.get('href').find('-R')
                    resto_dict['ID_TA'] = url_name_tag.get('href')[b+1:e]
                    #Get names
                    resto_dict['Name'] = url_name_tag.contents[0][1:-1]

                    #Get the ranking of the restaurant
                    if resto_soup.find_all(class_="popIndex rebrand popIndexDefault") != []:
                        ranking_tag = resto_soup.find_all(class_="popIndex rebrand popIndexDefault")[0]
                        resto_dict['Ranking'] = ranking_tag.contents[0][1:-1]
                    else:
                        resto_dict['Ranking'] = np.nan

                    #Get the rating of the restaurant from <span> tags
                    span_tags = resto_soup.find_all('span')
                    if resto_soup.find_all('span') != []:
                        for tag in span_tags:
                            if tag.get('alt') is not None:
                                resto_dict['Rating'] = tag.get('alt')
                    else:
                        resto_dict['Rating'] = np.nan

                    #Information from <div class="cuisines">  
                    #!! some resaurants don't have pricerange nor cuisine styles, instead <div class="cuisine_margin">
                    cuisines_tags = resto_soup.find_all(class_="cuisines") #1 element of the list is 1 restaurant
                    if resto_soup.find_all(class_="cuisines") != []:
                        for item in cuisines_tags:
                            #Get price range from <span class="item price">
                            if item.find(class_="item price") is not None:
                                price_range = item.find(class_="item price") #unique tag with price range
                                resto_dict['Price Range'] = price_range.contents[0]
                            else:
                                resto_dict['Price Range'] = np.nan
                            #Get cuisine styles from <span class="item cuisine"> tags (several/restaurant)
                            if item.find_all(class_="item cuisine") != []:
                                cuisines = item.find_all(class_="item cuisine")  # list of <a> tags with the cuisine style as text
                                resto_dict['Cuisine Style'] = [tag.contents[0] for tag in cuisines]
                            else: 
                                resto_dict['Cuisine Style'] = np.nan

                    #Get number of reviews
                    if resto_soup.find_all(class_="reviewCount") != []:
                        numb_tag = resto_soup.find_all(class_="reviewCount")[0]
                        resto_dict['Number of Reviews'] = numb_tag.find('a').contents[0][1:-9]
                    else:
                        resto_dict['Number of Reviews'] = np.nan

                    #Get 2 reviews (text+date) from <ul class="review_stubs review_snippets rebrand"> and <li> tags within
                    ul_tags = resto_soup.find_all(class_="review_stubs review_snippets rebrand")
                    if resto_soup.find_all(class_="review_stubs review_snippets rebrand") != []:
                        for reviews_set in ul_tags:
                            rev_texts = reviews_set.find_all(dir="ltr")
                            rev_dates = reviews_set.find_all(class_="date")
                            #Able to pick up empty displayed review "" (St morris Argentijns, Amsterdam)
                            resto_dict['Reviews'] = [[tag.find('a').contents[0] if tag.find('a').contents != [] else np.nan for tag in rev_texts], #text
                                                  [tag.contents[0] for tag in rev_dates]]
                    else:
                        resto_dict['Reviews'] = np.nan

                    #Append the dataset
                    dataset = pd.concat([dataset, pd.DataFrame([resto_dict])])

                    inc_rest += 1

            #Increment to next page to display the next 30 restaurants
            inc_page += 30
    
        #End scrolling when no more restaurants when not able to find other restaurant bloc
        except IndexError:
            logging.info("Last restaurant reached")
            break
    
    #Save dataframe as csv file
    dataset.to_csv(city + '_TA_restaurants_raw.csv', sep=',', encoding="utf-8")
    print("File created in current directory: {}_TA_restaurants_raw.csv".format(city))

    return(dataset)

### Test on a middle-size city

In [ ]:
#Test
scraper('Krakow')

### Scrape all the euro capitals for restaurants data

In [ ]:
#Run the scraper to get data from the euro capitals
euro_capitals = ['Paris', 'London', 'Budapest', 'Madrid', 'Lisbon', 'Berlin', 'Rome', 
            'Athens', 'Vienna', 'Warsaw', 'Ljubljana', 'Dublin',
                 'Bruxelles', 'Prague', 'Amsterdam', 'Luxembourg', 'Bratislava',
                'Copenhagen', 'Oslo', 'Helsinki', 'Stockholm', 'Geneva']
for city in euro_capitals:
    scraper(city)

In [ ]:
#Run the scraper to get data from the euro other main cities
euro_second = ['Marseille', 'Barcelona', 'Oporto', 'Milan', 'Munich', 'Edinburgh', 'Krakow', 'Zurich', 'Hamburg']
for city in euro_second[3:] :
    scraper(city)

---

# Data Curation
## Exploration of raw datasets

In [5]:
#Explore the datasets obtained from the scraper
raw_csv_files = glob2.glob('*raw.csv')
print (raw_csv_files)
print("{} files in the directory".format(len(raw_csv_files)))
for file in raw_csv_files:
    print('\n' + file)
    dataset = pd.read_csv(file, sep=',',  encoding="utf-8", index_col=0)
    print(dataset.info())
    print(dataset.head())
    print(dataset.tail())

    #Count the unique values in Price range and rating columns
    print(dataset['Price Range'].value_counts(dropna=False))
    print(dataset['Rating'].value_counts(dropna=False))

['Amsterdam_TA_restaurants_raw.csv', 'Athens_TA_restaurants_raw.csv', 'Barcelona_TA_restaurants_raw.csv', 'Berlin_TA_restaurants_raw.csv', 'Bratislava_TA_restaurants_raw.csv', 'Bruxelles_TA_restaurants_raw.csv', 'Budapest_TA_restaurants_raw.csv', 'Copenhagen_TA_restaurants_raw.csv', 'Dublin_TA_restaurants_raw.csv', 'Edinburgh_TA_restaurants_raw.csv', 'Geneva_TA_restaurants_raw.csv', 'Hamburg_TA_restaurants_raw.csv', 'Helsinki_TA_restaurants_raw.csv', 'Krakow_TA_restaurants_raw.csv', 'Lisbon_TA_restaurants_raw.csv', 'Ljubljana_TA_restaurants_raw.csv', 'London_TA_restaurants_raw.csv', 'Luxembourg_TA_restaurants_raw.csv', 'Madrid_TA_restaurants_raw.csv', 'Marseille_TA_restaurants_raw.csv', 'Milan_TA_restaurants_raw.csv', 'Munich_TA_restaurants_raw.csv', 'Oporto_TA_restaurants_raw.csv', 'Oslo_TA_restaurants_raw.csv', 'Paris_TA_restaurants_raw.csv', 'Prague_TA_restaurants_raw.csv', 'Rome_TA_restaurants_raw.csv', 'Stockholm_TA_restaurants_raw.csv', 'Toulouse_TA_restaurants_raw.csv', 'Vienna_TA_restaurants_raw.csv', 'Warsaw_TA_restaurants_raw.csv', 'Zurich_TA_restaurants_raw.csv']
32 files in the directory

Amsterdam_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3434 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        2896 non-null object
ID_TA                3434 non-null object
Name                 3434 non-null object
Number of Reviews    3061 non-null object
Price Range          2567 non-null object
Ranking              3244 non-null object
Rating               3248 non-null object
Reviews              3248 non-null object
URL_TA               3434 non-null object
dtypes: object(9)
memory usage: 268.3+ KB
None
                                       Cuisine Style      ID_TA  \
0                    ['French', 'Dutch', 'European']  d11752080
0  ['Dutch', 'European', 'Vegetarian Friendly', '...    d693419
0  ['Mediterranean', 'French', 'International', '...    d696959
0  ['French', 'European', 'International', 'Conte...   d1239229
0  ['Dutch', 'European', 'International', 'Vegeta...   d6864170

                         Name Number of Reviews Price Range  \
0  Martine of Martine's Table               136    $$ - $$$
0         De Silveren Spiegel               812        $$$$
0                     La Rive               567        $$$$
0                    Vinkeles               564        $$$$
0   Librije's Zusje Amsterdam               316        $$$$

                                Ranking            Rating  \
0  #1 of 3,444 Restaurants in Amsterdam    5 of 5 bubbles
0  #2 of 3,444 Restaurants in Amsterdam  4.5 of 5 bubbles
0  #3 of 3,444 Restaurants in Amsterdam  4.5 of 5 bubbles
0  #4 of 3,444 Restaurants in Amsterdam    5 of 5 bubbles
0  #5 of 3,444 Restaurants in Amsterdam  4.5 of 5 bubbles

                                             Reviews  \
0  [['Just like home', 'A Warm Welcome to Wintry ...
0  [['Great food and staff', 'just perfect'], ['0...
0  [['Satisfaction', 'Delicious old school restau...
0  [['True five star dinner', 'A superb evening o...
0  [['Best meal.... EVER', 'super food experience...

                                              URL_TA
0  /Restaurant_Review-g188590-d11752080-Reviews-M...
0  /Restaurant_Review-g188590-d693419-Reviews-De_...
0  /Restaurant_Review-g188590-d696959-Reviews-La_...
0  /Restaurant_Review-g188590-d1239229-Reviews-Vi...
0  /Restaurant_Review-g188590-d6864170-Reviews-Li...
               Cuisine Style      ID_TA                Name Number of Reviews  \
0  ['Fast Food', 'European']  d13353647  Soundbites by LUTE               NaN
0                ['Italian']  d13356788             Burrata               NaN
0                ['Italian']  d13356963         La Pecheria               NaN
0         ['Middle Eastern']  d13360392      Bread and Salt               NaN
0          ['International']  d13362335       Amstel Lounge               NaN

  Price Range Ranking Rating Reviews  \
0         NaN     NaN    NaN     NaN
0    $$ - $$$     NaN    NaN     NaN
0         NaN     NaN    NaN     NaN
0         NaN     NaN    NaN     NaN
0         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g188590-d13353647-Reviews-S...
0  /Restaurant_Review-g188590-d13356788-Reviews-B...
0  /Restaurant_Review-g188590-d13356963-Reviews-L...
0  /Restaurant_Review-g188590-d13360392-Reviews-B...
0  /Restaurant_Review-g188590-d13362335-Reviews-A...
$$ - $$$    1915
NaN          867
$            546
$$$$         106
Name: Price Range, dtype: int64
4.5 of 5 bubbles    1132
4 of 5 bubbles      1099
3.5 of 5 bubbles     432
5 of 5 bubbles       349
NaN                  186
3 of 5 bubbles       159
2.5 of 5 bubbles      40
2 of 5 bubbles        24
-1 of 5 bubbles        5
1 of 5 bubbles         5
1.5 of 5 bubbles       3
Name: Rating, dtype: int64

Athens_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1938 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1536 non-null object
ID_TA                1938 non-null object
Name                 1938 non-null object
Number of Reviews    1643 non-null object
Price Range          1262 non-null object
Ranking              1787 non-null object
Rating               1788 non-null object
Reviews              1789 non-null object
URL_TA               1938 non-null object
dtypes: object(9)
memory usage: 151.4+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['European', 'Vegetarian Friendly', 'Vegan Opt...  d9763282
0  ['Wine Bar', 'Greek', 'Delicatessen', 'Gluten ...  d9462540
0  ['Mediterranean', 'European', 'Greek', 'Vegeta...  d7825999
0  ['Greek', 'Mediterranean', 'European', 'Vegeta...   d799575
0  ['Lebanese', 'Fast Food', 'Mediterranean', 'Mi...  d6784810

                     Name Number of Reviews Price Range  \
0  Simul Gastronomic Situ               127    $$ - $$$
0  Cinque Wine & Deli Bar             1,013           $
0       Dinner in the Sky               886        $$$$
0                  Aleria               934        $$$$
0                 Feyrouz               282           $

                             Ranking          Rating  \
0  #1 of 1,939 Restaurants in Athens  5 of 5 bubbles
0  #2 of 1,939 Restaurants in Athens  5 of 5 bubbles
0  #3 of 1,939 Restaurants in Athens  5 of 5 bubbles
0  #4 of 1,939 Restaurants in Athens  5 of 5 bubbles
0  #5 of 1,939 Restaurants in Athens  5 of 5 bubbles

                                             Reviews  \
0  [['Excellent experience', 'A nice surprise'], ...
0  [['One of the best restaurants we ever visite....
0  [['Great sensorial experience', 'Perfect Way t...
0  [['Surprise Find!', 'Fabulous evening'], ['01/...
0  [['A hidden gem in Athens', 'Not just great - ...

                                              URL_TA
0  /Restaurant_Review-g189400-d9763282-Reviews-Si...
0  /Restaurant_Review-g189400-d9462540-Reviews-Ci...
0  /Restaurant_Review-g189400-d7825999-Reviews-Di...
0  /Restaurant_Review-g189400-d799575-Reviews-Ale...
0  /Restaurant_Review-g189400-d6784810-Reviews-Fe...
       Cuisine Style      ID_TA                         Name  \
0          ['Greek']  d13355098  Likovrisi Cafe & Restaurant
0          ['Greek']  d13355136               Doureios Ippos
0  ['Mediterranean']  d13355222                   Mikra Asia
0                NaN  d13355256                          Sah
0        ['Italian']  d13359247                  Bella Vespa

  Number of Reviews Price Range Ranking Rating   Reviews  \
0               NaN         NaN     NaN    NaN       NaN
0               NaN    $$ - $$$     NaN    NaN       NaN
0               NaN           $     NaN    NaN       NaN
0               NaN         NaN     NaN    NaN  [[], []]
0               NaN         NaN     NaN    NaN       NaN

                                              URL_TA
0  /Restaurant_Review-g189400-d13355098-Reviews-L...
0  /Restaurant_Review-g189400-d13355136-Reviews-D...
0  /Restaurant_Review-g189400-d13355222-Reviews-M...
0  /Restaurant_Review-g189400-d13355256-Reviews-S...
0  /Restaurant_Review-g189400-d13359247-Reviews-B...
$$ - $$$    737
NaN         676
$           458
$$$$         67
Name: Price Range, dtype: int64
4.5 of 5 bubbles    661
4 of 5 bubbles      526
5 of 5 bubbles      289
3.5 of 5 bubbles    204
NaN                 150
3 of 5 bubbles       70
2.5 of 5 bubbles     16
2 of 5 bubbles       15
1 of 5 bubbles        4
1.5 of 5 bubbles      2
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Barcelona_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8425 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        6388 non-null object
ID_TA                8425 non-null object
Name                 8425 non-null object
Number of Reviews    7264 non-null object
Price Range          5407 non-null object
Ranking              7795 non-null object
Rating               7793 non-null object
Reviews              7793 non-null object
URL_TA               8425 non-null object
dtypes: object(9)
memory usage: 658.2+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['International', 'Mediterranean', 'Fusion', '...   d8003030
0  ['International', 'Mediterranean', 'Spanish', ...   d8531409
0  ['Mediterranean', 'European', 'Spanish', 'Vege...   d3353672
0  ['Mediterranean', 'European', 'Spanish', 'Vege...  d12643500
0  ['Mediterranean', 'Spanish', 'Wine Bar', 'Euro...  d11906544

              Name Number of Reviews Price Range  \
0              Uma               792        $$$$
0            Viana             2,707    $$ - $$$
0           Blavis               643    $$ - $$$
0    My Restaurant               159    $$ - $$$
0  Bodega Biarritz             1,078    $$ - $$$

                                Ranking          Rating  \
0  #1 of 8,427 Restaurants in Barcelona  5 of 5 bubbles
0  #2 of 8,427 Restaurants in Barcelona  5 of 5 bubbles
0  #3 of 8,427 Restaurants in Barcelona  5 of 5 bubbles
0  #4 of 8,427 Restaurants in Barcelona  5 of 5 bubbles
0  #5 of 8,427 Restaurants in Barcelona  5 of 5 bubbles

                                             Reviews  \
0  [['Perfect atmosphere and location', 'Perfecti...
0  [['Wow! Best ever!', 'Small menu-- GET A RESER...
0  [['The whole package', 'Incredible Service and...
0  [['Fantastic evening!!', 'Perfect meal'], ['01...
0  [['Deserves its reputation!', 'THESE ARE THE T...

                                              URL_TA
0  /Restaurant_Review-g187497-d8003030-Reviews-Um...
0  /Restaurant_Review-g187497-d8531409-Reviews-Vi...
0  /Restaurant_Review-g187497-d3353672-Reviews-Bl...
0  /Restaurant_Review-g187497-d12643500-Reviews-M...
0  /Restaurant_Review-g187497-d11906544-Reviews-B...
                                     Cuisine Style      ID_TA  \
0  ['Mediterranean', 'Spanish', 'Fusion', 'Diner']  d13355983
0                                      ['Turkish']  d13357381
0                                     ['Japanese']  d13357412
0                                      ['Chinese']  d13359144
0                                              NaN  d13370035

                         Name Number of Reviews Price Range Ranking Rating  \
0  Aqui hi ha molla Gastrobar               NaN    $$ - $$$     NaN    NaN
0  Istanbul Grill Donor Kebab               NaN         NaN     NaN    NaN
0                 Natsu Sushi               NaN    $$ - $$$     NaN    NaN
0                  Zi Zhu Lin               NaN         NaN     NaN    NaN
0                   Crep Nova               NaN         NaN     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g187497-d13355983-Reviews-A...
0     NaN  /Restaurant_Review-g187497-d13357381-Reviews-I...
0     NaN  /Restaurant_Review-g187497-d13357412-Reviews-N...
0     NaN  /Restaurant_Review-g187497-d13359144-Reviews-Z...
0     NaN  /Restaurant_Review-g187497-d13370035-Reviews-C...
$$ - $$$    3680
NaN         3018
$           1464
$$$$         263
Name: Price Range, dtype: int64
4 of 5 bubbles      2521
4.5 of 5 bubbles    2137
3.5 of 5 bubbles    1292
5 of 5 bubbles       781
NaN                  632
3 of 5 bubbles       631
2.5 of 5 bubbles     226
2 of 5 bubbles       101
1.5 of 5 bubbles      56
1 of 5 bubbles        45
-1 of 5 bubbles        3
Name: Rating, dtype: int64

Berlin_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7078 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        4610 non-null object
ID_TA                7078 non-null object
Name                 7078 non-null object
Number of Reviews    5800 non-null object
Price Range          3653 non-null object
Ranking              6371 non-null object
Rating               6373 non-null object
Reviews              6373 non-null object
URL_TA               7078 non-null object
dtypes: object(9)
memory usage: 553.0+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['International', 'European', 'Gluten Free Opt...   d695657
0  ['Italian', 'Mediterranean', 'European', 'Vege...  d3805087
0  ['Italian', 'Mediterranean', 'European', 'Vege...  d3546513
0  ['German', 'Central European', 'Vegetarian Fri...  d1344159
0  ['Mexican', 'Central American', 'Vegetarian Fr...  d6499724

                   Name Number of Reviews Price Range  \
0                 FACIL               687        $$$$
0        La Gondola Due               282    $$ - $$$
0     Ristorante A Mano             1,501    $$ - $$$
0  Restaurant Bieberbau               621        $$$$
0               El Loco               171    $$ - $$$

                             Ranking            Rating  \
0  #1 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
0  #2 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
0  #3 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
0  #4 of 7,080 Restaurants in Berlin  4.5 of 5 bubbles
0  #5 of 7,080 Restaurants in Berlin    5 of 5 bubbles

                                             Reviews  \
0  [['What a way to turn 60!', 'Only to recommend...
0  [['Great food!', 'Very good'], ['12/17/2017', ...
0  [['Sensational!', 'Delicious food and lovely s...
0  [['Excellent restaurant', 'Perfect Birthday tr...
0  [['Join the Loco family ðŸ˜‰', 'Best sweet potato...

                                              URL_TA
0  /Restaurant_Review-g187323-d695657-Reviews-FAC...
0  /Restaurant_Review-g187323-d3805087-Reviews-La...
0  /Restaurant_Review-g187323-d3546513-Reviews-Ri...
0  /Restaurant_Review-g187323-d1344159-Reviews-Re...
0  /Restaurant_Review-g187323-d6499724-Reviews-El...
                                       Cuisine Style      ID_TA  \
0  ['Mexican', 'Latin', 'Spanish', 'South America...  d13350878
0                       ['German', 'Middle Eastern']  d13353455
0                                       ['European']  d13353635
0                                                NaN  d13358302
0                                                NaN  d13358317

                       Name Number of Reviews Price Range Ranking Rating  \
0  Chaparro Cocina Mexicana               NaN    $$ - $$$     NaN    NaN
0                 Smoofee's               NaN    $$ - $$$     NaN    NaN
0               L O F F E L               NaN    $$ - $$$     NaN    NaN
0              Kandaka Food               NaN         NaN     NaN    NaN
0                   Mayer's               NaN         NaN     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g187323-d13350878-Reviews-C...
0     NaN  /Restaurant_Review-g187323-d13353455-Reviews-S...
0     NaN  /Restaurant_Review-g187323-d13353635-Reviews-L...
0     NaN  /Restaurant_Review-g187323-d13358302-Reviews-K...
0     NaN  /Restaurant_Review-g187323-d13358317-Reviews-M...
NaN         3425
$$ - $$$    2366
$           1153
$$$$         134
Name: Price Range, dtype: int64
4 of 5 bubbles      2158
4.5 of 5 bubbles    1954
5 of 5 bubbles       920
3.5 of 5 bubbles     832
NaN                  705
3 of 5 bubbles       354
2.5 of 5 bubbles      70
2 of 5 bubbles        43
1 of 5 bubbles        33
1.5 of 5 bubbles       7
-1 of 5 bubbles        2
Name: Rating, dtype: int64

Bratislava_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        649 non-null object
ID_TA                1070 non-null object
Name                 1070 non-null object
Number of Reviews    759 non-null object
Price Range          474 non-null object
Ranking              883 non-null object
Rating               883 non-null object
Reviews              883 non-null object
URL_TA               1070 non-null object
dtypes: object(9)
memory usage: 83.6+ KB
None
                                       Cuisine Style     ID_TA  \
0                                       ['Wine Bar']  d2392197
0      ['American', 'Bar', 'Fast Food', 'Gastropub']  d8681780
0         ['American', 'Bar', 'Vegetarian Friendly']  d4834344
0  ['Italian', 'Pizza', 'Mediterranean', 'Europea...  d1112750
0  ['Asian', 'Thai', 'Vegetarian Friendly', 'Vega...  d7314484

                     Name Number of Reviews Price Range  \
0  Grand Cru Wine Gallery               387    $$ - $$$
0       Roxor BRGR & Beer               209           $
0                 BeAbout               278    $$ - $$$
0  Gatto Matto Ristorante               529    $$ - $$$
0             Bistro Soho               592    $$ - $$$

                                 Ranking            Rating  \
0  #1 of 1,070 Restaurants in Bratislava    5 of 5 bubbles
0  #2 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles
0  #3 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles
0  #4 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles
0  #5 of 1,070 Restaurants in Bratislava  4.5 of 5 bubbles

                                             Reviews  \
0  [['Ideal place to sample Slovak wine and hosp....
0  [['Best burgers', 'Quite possibly the best bur...
0  [['Excellent service', 'Delicious burgers and ...
0  [['Great pizza', 'Terrific restaurant'], ['01/...
0  [['Delicious Asian food', 'Best Asian Fusion B...

                                              URL_TA
0  /Restaurant_Review-g274924-d2392197-Reviews-Gr...
0  /Restaurant_Review-g274924-d8681780-Reviews-Ro...
0  /Restaurant_Review-g274924-d4834344-Reviews-Be...
0  /Restaurant_Review-g274924-d1112750-Reviews-Ga...
0  /Restaurant_Review-g274924-d7314484-Reviews-Bi...
                     Cuisine Style      ID_TA                   Name  \
0             ['Pub', 'Gastropub']  d13289864  Bratislavska Kozlovna
0  ['Sushi', 'Thai', 'Vietnamese']  d13324256             Bamboo Snp
0                   ['Bar', 'Pub']  d13330002       mini BAR by SPIN
0           ['Bar', 'Cafe', 'Pub']  d13336292           Shisha Cubes
0                     ['Barbecue']  d13355257             Pivarnicka

  Number of Reviews Price Range Ranking Rating Reviews  \
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN
0               NaN        $$$$     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g274924-d13289864-Reviews-B...
0  /Restaurant_Review-g274924-d13324256-Reviews-B...
0  /Restaurant_Review-g274924-d13330002-Reviews-M...
0  /Restaurant_Review-g274924-d13336292-Reviews-S...
0  /Restaurant_Review-g274924-d13355257-Reviews-P...
NaN         596
$$ - $$$    331
$           118
$$$$         25
Name: Price Range, dtype: int64
4 of 5 bubbles      267
4.5 of 5 bubbles    225
NaN                 187
5 of 5 bubbles      132
3.5 of 5 bubbles    126
3 of 5 bubbles       74
2 of 5 bubbles       22
2.5 of 5 bubbles     22
1 of 5 bubbles       13
1.5 of 5 bubbles      2

Name: Rating, dtype: int64

Bruxelles_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2945 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        2289 non-null object
ID_TA                2945 non-null object
Name                 2945 non-null object
Number of Reviews    2786 non-null object
Price Range          2021 non-null object
Ranking              2930 non-null object
Rating               2929 non-null object
Reviews              2929 non-null object
URL_TA               2945 non-null object
dtypes: object(9)
memory usage: 230.1+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['Belgian', 'European', 'French', 'Vegetarian ...  d6732421
0  ['Italian', 'Mediterranean', 'European', 'Vege...  d2235872
0     ['Belgian', 'European', 'Vegetarian Friendly']  d5826726
0      ['Belgian', 'Seafood', 'Vegetarian Friendly']  d1013936
0  ['French', 'Steakhouse', 'European', 'Gastropub']  d7243845

                   Name Number of Reviews Price Range  \
0          Le Rabassier               514        $$$$
0           Dolce Amaro               438        $$$$
0          Tonton Garby             1,082           $
0  Le Chou de Bruxelles               930    $$ - $$$
0               Colonel               584        $$$$

                                Ranking            Rating  \
0   #1 of 3,183 Restaurants in Brussels    5 of 5 bubbles
0   #8 of 3,183 Restaurants in Brussels  4.5 of 5 bubbles
0   #2 of 3,183 Restaurants in Brussels    5 of 5 bubbles
0      #1 of 173 Restaurants in Ixelles  4.5 of 5 bubbles
0  #11 of 3,183 Restaurants in Brussels  4.5 of 5 bubbles

                                             Reviews  \
0  [['Fantastic Fine Dining Experience!', 'Excell...
0  [['The Best.', 'End of Year Dinner'], ['01/07/...
0  [['This guy is a sandwich artiste', 'A true ar...
0  [['Good mussels', 'Good traditional Belgian fo...
0  [['Great meatplace', 'Very tasty meat, nice me...

                                              URL_TA
0  /Restaurant_Review-g188644-d6732421-Reviews-Le...
0  /Restaurant_Review-g188644-d2235872-Reviews-Do...
0  /Restaurant_Review-g188644-d5826726-Reviews-To...
0  /Restaurant_Review-g1136493-d1013936-Reviews-L...
0  /Restaurant_Review-g188644-d7243845-Reviews-Co...
                                 Cuisine Style      ID_TA  \
0                                  ['Italian']  d13075946
0                      ['European', 'Healthy']  d13082536
0  ['Italian', 'American', 'Cafe', 'European']  d13133724
0                                 ['Hawaiian']  d13207066
0                                  ['Belgian']  d13357129

                       Name Number of Reviews Price Range Ranking Rating  \
0                 Hall Cafe               NaN    $$ - $$$     NaN    NaN
0  C'est Une Autre Histoire               NaN           $     NaN    NaN
0            By Chef Michel               NaN    $$ - $$$     NaN    NaN
0                  PokiPoke               NaN    $$ - $$$     NaN    NaN
0              Jack l'a dit               NaN         NaN     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g1136493-d13075946-Reviews-...
0     NaN  /Restaurant_Review-g1136493-d13082536-Reviews-...
0     NaN  /Restaurant_Review-g1136493-d13133724-Reviews-...
0     NaN  /Restaurant_Review-g1136493-d13207066-Reviews-...
0     NaN  /Restaurant_Review-g1136493-d13357129-Reviews-...
$$ - $$$    1525
NaN          924
$            376
$$$$         120
Name: Price Range, dtype: int64
4 of 5 bubbles      1189
4.5 of 5 bubbles     719
3.5 of 5 bubbles     557
3 of 5 bubbles       237
5 of 5 bubbles       183
2.5 of 5 bubbles      41
NaN                   16
2 of 5 bubbles         3
Name: Rating, dtype: int64

Budapest_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        2103 non-null object
ID_TA                2606 non-null object
Name                 2606 non-null object
Number of Reviews    2229 non-null object
Price Range          1740 non-null object
Ranking              2440 non-null object
Rating               2436 non-null object
Reviews              2437 non-null object
URL_TA               2606 non-null object
dtypes: object(9)
memory usage: 203.6+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Italian', 'Mediterranean', 'European', 'Hung...    d794237
0  ['Fast Food', 'International', 'European', 'St...   d3700225
0                         ['Pizza', 'Vegan Options']   d7772540
0  ['European', 'Eastern European', 'Central Euro...   d7761725
0  ['Seafood', 'International', 'Mediterranean', ...  d12503281

              Name Number of Reviews Price Range  \
0   Comme Chez Soi             4,437    $$ - $$$
0  Bors GasztroBar             2,373           $
0     Local Korner               789           $
0       Eat & Meet               409    $$ - $$$
0      Caviar&Bull               563        $$$$

                               Ranking            Rating  \
0  #1 of 2,606 Restaurants in Budapest    5 of 5 bubbles
0  #2 of 2,606 Restaurants in Budapest    5 of 5 bubbles
0  #3 of 2,606 Restaurants in Budapest  4.5 of 5 bubbles
0  #4 of 2,606 Restaurants in Budapest    5 of 5 bubbles
0  #5 of 2,606 Restaurants in Budapest    5 of 5 bubbles

                                             Reviews  \
0  [['Great place!', 'Best best best'], ['01/07/2...
0  [['The best of soup & sandwich', 'DO YOURSELF ...
0  [['Best pizza from Budapest...!!!', 'Very good...
0  [['Genuine Hungarian Food & Hospitality', 'Bes...
0  [['Wonderful in every way', 'Superbe culinary ...

                                              URL_TA
0  /Restaurant_Review-g274887-d794237-Reviews-Com...
0  /Restaurant_Review-g274887-d3700225-Reviews-Bo...
0  /Restaurant_Review-g274887-d7772540-Reviews-Lo...
0  /Restaurant_Review-g274887-d7761725-Reviews-Ea...
0  /Restaurant_Review-g274887-d12503281-Reviews-C...
                                       Cuisine Style      ID_TA  \
0  ['International', 'European', 'Contemporary', ...  d13330153
0           ['Cafe', 'European', 'Central European']  d13340429
0                                                NaN  d13344171
0                                                NaN  d13344204
0      ['Italian', 'Caribbean', 'European', 'Cuban']  d13344220

                         Name Number of Reviews Price Range Ranking Rating  \
0  SzobaKonyha Gasztro Muhely               NaN        $$$$     NaN    NaN
0                Cafe Fontana               NaN         NaN     NaN    NaN
0                  Waffle Dog               NaN         NaN     NaN    NaN
0                       TABLA               NaN         NaN     NaN    NaN
0              EL RaPido KuBa               NaN           $     NaN    NaN

                                    Reviews  \
0                                       NaN
0                                       NaN
0  [['Highly recommended'], ['01/08/2018']]
0                                       NaN
0                                       NaN

                                              URL_TA
0  /Restaurant_Review-g274887-d13330153-Reviews-S...
0  /Restaurant_Review-g274887-d13340429-Reviews-C...
0  /Restaurant_Review-g274887-d13344171-Reviews-W...
0  /Restaurant_Review-g274887-d13344204-Reviews-T...
0  /Restaurant_Review-g274887-d13344220-Reviews-E...
$$ - $$$    1093
NaN          866
$            573
$$$$          74
Name: Price Range, dtype: int64
4.5 of 5 bubbles    780
4 of 5 bubbles      747
5 of 5 bubbles      342
3.5 of 5 bubbles    325
NaN                 170
3 of 5 bubbles      139
2.5 of 5 bubbles     51
2 of 5 bubbles       31
1 of 5 bubbles       12
1.5 of 5 bubbles      9
Name: Rating, dtype: int64

Copenhagen_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2109 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1587 non-null object
ID_TA                2109 non-null object
Name                 2109 non-null object
Number of Reviews    1841 non-null object
Price Range          1348 non-null object
Ranking              1965 non-null object
Rating               1970 non-null object
Reviews              1971 non-null object
URL_TA               2109 non-null object
dtypes: object(9)
memory usage: 164.8+ KB

None
                                       Cuisine Style      ID_TA  \
0  ['Indian', 'Middle Eastern', 'Pakistani', 'Veg...  d12214757
0  ['European', 'Scandinavian', 'Danish', 'Norweg...    d808246
0  ['Cafe', 'Fast Food', 'European', 'Soups', 'Da...   d1145867
0  ['Italian', 'Pizza', 'Mediterranean', 'Europea...   d7686629
0  ['International', 'European', 'Gluten Free Opt...   d9768029

                                   Name Number of Reviews Price Range  \
0                  Zahida at Westmarket               408    $$ - $$$
0              Restaurant Krebsegaarden             1,071        $$$$
0  Grams Laekkerier (closed to 8. jan.)               550           $
0            Pizzeria MaMeMi WestMarket               332           $
0               The Olive Kitchen & Bar             1,316    $$ - $$$

                                 Ranking          Rating  \
0  #1 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
0  #2 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
0  #3 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
0  #4 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles
0  #5 of 2,113 Restaurants in Copenhagen  5 of 5 bubbles

                                             Reviews  \
0  [['Pakistani food from the heart', 'DELICIOUS ...
0  [['Delightful, Delicious, Warm & Affordable', ...
0  [['Very friendly and excellent sandwiches!', '...
0  [['Excellent italian pizza', 'Fabulous'], ['01...
0  [['Great food and good prices!', 'Twice Impres...

                                              URL_TA
0  /Restaurant_Review-g189541-d12214757-Reviews-Z...
0  /Restaurant_Review-g189541-d808246-Reviews-Res...
0  /Restaurant_Review-g189541-d1145867-Reviews-Gr...
0  /Restaurant_Review-g189541-d7686629-Reviews-Pi...
0  /Restaurant_Review-g189541-d9768029-Reviews-Th...
                                       Cuisine Style      ID_TA  \
0                      ['Italian', 'Pizza', 'Grill']  d13347420
0                       ['European', 'Scandinavian']  d13347425
0                             ['European', 'Danish']  d13347436
0                             ['European', 'Danish']  d13347443
0  ['International', 'Mediterranean', 'European',...  d13347451

                       Name Number of Reviews Price Range Ranking Rating  \
0         Pizzaport Femoren               NaN    $$ - $$$     NaN    NaN
0  Shabaz Kaffebar & Kokken               NaN           $     NaN    NaN
0               Natur Torst               NaN    $$ - $$$     NaN    NaN
0            Yolk Kobenhavn               NaN         NaN     NaN    NaN
0                     Sonny               NaN    $$ - $$$     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g189541-d13347420-Reviews-P...
0     NaN  /Restaurant_Review-g189541-d13347425-Reviews-S...
0     NaN  /Restaurant_Review-g189541-d13347436-Reviews-N...
0     NaN  /Restaurant_Review-g806262-d13347443-Reviews-Y...
0     NaN  /Restaurant_Review-g189541-d13347451-Reviews-S...
$$ - $$$    991
NaN         761
$           262
$$$$         95
Name: Price Range, dtype: int64
4 of 5 bubbles      649
4.5 of 5 bubbles    522
3.5 of 5 bubbles    337
5 of 5 bubbles      221
3 of 5 bubbles      153
NaN                 139
2.5 of 5 bubbles     51
2 of 5 bubbles       20
1 of 5 bubbles        9
1.5 of 5 bubbles      5
-1 of 5 bubbles       3
Name: Rating, dtype: int64

Dublin_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2082 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1735 non-null object
ID_TA                2082 non-null object
Name                 2082 non-null object
Number of Reviews    1868 non-null object
Price Range          1500 non-null object
Ranking              1954 non-null object
Rating               1955 non-null object
Reviews              1955 non-null object
URL_TA               2082 non-null object
dtypes: object(9)
memory usage: 162.7+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['Irish', 'European', 'Contemporary', 'Vegetar...  d2239110
0  ['Irish', 'European', 'Wine Bar', 'Central Eur...  d1587791
0  ['Irish', 'European', 'Soups', 'Vegetarian Fri...  d3873866
0  ['Irish', 'European', 'Contemporary', 'Vegetar...   d696187
0  ['French', 'European', 'Contemporary', 'Health...  d1146791

                  Name Number of Reviews Price Range  \
0      Mulberry Garden               609        $$$$
0      Bloom Brasserie             1,329    $$ - $$$
0  The Vintage Kitchen             1,644    $$ - $$$
0          Chapter One             2,000        $$$$
0       Dax Restaurant               771        $$$$

                             Ranking            Rating  \
0  #1 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
0  #2 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
0  #3 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
0  #4 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles
0  #5 of 2,089 Restaurants in Dublin  4.5 of 5 bubbles

                                             Reviews  \
0  [['Great Experience on Food and Service - Str....
0  [['Good but no wow factor', 'Great Brunch'], [...
0  [['Plan on spending a while, for a truly fabu....
0  [['Celebration Meal', 'Christmas Lunch'], ['01...
0  [['Wedding anniversary celebration', 'Highly r...

                                              URL_TA
0  /Restaurant_Review-g186605-d2239110-Reviews-Mu...
0  /Restaurant_Review-g186605-d1587791-Reviews-Bl...
0  /Restaurant_Review-g186605-d3873866-Reviews-Th...
0  /Restaurant_Review-g186605-d696187-Reviews-Cha...
0  /Restaurant_Review-g186605-d1146791-Reviews-Da...
                                       Cuisine Style      ID_TA  \
0  ['Brazilian', 'Latin', 'Spanish', 'Guatemalan'...  d13336254
0                                           ['Cafe']  d13340251
0                                           ['Cafe']  d13341513
0                                          ['Irish']  d13351283
0                                          ['Asian']  d13357043

                    Name Number of Reviews Price Range Ranking Rating Reviews  \
0    South American Shop               NaN         NaN     NaN    NaN     NaN
0               Quigleys               NaN         NaN     NaN    NaN     NaN
0            Bakelicious               NaN         NaN     NaN    NaN     NaN
0         Humphrey's Pub               NaN         NaN     NaN    NaN     NaN
0  Bubble Waffle Factory               NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g186605-d13336254-Reviews-S...
0  /Restaurant_Review-g186605-d13340251-Reviews-Q...
0  /Restaurant_Review-g186605-d13341513-Reviews-B...
0  /Restaurant_Review-g186605-d13351283-Reviews-H...
0  /Restaurant_Review-g186605-d13357043-Reviews-B...
$$ - $$$    1098
NaN          582
$            359
$$$$          43
Name: Price Range, dtype: int64
4 of 5 bubbles      672
4.5 of 5 bubbles    643
3.5 of 5 bubbles    297
5 of 5 bubbles      159
NaN                 127
3 of 5 bubbles      125
2.5 of 5 bubbles     36
2 of 5 bubbles       14
1 of 5 bubbles        5
1.5 of 5 bubbles      4
Name: Rating, dtype: int64

Edinburgh_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1865 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1600 non-null object
ID_TA                1865 non-null object
Name                 1865 non-null object
Number of Reviews    1705 non-null object
Price Range          1429 non-null object
Ranking              1761 non-null object
Rating               1760 non-null object
Reviews              1760 non-null object
URL_TA               1865 non-null object
dtypes: object(9)
memory usage: 145.7+ KB
None
                                       Cuisine Style      ID_TA  \
0                ['European', 'British', 'Scottish']   d8479434
0  ['European', 'British', 'Scottish', 'Vegetaria...  d11722138
0  ['European', 'British', 'Scottish', 'Internati...   d6561056
0  ['European', 'British', 'Scottish', 'Vegetaria...    d720180
0    ['Wine Bar', 'Scottish', 'Vegetarian Friendly']   d4681770

                         Name Number of Reviews Price Range  \
0                   The Table               263        $$$$
0            Forage & Chatter               772    $$ - $$$
0                       Aizle               642        $$$$
0  Number One at The Balmoral             1,483        $$$$
0                     Pickles               810    $$ - $$$

                                Ranking          Rating  \
0  #1 of 1,872 Restaurants in Edinburgh  5 of 5 bubbles
0  #2 of 1,872 Restaurants in Edinburgh  5 of 5 bubbles
0  #3 of 1,872 Restaurants in Edinburgh  5 of 5 bubbles
0  #4 of 1,872 Restaurants in Edinburgh  5 of 5 bubbles
0  #5 of 1,872 Restaurants in Edinburgh  5 of 5 bubbles

                                             Reviews  \
0  [['Unforgettable', 'GROUP DINING EXPERIENCE DI...
0  [['The pesto offered with the fresh dough bal....
0  [['Beautiful Meal!', 'Is this my new favourite...
0  [['A must if you are in Edinburgh!', 'Incredib...
0  [['Wonderful', 'We saved the best until last']...

                                              URL_TA
0  /Restaurant_Review-g186525-d8479434-Reviews-Th...
0  /Restaurant_Review-g186525-d11722138-Reviews-F...
0  /Restaurant_Review-g186525-d6561056-Reviews-Ai...
0  /Restaurant_Review-g186525-d720180-Reviews-Num...
0  /Restaurant_Review-g186525-d4681770-Reviews-Pi...
                                       Cuisine Style      ID_TA  \
0                      ['French', 'Cafe', 'British']  d13295251
0  ['Indian', 'Asian', 'Middle Eastern', 'Pakista...  d13346885
0                                        ['British']  d13360584
0  ['Chinese', 'Japanese', 'Asian', 'Korean', 'Fu...  d13369266
0                               ['Italian', 'Pizza']  d13370828

                      Name Number of Reviews Price Range Ranking Rating  \
0    Soderberg the Meadows               NaN         NaN     NaN    NaN
0       Corstorphine Spice               NaN    $$ - $$$     NaN    NaN
0  Restaurant at The Place               NaN    $$ - $$$     NaN    NaN
0                Mamasan's               NaN    $$ - $$$     NaN    NaN
0            Solo Pizzeria               NaN    $$ - $$$     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g186525-d13295251-Reviews-S...
0     NaN  /Restaurant_Review-g186525-d13346885-Reviews-C...
0     NaN  /Restaurant_Review-g186525-d13360584-Reviews-R...
0     NaN  /Restaurant_Review-g186525-d13369266-Reviews-M...
0     NaN  /Restaurant_Review-g186525-d13370828-Reviews-S...
$$ - $$$    968
NaN         436
$           415
$$$$         46
Name: Price Range, dtype: int64
4.5 of 5 bubbles    581
4 of 5 bubbles      542
3.5 of 5 bubbles    264
5 of 5 bubbles      191
NaN                 105
3 of 5 bubbles      104
2.5 of 5 bubbles     43
2 of 5 bubbles       19
1.5 of 5 bubbles     10
1 of 5 bubbles        6
Name: Rating, dtype: int64

Geneva_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1572 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1275 non-null object
ID_TA                1572 non-null object
Name                 1572 non-null object
Number of Reviews    1300 non-null object
Price Range          981 non-null object
Ranking              1407 non-null object
Rating               1409 non-null object
Reviews              1409 non-null object
URL_TA               1572 non-null object
dtypes: object(9)
memory usage: 122.8+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['French', 'European', 'Vegetarian Friendly', ...   d2437056
0  ['Japanese', 'Sushi', 'Asian', 'Vegetarian Fri...   d5049938
0  ['French', 'European', 'Vegetarian Friendly', ...    d697832
0  ['French', 'European', 'Central European', 'Ve...    d697864
0  ['French', 'European', 'Contemporary', 'Vegeta...  d12173937

                     Name Number of Reviews Price Range  \
0                 Bayview               383        $$$$
0                   Izumi               509        $$$$
0  Bistrot du Boeuf Rouge               578    $$ - $$$
0           Le Chat-Botte               369        $$$$
0                Intensus                68        $$$$

                             Ranking            Rating  \
0  #1 of 1,578 Restaurants in Geneva  4.5 of 5 bubbles
0  #2 of 1,578 Restaurants in Geneva  4.5 of 5 bubbles
0  #3 of 1,578 Restaurants in Geneva  4.5 of 5 bubbles
0  #4 of 1,578 Restaurants in Geneva  4.5 of 5 bubbles
0  #5 of 1,578 Restaurants in Geneva    5 of 5 bubbles

                                             Reviews  \
0  [['Probably the top dining experience in Gene....
0  [['Anniversary supper', 'Excellent'], ['01/08/...
0  [['Fine dining', 'nice atmosphere'], ['12/28/2...
0  [['Very good experience', 'Excellent'], ['11/2...
0  [['Just amazing !', "An amazing night you'll n...

                                              URL_TA
0  /Restaurant_Review-g188057-d2437056-Reviews-Ba...
0  /Restaurant_Review-g188057-d5049938-Reviews-Iz...
0  /Restaurant_Review-g188057-d697832-Reviews-Bis...
0  /Restaurant_Review-g188057-d697864-Reviews-Le_...
0  /Restaurant_Review-g188057-d12173937-Reviews-I...
                                       Cuisine Style      ID_TA  \
0  ['Fast Food', 'European', 'Contemporary', 'Str...  d13203572
0     ['Cafe', 'Fast Food', 'Healthy', 'Australian']  d13205917
0                          ['Chinese', 'Vietnamese']  d13227187
0  ['French', 'Swiss', 'Seafood', 'European', 'So...  d13326936
0                     ['Fast Food', 'International']  d13340603

                       Name Number of Reviews Price Range Ranking Rating  \
0  Edward's Eaux-Vives 2000               NaN    $$ - $$$     NaN    NaN
0                   Granola               NaN    $$ - $$$     NaN    NaN
0                  The Vert               NaN    $$ - $$$     NaN    NaN
0                Le Caribou               NaN         NaN     NaN    NaN
0      Le Petit Vingt-Trois               NaN    $$ - $$$     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g188057-d13203572-Reviews-E...
0     NaN  /Restaurant_Review-g188057-d13205917-Reviews-G...
0     NaN  /Restaurant_Review-g188057-d13227187-Reviews-T...
0     NaN  /Restaurant_Review-g188057-d13326936-Reviews-L...
0     NaN  /Restaurant_Review-g188057-d13340603-Reviews-L...
$$ - $$$    785
NaN         591
$$$$        118
$            78
Name: Price Range, dtype: int64
4 of 5 bubbles      544
4.5 of 5 bubbles    352
3.5 of 5 bubbles    230
NaN                 163
3 of 5 bubbles      117
5 of 5 bubbles      113
2.5 of 5 bubbles     29
2 of 5 bubbles       16
1 of 5 bubbles        4
1.5 of 5 bubbles      3
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Hamburg_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3131 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1694 non-null object
ID_TA                3131 non-null object
Name                 3131 non-null object
Number of Reviews    2446 non-null object
Price Range          1263 non-null object
Ranking              2731 non-null object
Rating               2737 non-null object
Reviews              2737 non-null object
URL_TA               3131 non-null object
dtypes: object(9)
memory usage: 244.6+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Lebanese', 'Mediterranean', 'Middle Eastern'...   d3929905
0  ['Steakhouse', 'Brazilian', 'South American', ...   d4260468
0  ['German', 'Austrian', 'Diner', 'Wine Bar', 'V...  d12723004
0  ['International', 'French', 'German', 'Europea...   d8028535
0  ['Steakhouse', 'Barbecue', 'European', 'Argent...   d1381897

                  Name Number of Reviews Price Range  \
0      Restaurant Hala               373    $$ - $$$
0      Helo Restaurant               216    $$ - $$$
0           Gassenhaur               160    $$ - $$$
0  Philipps Restaurant               496    $$ - $$$
0      Estancia Steaks               840    $$ - $$$

                              Ranking            Rating  \
0  #1 of 3,138 Restaurants in Hamburg    5 of 5 bubbles
0  #2 of 3,138 Restaurants in Hamburg    5 of 5 bubbles
0  #3 of 3,138 Restaurants in Hamburg    5 of 5 bubbles
0  #4 of 3,138 Restaurants in Hamburg    5 of 5 bubbles
0  #5 of 3,138 Restaurants in Hamburg  4.5 of 5 bubbles

                                             Reviews  \
0  [['Beautiful restaurant, excellent food & ser....
0  [['Simplesmente delicioso', 'great restaurant ...
0  [['Great restaurant', 'Great food fab waiter !...
0  [['Birthday dinner', 'Highly recommended'], ['...
0  [['Simply amazing place!', 'Best meat I have e...

                                              URL_TA
0  /Restaurant_Review-g187331-d3929905-Reviews-Re...
0  /Restaurant_Review-g187331-d4260468-Reviews-He...
0  /Restaurant_Review-g187331-d12723004-Reviews-G...
0  /Restaurant_Review-g187331-d8028535-Reviews-Ph...
0  /Restaurant_Review-g187331-d1381897-Reviews-Es...
                                       Cuisine Style      ID_TA          Name  \
0                           ['American', 'Barbecue']  d13358362  Burger House
0                      ['Vietnamese', 'Street Food']  d13360011       Mi-chii
0                                 ['Greek', 'Diner']  d13366640      El Greco
0                  ['Asian', 'Fusion', 'Vietnamese']  d13367866  The 21The 21
0  ['Steakhouse', 'Bar', 'Fast Food', 'Grill', 'P...  d13369959         Cibus

  Number of Reviews Price Range Ranking Rating Reviews  \
0               NaN         NaN     NaN    NaN     NaN
0               NaN         NaN     NaN    NaN     NaN
0               NaN         NaN     NaN    NaN     NaN
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g187331-d13358362-Reviews-B...
0  /Restaurant_Review-g187331-d13360011-Reviews-M...
0  /Restaurant_Review-g187331-d13366640-Reviews-E...
0  /Restaurant_Review-g187331-d13367866-Reviews-T...
0  /Restaurant_Review-g187331-d13369959-Reviews-C...
NaN         1868
$$ - $$$     909
$            263
$$$$          91
Name: Price Range, dtype: int64
4 of 5 bubbles      952
4.5 of 5 bubbles    774
3.5 of 5 bubbles    417
NaN                 394
5 of 5 bubbles      310
3 of 5 bubbles      171
2.5 of 5 bubbles     44
2 of 5 bubbles       36
1 of 5 bubbles       27
1.5 of 5 bubbles      6
Name: Rating, dtype: int64

Helsinki_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1228 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        964 non-null object
ID_TA                1228 non-null object
Name                 1228 non-null object
Number of Reviews    1069 non-null object
Price Range          789 non-null object
Ranking              1145 non-null object
Rating               1146 non-null object
Reviews              1147 non-null object
URL_TA               1228 non-null object
dtypes: object(9)
memory usage: 95.9+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['European', 'Scandinavian', 'Vegetarian Frien...  d10179471
0  ['Contemporary', 'Scandinavian', 'Vegetarian F...    d784038
0  ['European', 'Central European', 'Vegetarian F...   d2201057
0  ['European', 'Central European', 'Scandinavian...   d6591387
0  ['European', 'Scandinavian', 'Vegetarian Frien...   d1012790

              Name Number of Reviews Price Range  \
0        Finnjavel               305        $$$$
0    Olo Ravintola               615        $$$$
0  Restaurant Muru               449        $$$$
0             Ragu               685        $$$$
0    Ravintola Kuu               703    $$ - $$$

                               Ranking            Rating  \
0  #1 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
0  #2 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
0  #3 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
0  #4 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles
0  #5 of 1,228 Restaurants in Helsinki  4.5 of 5 bubbles

                                             Reviews  \
0  [['Fantastic Taste of Finland', 'Modern Finnis...
0  [['An evening to remember', 'Best dinner we ev...
0  [['Good service and food', 'Superb menu'], ['1...
0  [['Excellent, enjoyable evening', 'Delicious']...
0  [['Delicious Salmon Soup', 'Best Meal of our h...

                                              URL_TA
0  /Restaurant_Review-g189934-d10179471-Reviews-F...
0  /Restaurant_Review-g189934-d784038-Reviews-Olo...
0  /Restaurant_Review-g189934-d2201057-Reviews-Re...
0  /Restaurant_Review-g189934-d6591387-Reviews-Ra...
0  /Restaurant_Review-g189934-d1012790-Reviews-Ra...
                                  Cuisine Style      ID_TA  \
0                                  ['European']  d13350214
0                                  ['European']  d13350222
0                                   ['Italian']  d13350231
0  ['European', 'Delicatessen', 'Contemporary']  d13350874
0                                           NaN  d13355179

                               Name Number of Reviews Price Range Ranking  \
0            Ravintola Factory Tali               NaN    $$ - $$$     NaN
0      Ravintola Factory Roihupelto               NaN    $$ - $$$     NaN
0                        Lo Stretto               NaN         NaN     NaN
0  Ravintola Factory Bistro Vallila               NaN    $$ - $$$     NaN
0         La Torrefazione Hakaniemi               NaN         NaN     NaN

  Rating   Reviews                                             URL_TA
0    NaN       NaN  /Restaurant_Review-g189934-d13350214-Reviews-R...
0    NaN       NaN  /Restaurant_Review-g189934-d13350222-Reviews-R...
0    NaN       NaN  /Restaurant_Review-g189934-d13350231-Reviews-L...
0    NaN       NaN  /Restaurant_Review-g189934-d13350874-Reviews-R...
0    NaN  [[], []]  /Restaurant_Review-g189934-d13355179-Reviews-L...
$$ - $$$    606
NaN         439
$           137
$$$$         46
Name: Price Range, dtype: int64
4 of 5 bubbles      432
4.5 of 5 bubbles    257
3.5 of 5 bubbles    222
3 of 5 bubbles      105
NaN                  82
5 of 5 bubbles       79
2.5 of 5 bubbles     26
2 of 5 bubbles       17
1 of 5 bubbles        6
1.5 of 5 bubbles      2
Name: Rating, dtype: int64

Krakow_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1354 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1049 non-null object
ID_TA                1354 non-null object
Name                 1354 non-null object
Number of Reviews    1151 non-null object
Price Range          898 non-null object
Ranking              1245 non-null object
Rating               1246 non-null object
Reviews              1246 non-null object
URL_TA               1354 non-null object
dtypes: object(9)
memory usage: 105.8+ KB

None
                                       Cuisine Style      ID_TA  \
0  ['Polish', 'Cafe', 'European', 'Vegetarian Fri...  d10086671
0  ['European', 'Polish', 'Eastern European', 'Ce...   d8412137
0  ['Diner', 'Fast Food', 'Healthy', 'Vegetarian ...   d8868480
0  ['Japanese', 'Sushi', 'Asian', 'Fusion', 'Vege...  d11812564
0  ['Polish', 'Eastern European', 'Central Europe...   d1749958

                             Name Number of Reviews Price Range  \
0                     Gossip Cafe               171    $$ - $$$
0  Old Town Restaurant Wine & Bar             1,092    $$ - $$$
0                           Vegab               555           $
0               Nago Sushi & Sake               329        $$$$
0              Restauracja Starka             4,483    $$ - $$$

                             Ranking            Rating  \
0  #1 of 1,354 Restaurants in Krakow    5 of 5 bubbles
0  #2 of 1,354 Restaurants in Krakow  4.5 of 5 bubbles
0  #3 of 1,354 Restaurants in Krakow  4.5 of 5 bubbles
0  #4 of 1,354 Restaurants in Krakow  4.5 of 5 bubbles
0  #5 of 1,354 Restaurants in Krakow  4.5 of 5 bubbles

                                             Reviews  \
0  [['Delicious breakfast', 'Very good'], ['01/08...
0  [['Brilliant food', 'Recommend!'], ['01/10/201...
0  [['Coming back to Krakow just for a Kebab her....
0  [['Brilliant Sushi', 'Great atmosphere'], ['01...
0  [['Fantastic!', 'We r definitely going back'],...

                                              URL_TA
0  /Restaurant_Review-g274772-d10086671-Reviews-G...
0  /Restaurant_Review-g274772-d8412137-Reviews-Ol...
0  /Restaurant_Review-g274772-d8868480-Reviews-Ve...
0  /Restaurant_Review-g274772-d11812564-Reviews-N...
0  /Restaurant_Review-g274772-d1749958-Reviews-Re...
            Cuisine Style      ID_TA                                Name  \
0             ['Italian']  d13340639                   Pizzeria Al Forno
0          ['Bar', 'Pub']  d13345651      Kawiarnia Teatralna w Krakowie
0   ['American', 'Pizza']  d13356042  New York Pizza Department Litewska
0  ['Polish', 'European']  d13356136                            Handelek
0  ['Polish', 'European']  d13356157                   Mrs&Mr Zapiekanka

  Number of Reviews Price Range Ranking Rating Reviews  \
0               NaN         NaN     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g274772-d13340639-Reviews-P...
0  /Restaurant_Review-g274772-d13345651-Reviews-K...
0  /Restaurant_Review-g274772-d13356042-Reviews-N...
0  /Restaurant_Review-g274772-d13356136-Reviews-H...
0  /Restaurant_Review-g274772-d13356157-Reviews-M...
$$ - $$$    497
NaN         456
$           376
$$$$         25
Name: Price Range, dtype: int64
4.5 of 5 bubbles    447
4 of 5 bubbles      383
3.5 of 5 bubbles    162
5 of 5 bubbles      160
NaN                 108
3 of 5 bubbles       50
2.5 of 5 bubbles     23
2 of 5 bubbles       11
1 of 5 bubbles        6
-1 of 5 bubbles       3
1.5 of 5 bubbles      1
Name: Rating, dtype: int64

Lisbon_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4153 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        3007 non-null object
ID_TA                4153 non-null object
Name                 4153 non-null object
Number of Reviews    3626 non-null object
Price Range          2561 non-null object
Ranking              3888 non-null object
Rating               3884 non-null object
Reviews              3885 non-null object
URL_TA               4153 non-null object
dtypes: object(9)
memory usage: 324.5+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['Bar', 'Pub', 'Healthy', 'Brazilian', 'Vegeta...  d8574693
0  ['European', 'Portuguese', 'Soups', 'Mediterra...  d8626284
0  ['Mediterranean', 'European', 'Portuguese', 'V...  d6934887
0  ['Portuguese', 'Wine Bar', 'Gluten Free Options']  d2719569
0  ['Mediterranean', 'European', 'Portuguese', 'C...  d8757206

                         Name Number of Reviews Price Range  \
0     Estamine Art Food Drink               310           $
0      Ha Tapas no Mercado!!!               382           $
0         Mercearia do Seculo               268    $$ - $$$
0  BA Wine Bar do Bairro Alto             1,504    $$ - $$$
0          Agulha No Palheiro               194    $$ - $$$

                                      Ranking            Rating  \
0           #1 of 3,941 Restaurants in Lisbon    5 of 5 bubbles
0           #2 of 3,941 Restaurants in Lisbon    5 of 5 bubbles
0  #4 of 6,265 Restaurants in Lisbon District    5 of 5 bubbles
0           #3 of 3,941 Restaurants in Lisbon  4.5 of 5 bubbles
0           #4 of 3,941 Restaurants in Lisbon    5 of 5 bubbles

                                             Reviews  \
0  [['One of a kind', 'once in a lifetime experie...
0  [['Best tapas in Lisbon!!', 'Best portuguese t...
0  [['Very nice', 'Fabulous'], ['01/04/2018', '12...
0  [['Amazing!!', 'Just go!!'], ['01/09/2018', '0...
0  [['feel like home', 'Food LOVER'], ['01/07/201...

                                              URL_TA
0  /Restaurant_Review-g189158-d8574693-Reviews-Es...
0  /Restaurant_Review-g189158-d8626284-Reviews-Ha...
0  /Restaurant_Review-g3874225-d6934887-Reviews-M...
0  /Restaurant_Review-g189158-d2719569-Reviews-BA...
0  /Restaurant_Review-g189158-d8757206-Reviews-Ag...
                            Cuisine Style      ID_TA  \
0                             ['Healthy']  d13341033
0                       ['Mediterranean']  d13341278
0  ['European', 'Portuguese', 'Wine Bar']  d13344194
0                            ['Japanese']  d13352561
0                                 ['Bar']  d13353933

                        Name Number of Reviews Price Range Ranking Rating  \
0              Cozinharmonia               NaN    $$ - $$$     NaN    NaN
0  Taranna - Espai Barcelona               NaN    $$ - $$$     NaN    NaN
0            Chiado Wine Bar               NaN    $$ - $$$     NaN    NaN
0         Koi Sushi Saldanha               NaN    $$ - $$$     NaN    NaN
0            Sailors Bar Lda               NaN           $     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g189158-d13341033-Reviews-C...
0     NaN  /Restaurant_Review-g189158-d13341278-Reviews-T...
0     NaN  /Restaurant_Review-g189158-d13344194-Reviews-C...
0     NaN  /Restaurant_Review-g189158-d13352561-Reviews-K...
0     NaN  /Restaurant_Review-g189158-d13353933-Reviews-S...
$$ - $$$    1679
NaN         1592
$            775
$$$$         107
Name: Price Range, dtype: int64
4 of 5 bubbles      1346
4.5 of 5 bubbles    1216
3.5 of 5 bubbles     553
5 of 5 bubbles       382
NaN                  269
3 of 5 bubbles       262
2.5 of 5 bubbles      59
2 of 5 bubbles        34
1 of 5 bubbles        18
1.5 of 5 bubbles      12
-1 of 5 bubbles        2
Name: Rating, dtype: int64

Ljubljana_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        406 non-null object
ID_TA                501 non-null object
Name                 501 non-null object
Number of Reviews    434 non-null object
Price Range          341 non-null object
Ranking              469 non-null object
Rating               468 non-null object
Reviews              468 non-null object
URL_TA               501 non-null object
dtypes: object(9)
memory usage: 39.1+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['European', 'Contemporary', 'Slovenian', 'Cen...  d10460965
0  ['European', 'Slovenian', 'Central European', ...   d3812696
0  ['Contemporary', 'Slovenian', 'Vegan Options',...   d7202050
0  ['Japanese', 'Fast Food', 'Mediterranean', 'Ba...   d8262021
0  ['Mediterranean', 'European', 'Slovenian', 'Ce...   d1212202

                   Name Number of Reviews Price Range  \
0       Monstera bistro               303    $$ - $$$
0  Restavracija Strelec               480        $$$$
0                  Luda               384    $$ - $$$
0          Odprta Kuhna               194           $
0              Valvasor               911        $$$$

                              Ranking            Rating  \
0  #1 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
0  #2 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
0  #3 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
0  #4 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles
0  #5 of 501 Restaurants in Ljubljana  4.5 of 5 bubbles

                                             Reviews  \
0  [['high expectations fully met', 'Fine bistro'...
0  [['Five star restaurant', 'Superb!'], ['01/06/...
0  [['Birthday Meal', 'Great!'], ['12/19/2017', '...
0  [['A very special event!', 'Great ambiance, gr...
0  [['High expectations fully met', 'superb'], ['...

                                              URL_TA
0  /Restaurant_Review-g274873-d10460965-Reviews-M...
0  /Restaurant_Review-g274873-d3812696-Reviews-Re...
0  /Restaurant_Review-g274873-d7202050-Reviews-Lu...
0  /Restaurant_Review-g274873-d8262021-Reviews-Od...
0  /Restaurant_Review-g274873-d1212202-Reviews-Va...
                                       Cuisine Style      ID_TA  \
0                          ['European', 'Slovenian']  d13174493
0  ['Italian', 'French', 'American', 'Mediterrane...  d13196249
0                                          ['Pizza']  d13231744
0  ['Italian', 'German', 'Austrian', 'European', ...  d13278410
0  ['Italian', 'Mediterranean', 'European', 'Slov...  d13320175

                Name Number of Reviews Price Range Ranking Rating Reviews  \
0        Inn Ledinek               NaN           $     NaN    NaN     NaN
0         Habitat 32               NaN    $$ - $$$     NaN    NaN     NaN
0  Pizzerija Medobar               NaN         NaN     NaN    NaN     NaN
0        Pod Strehco               NaN           $     NaN    NaN     NaN
0      Letras d.o.o.               NaN    $$ - $$$     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g274873-d13174493-Reviews-I...
0  /Restaurant_Review-g274873-d13196249-Reviews-H...
0  /Restaurant_Review-g274873-d13231744-Reviews-P...
0  /Restaurant_Review-g274873-d13278410-Reviews-P...
0  /Restaurant_Review-g274873-d13320175-Reviews-L...
$$ - $$$    224
NaN         160
$           100
$$$$         17
Name: Price Range, dtype: int64
4 of 5 bubbles      165
4.5 of 5 bubbles    155
5 of 5 bubbles       55
3.5 of 5 bubbles     54
NaN                  33
3 of 5 bubbles       28
2.5 of 5 bubbles      9
2 of 5 bubbles        2
Name: Rating, dtype: int64

London_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18212 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        14504 non-null object
ID_TA                18212 non-null object
Name                 18212 non-null object
Number of Reviews    15352 non-null object
Price Range          12163 non-null object
Ranking              16434 non-null object
Rating               16435 non-null object
Reviews              16436 non-null object
URL_TA               18212 non-null object
dtypes: object(9)
memory usage: 1.4+ MB
None
                                       Cuisine Style      ID_TA  \
0  ['Cafe', 'Middle Eastern', 'Persian', 'Vegetar...  d10517849
0  ['Italian', 'Mediterranean', 'Vegetarian Frien...  d13149344
0      ['Seafood', 'British', 'Gluten Free Options']  d12518072
0  ['Mediterranean', 'European', 'Turkish', 'Midd...  d10444968
0  ['International', 'Vegetarian Friendly', 'Glut...   d7697088

                                  Name Number of Reviews Price Range  \
0                   R & H cafe gallery               146    $$ - $$$
0                       Osteria Romana               112        $$$$
0  The Oystermen Seafood Bar & Kitchen               255    $$ - $$$
0                     Liman Restaurant               945    $$ - $$$
0                           Holy Smoke               433    $$ - $$$

                              Ranking          Rating  \
0  #1 of 18,222 Restaurants in London  5 of 5 bubbles
0  #2 of 18,222 Restaurants in London  5 of 5 bubbles
0  #3 of 18,222 Restaurants in London  5 of 5 bubbles
0  #4 of 18,222 Restaurants in London  5 of 5 bubbles
0  #5 of 18,222 Restaurants in London  5 of 5 bubbles

                                             Reviews  \
0  [['Amazing cakes', 'Breakfatst'], ['01/08/2018...
0  [['Small restaurant with the touch of Italian....
0  [['Fantasic!!', 'Superb Food, Warm and Welcomi...
0  [['A good experience', 'Excellent Establishmen...
0  [['Always consistently good food and service',...

                                              URL_TA
0  /Restaurant_Review-g186338-d10517849-Reviews-R...
0  /Restaurant_Review-g186338-d13149344-Reviews-O...
0  /Restaurant_Review-g186338-d12518072-Reviews-T...
0  /Restaurant_Review-g186338-d10444968-Reviews-L...
0  /Restaurant_Review-g186338-d7697088-Reviews-Ho...
                              Cuisine Style      ID_TA  \
0                               ['Spanish']  d13341128
0  ['Cafe', 'Delicatessen', 'Contemporary']  d13341581
0                                       NaN  d13344085
0                               ['British']  d13344377
0                ['Italian', 'Azerbaijani']  d13345029

                         Name Number of Reviews Price Range Ranking Rating  \
0  Llerena. Iberico Tapas Bar               NaN        $$$$     NaN    NaN
0                     Shafran               NaN         NaN     NaN    NaN
0                   Mamak Don               NaN         NaN     NaN    NaN
0    Rocket by Balls Brothers               NaN    $$ - $$$     NaN    NaN
0                 Shafran Ltd               NaN    $$ - $$$     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g186338-d13341128-Reviews-L...
0     NaN  /Restaurant_Review-g186338-d13341581-Reviews-S...
0     NaN  /Restaurant_Review-g186338-d13344085-Reviews-M...
0     NaN  /Restaurant_Review-g186338-d13344377-Reviews-R...
0     NaN  /Restaurant_Review-g186338-d13345029-Reviews-S...
$$ - $$$    8529
NaN         6049
$           2986
$$$$         648
Name: Price Range, dtype: int64
4 of 5 bubbles      5646
4.5 of 5 bubbles    3946
3.5 of 5 bubbles    3137
NaN                 1777
5 of 5 bubbles      1592
3 of 5 bubbles      1265
2.5 of 5 bubbles     423
2 of 5 bubbles       214
1 of 5 bubbles       135
1.5 of 5 bubbles      73
-1 of 5 bubbles        4
Name: Rating, dtype: int64

Luxembourg_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 657 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        539 non-null object
ID_TA                657 non-null object
Name                 657 non-null object
Number of Reviews    589 non-null float64
Price Range          447 non-null object
Ranking              622 non-null object
Rating               623 non-null object
Reviews              623 non-null object
URL_TA               657 non-null object
dtypes: float64(1), object(8)
memory usage: 51.3+ KB
None
                                       Cuisine Style      ID_TA  \
0    ['American', 'European', 'Vegetarian Friendly']  d10547625
0      ['French', 'European', 'Vegetarian Friendly']    d743811
0  ['Italian', 'French', 'European', 'Vegetarian ...    d950848
0  ['French', 'European', 'Vegetarian Friendly', ...   d1416047
0  ['Mediterranean', 'European', 'Greek', 'Vegeta...   d1056692

                     Name  Number of Reviews Price Range  \
0             Lux'Burgers              280.0    $$ - $$$
0          Clairefontaine              543.0        $$$$
0                  Cyrano              258.0    $$ - $$$
0                  Le Sud              613.0        $$$$
0  Athena Restaurant Grec              589.0    $$ - $$$

                                    Ranking            Rating  \
0  #1 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
0  #2 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
0  #3 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
0  #4 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles
0  #5 of 657 Restaurants in Luxembourg City  4.5 of 5 bubbles

                                             Reviews  \
0  [['Best burger ever?', 'A rich treat'], ['01/0...
0  [['Fantastic fine dining restaurant experienc....
0  [['Unique', 'Excellent quality / price ratio']...
0  [['One of the best dining experiences of my l....
0  [['Wonderful atmosphere', 'Family friendly, se...

                                              URL_TA
0  /Restaurant_Review-g190356-d10547625-Reviews-L...
0  /Restaurant_Review-g190356-d743811-Reviews-Cla...
0  /Restaurant_Review-g190356-d950848-Reviews-Cyr...
0  /Restaurant_Review-g190356-d1416047-Reviews-Le...
0  /Restaurant_Review-g190356-d1056692-Reviews-At...
                  Cuisine Style      ID_TA                 Name  \
0                 ['Caucasian']  d13104787  La Ruche Luxembourg
0                           NaN  d13124481                Fobia
0                   ['Healthy']  d13184676           Superfoods
0                ['Bar', 'Pub']  d13206101   Lux Brewery Lounge
0  ['Chinese', 'Asian', 'Thai']  d13220112    Le Jardin Gourmet

   Number of Reviews Price Range Ranking Rating Reviews  \
0                NaN    $$ - $$$     NaN    NaN     NaN
0                NaN         NaN     NaN    NaN     NaN
0                NaN         NaN     NaN    NaN     NaN
0                NaN         NaN     NaN    NaN     NaN
0                NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g190356-d13104787-Reviews-L...
0  /Restaurant_Review-g190356-d13124481-Reviews-F...
0  /Restaurant_Review-g190356-d13184676-Reviews-S...
0  /Restaurant_Review-g190356-d13206101-Reviews-L...
0  /Restaurant_Review-g190356-d13220112-Reviews-L...
$$ - $$$    369
NaN         210
$            42
$$$$         36
Name: Price Range, dtype: int64
4 of 5 bubbles      230
3.5 of 5 bubbles    143
4.5 of 5 bubbles    140
3 of 5 bubbles       58
5 of 5 bubbles       36
NaN                  34
2 of 5 bubbles       11
2.5 of 5 bubbles      4
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Madrid_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9543 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        6402 non-null object
ID_TA                9543 non-null object
Name                 9543 non-null object
Number of Reviews    8232 non-null object
Price Range          4969 non-null object
Ranking              8803 non-null object
Rating               8812 non-null object
Reviews              8814 non-null object
URL_TA               9543 non-null object
dtypes: object(9)
memory usage: 745.5+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Mediterranean', 'European', 'Spanish', 'Cont...  d10428302
0  ['International', 'European', 'Spanish', 'Cont...   d6884911
0  ['International', 'Mediterranean', 'European',...   d2006562
0  ['International', 'Mediterranean', 'European',...  d11896546
0                       ['Mediterranean', 'Spanish']   d1953725

                                      Name Number of Reviews Price Range  \
0                                     Cebo               352        $$$$
0                                   DSTAGE             1,724        $$$$
0                    Los Montes de Galicia             3,795    $$ - $$$
0                                    Astor               302    $$ - $$$
0  Restaurante Nuevo Horno de Santa Teresa               357    $$ - $$$

                             Ranking            Rating  \
0  #1 of 9,561 Restaurants in Madrid    5 of 5 bubbles
0  #2 of 9,561 Restaurants in Madrid  4.5 of 5 bubbles
0  #3 of 9,561 Restaurants in Madrid  4.5 of 5 bubbles
0  #4 of 9,561 Restaurants in Madrid    5 of 5 bubbles
0  #5 of 9,561 Restaurants in Madrid  4.5 of 5 bubbles

                                             Reviews  \
0  [['Absolutely divine tastes and flavours', 'Lo...
0  [['Birthday meal', 'Outstanding experience. Ve...
0  [['Wonderful lunch', 'One of Madridâ€™s finest.'...
0  [['Small place with big flavours', 'The best d...
0  [['Be hungry, be very hungry....', 'Good good'...

                                              URL_TA
0  /Restaurant_Review-g187514-d10428302-Reviews-C...
0  /Restaurant_Review-g187514-d6884911-Reviews-DS...
0  /Restaurant_Review-g187514-d2006562-Reviews-Lo...
0  /Restaurant_Review-g187514-d11896546-Reviews-A...
0  /Restaurant_Review-g187514-d1953725-Reviews-Re...
                     Cuisine Style      ID_TA                      Name  \
0                       ['Indian']  d13340838  Bengol Indian Restaurant
0                      ['Spanish']  d13343539               La Revuelta
0     ['Mediterranean', 'Spanish']  d13345511               Casa Carmen
0  ['Japanese', 'Asian', 'Fusion']  d13345610                  Gho Hfan
0                              NaN  d13347983      El Escondite de Baco

  Number of Reviews Price Range Ranking Rating Reviews  \
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN         NaN     NaN    NaN     NaN
0               NaN         NaN     NaN    NaN     NaN
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g187514-d13340838-Reviews-B...
0  /Restaurant_Review-g187514-d13343539-Reviews-L...
0  /Restaurant_Review-g187514-d13345511-Reviews-C...
0  /Restaurant_Review-g187514-d13345610-Reviews-G...
0  /Restaurant_Review-g187514-d13347983-Reviews-E...
NaN         4574
$$ - $$$    3601
$           1064
$$$$         304
Name: Price Range, dtype: int64
4 of 5 bubbles      2855
3.5 of 5 bubbles    1848
4.5 of 5 bubbles    1730
3 of 5 bubbles      1006
NaN                  731
5 of 5 bubbles       639
2.5 of 5 bubbles     414
2 of 5 bubbles       199
1 of 5 bubbles        73
1.5 of 5 bubbles      45
-1 of 5 bubbles        3
Name: Rating, dtype: int64

Marseille_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1991 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1283 non-null object
ID_TA                1991 non-null object
Name                 1991 non-null object
Number of Reviews    1665 non-null object
Price Range          929 non-null object
Ranking              1797 non-null object
Rating               1795 non-null object
Reviews              1795 non-null object
URL_TA               1991 non-null object
dtypes: object(9)
memory usage: 155.5+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Asian', 'Thai', 'Vegetarian Friendly', 'Vega...  d10100655
0  ['French', 'Mediterranean', 'European', 'Veget...   d3708193
0      ['French', 'European', 'Vegetarian Friendly']   d8710857
0  ['French', 'European', 'Vegetarian Friendly', ...   d6771265
0  ['French', 'Mediterranean', 'Vegetarian Friend...   d3590719

                      Name Number of Reviews Price Range  \
0                Le Toigou               209           $
0                  O'Bidul               895    $$ - $$$
0   Restaurant L'Inattendu               175    $$ - $$$
0  AM par Alexandre Mazzia               632        $$$$
0                  L'Arome               700    $$ - $$$

                                Ranking            Rating  \
0  #1 of 1,991 Restaurants in Marseille    5 of 5 bubbles
0  #2 of 1,991 Restaurants in Marseille    5 of 5 bubbles
0  #3 of 1,991 Restaurants in Marseille  4.5 of 5 bubbles
0  #4 of 1,991 Restaurants in Marseille  4.5 of 5 bubbles
0  #5 of 1,991 Restaurants in Marseille  4.5 of 5 bubbles

                                             Reviews  \
0  [['Excellent authentic Thai at last', 'good pr...
0  [['Very interesting', 'Good experience.'], ['1...
0  [['Superb!', 'The best of Marseille'], ['12/28...
0  [['Superb meal, great price', 'Oh yes... that ...
0  [['Weekend away with family', 'Lovely dinner']...

                                              URL_TA
0  /Restaurant_Review-g187253-d10100655-Reviews-L...
0  /Restaurant_Review-g187253-d3708193-Reviews-O_...
0  /Restaurant_Review-g187253-d8710857-Reviews-Re...
0  /Restaurant_Review-g187253-d6771265-Reviews-AM...
0  /Restaurant_Review-g187253-d3590719-Reviews-L_...

                                       Cuisine Style      ID_TA  \
0                                     ['Vietnamese']  d13323332
0                      ['Mediterranean', 'Tunisian']  d13327639
0                                       ['American']  d13330435
0  ['French', 'Lebanese', 'Moroccan', 'Mediterran...  d13358277
0                                       ['Japanese']  d13358413

             Name Number of Reviews Price Range Ranking Rating Reviews  \
0         L'Usyne               NaN         NaN     NaN    NaN     NaN
0            Nour               NaN    $$ - $$$     NaN    NaN     NaN
0  Le Toaster Bar               NaN    $$ - $$$     NaN    NaN     NaN
0     Lyne Mamour               NaN    $$ - $$$     NaN    NaN     NaN
0     Shiro Sushi               NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g187253-d13323332-Reviews-L...
0  /Restaurant_Review-g187253-d13327639-Reviews-N...
0  /Restaurant_Review-g187253-d13330435-Reviews-L...
0  /Restaurant_Review-g187253-d13358277-Reviews-L...
0  /Restaurant_Review-g187253-d13358413-Reviews-S...
NaN         1062
$$ - $$$     702
$            177
$$$$          50
Name: Price Range, dtype: int64
4 of 5 bubbles      534
4.5 of 5 bubbles    515
3.5 of 5 bubbles    287
NaN                 196
5 of 5 bubbles      182
3 of 5 bubbles      137
2.5 of 5 bubbles     68
2 of 5 bubbles       46
1 of 5 bubbles       16
1.5 of 5 bubbles     10
Name: Rating, dtype: int64

Milan_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6687 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        4783 non-null object
ID_TA                6687 non-null object
Name                 6687 non-null object
Number of Reviews    5941 non-null object
Price Range          3822 non-null object
Ranking              6274 non-null object
Rating               6276 non-null object
Reviews              6279 non-null object
URL_TA               6687 non-null object
dtypes: object(9)
memory usage: 522.4+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Italian', 'Mediterranean', 'Vegetarian Frien...  d12949211
0  ['Italian', 'Delicatessen', 'Wine Bar', 'Europ...   d8780418
0  ['Italian', 'Steakhouse', 'Mediterranean', 'Ba...   d8289378
0  ['Italian', 'Mediterranean', 'European', 'Cont...   d2361569
0  ['Mediterranean', 'Italian', 'Fusion', 'Vegeta...   d8610996

                        Name Number of Reviews Price Range  \
0                    Dersett               103    $$ - $$$
0              Sapori Solari             1,007    $$ - $$$
0  Macelleria Equina Da Vito               509           $
0           VUN Andrea Aprea               539        $$$$
0                  Contraste               609        $$$$

                            Ranking            Rating  \
0  #1 of 6,690 Restaurants in Milan    5 of 5 bubbles
0  #2 of 6,690 Restaurants in Milan  4.5 of 5 bubbles
0  #3 of 6,690 Restaurants in Milan  4.5 of 5 bubbles
0  #4 of 6,690 Restaurants in Milan  4.5 of 5 bubbles
0  #5 of 6,690 Restaurants in Milan  4.5 of 5 bubbles

                                             Reviews  \
0  [['A Gem Worth Discovering', 'Loeve the food a...
0  [['Interesting concept !', 'Lunch with friend'...
0  [['Very good', 'Italian macelleria : the real ...
0  [['Nice restaurant', 'It could be awesome...']...
0  [['Special and amazing', 'Good food'], ['12/22...

                                              URL_TA
0  /Restaurant_Review-g187849-d12949211-Reviews-D...
0  /Restaurant_Review-g187849-d8780418-Reviews-Sa...
0  /Restaurant_Review-g187849-d8289378-Reviews-Ma...
0  /Restaurant_Review-g187849-d2361569-Reviews-VU...
0  /Restaurant_Review-g187849-d8610996-Reviews-Co...
  Cuisine Style      ID_TA              Name Number of Reviews Price Range  \
0   ['Seafood']  d13355084         Marecrudo               NaN        $$$$
0   ['Italian']  d13355323  Pandenus Mercato               NaN    $$ - $$$
0           NaN  d13359208     Pesa Pubblica               NaN         NaN
0   ['Italian']  d13359326         Hambroeus               NaN    $$ - $$$
0           NaN  d13368700    Casa del Ramen               NaN         NaN

  Ranking Rating                                            Reviews  \
0     NaN    NaN                                           [[], []]
0     NaN    NaN                                                NaN
0     NaN    NaN  [['Cozy, popular bar and interesting food'], [...
0     NaN    NaN                                           [[], []]
0     NaN    NaN                                                NaN

                                              URL_TA
0  /Restaurant_Review-g187849-d13355084-Reviews-M...
0  /Restaurant_Review-g187849-d13355323-Reviews-P...
0  /Restaurant_Review-g187849-d13359208-Reviews-P...
0  /Restaurant_Review-g187849-d13359326-Reviews-H...
0  /Restaurant_Review-g187849-d13368700-Reviews-C...
NaN         2865
$$ - $$$    2338
$           1241
$$$$         243
Name: Price Range, dtype: int64
4 of 5 bubbles      2323
3.5 of 5 bubbles    1474
4.5 of 5 bubbles    1156
3 of 5 bubbles       644
NaN                  411
5 of 5 bubbles       303
2.5 of 5 bubbles     211
2 of 5 bubbles       105
1 of 5 bubbles        35
1.5 of 5 bubbles      23
-1 of 5 bubbles        2
Name: Rating, dtype: int64

Munich_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2995 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        2039 non-null object
ID_TA                2995 non-null object
Name                 2995 non-null object
Number of Reviews    2545 non-null object
Price Range          1751 non-null object
Ranking              2744 non-null object
Rating               2743 non-null object
Reviews              2744 non-null object
URL_TA               2995 non-null object
dtypes: object(9)
memory usage: 234.0+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['Austrian', 'European', 'Central European', '...   d692576
0  ['German', 'European', 'Diner', 'Central Europ...  d7736677
0  ['Seafood', 'Mediterranean', 'Greek', 'Grill',...  d2660543
0  ['German', 'Bar', 'European', 'Vegetarian Frie...  d1344151
0  ['Seafood', 'Mediterranean', 'European', 'Gree...  d6638510

                                  Name Number of Reviews Price Range  \
0                             Broeding               812        $$$$
0  Schwarzreiter Tagesbar & Restaurant               745        $$$$
0                        Naxos Taverna               705    $$ - $$$
0                         Mariannenhof               267    $$ - $$$
0                       Taverna Limani               631    $$ - $$$

                             Ranking            Rating  \
0  #1 of 3,015 Restaurants in Munich  4.5 of 5 bubbles
0  #2 of 3,015 Restaurants in Munich  4.5 of 5 bubbles
0  #3 of 3,015 Restaurants in Munich  4.5 of 5 bubbles
0  #4 of 3,015 Restaurants in Munich  4.5 of 5 bubbles
0  #5 of 3,015 Restaurants in Munich  4.5 of 5 bubbles

                                             Reviews  \
0  [['Amazing!', 'Fantastic food'], ['12/02/2017'...
0  [['Gluten-free accommodation', 'Restaurant'], ...
0  [['!!!!!Great dinner experience!!!', 'Wow!'], ...
0  [['Mariannenhof - Taste of Bavaria', 'Tasty & ...
0  [['Great greek food!', 'My favourite place to ...

                                              URL_TA
0  /Restaurant_Review-g187309-d692576-Reviews-Bro...
0  /Restaurant_Review-g187309-d7736677-Reviews-Sc...
0  /Restaurant_Review-g187309-d2660543-Reviews-Na...
0  /Restaurant_Review-g187309-d1344151-Reviews-Ma...
0  /Restaurant_Review-g187309-d6638510-Reviews-Ta...
                                       Cuisine Style      ID_TA  \
0                         ['American', 'Steakhouse']  d13342356
0                                                NaN  d13350138
0                  ['German', 'Bar', 'Pub', 'Diner']  d13351838
0  ['German', 'Austrian', 'Cafe', 'International'...  d13352398
0                  ['Italian', 'Bar', 'Cafe', 'Pub']  d13358312

                Name Number of Reviews Price Range Ranking Rating Reviews  \
0  Burger & Steakbar               NaN    $$ - $$$     NaN    NaN     NaN
0       Leopardi Bar               NaN         NaN     NaN    NaN     NaN
0           HeimWerk               NaN    $$ - $$$     NaN    NaN     NaN
0    Gasthaus Domagk               NaN    $$ - $$$     NaN    NaN     NaN
0            Bar Elf               NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g187309-d13342356-Reviews-B...
0  /Restaurant_Review-g187309-d13350138-Reviews-L...
0  /Restaurant_Review-g187309-d13351838-Reviews-H...
0  /Restaurant_Review-g187309-d13352398-Reviews-G...
0  /Restaurant_Review-g187309-d13358312-Reviews-B...
$$ - $$$    1335
NaN         1244
$            294
$$$$         122
Name: Price Range, dtype: int64
4 of 5 bubbles      1042
4.5 of 5 bubbles     732
3.5 of 5 bubbles     462
5 of 5 bubbles       261
NaN                  252
3 of 5 bubbles       157
2.5 of 5 bubbles      55
2 of 5 bubbles        21
1 of 5 bubbles         8
1.5 of 5 bubbles       4
-1 of 5 bubbles        1
Name: Rating, dtype: int64

Oporto_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1575 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1189 non-null object
ID_TA                1575 non-null object
Name                 1575 non-null object
Number of Reviews    1390 non-null object
Price Range          1047 non-null object
Ranking              1485 non-null object
Rating               1484 non-null object
Reviews              1484 non-null object
URL_TA               1575 non-null object
dtypes: object(9)
memory usage: 123.0+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Steakhouse', 'European', 'Portuguese', 'Vege...  d12966802
0  ['European', 'Portuguese', 'Vegetarian Friendl...   d1754835
0  ['Mediterranean', 'European', 'Delicatessen', ...   d6986334
0  ['Mediterranean', 'European', 'Portuguese', 'V...  d11891403
0  ['Mediterranean', 'European', 'Spanish', 'Port...   d6856693

                         Name Number of Reviews Price Range  \
0              MUU Steakhouse               270        $$$$
0                  O Paparico             2,108        $$$$
0            Dama Pe de Cabra               862           $
0        Petisqueira Voltaria               178    $$ - $$$
0  Tapabento - Bar Restaurant             3,088    $$ - $$$

                            Ranking            Rating  \
0  #1 of 1,575 Restaurants in Porto    5 of 5 bubbles
0  #2 of 1,575 Restaurants in Porto  4.5 of 5 bubbles
0  #3 of 1,575 Restaurants in Porto  4.5 of 5 bubbles
0  #4 of 1,575 Restaurants in Porto  4.5 of 5 bubbles
0  #5 of 1,575 Restaurants in Porto  4.5 of 5 bubbles

                                             Reviews  \
0  [['High quality and passionate crew', 'Fabulou...
0  [['You get what you pay for... wonderful!', 'N...
0  [['Worth the second attempt', 'Anazing'], ['01...
0  [['A Great New Years Eve Experience!', 'Lovely...
0  [['Great tapas restaurant!!', 'Great friendly ...

                                              URL_TA
0  /Restaurant_Review-g189180-d12966802-Reviews-M...
0  /Restaurant_Review-g189180-d1754835-Reviews-O_...
0  /Restaurant_Review-g189180-d6986334-Reviews-Da...
0  /Restaurant_Review-g189180-d11891403-Reviews-P...
0  /Restaurant_Review-g189180-d6856693-Reviews-Ta...
                                       Cuisine Style      ID_TA  \
0  ['Mediterranean', 'European', 'Portuguese', 'W...  d13330825
0                                       ['European']  d13338402
0                                    ['Cafe', 'Pub']  d13340293
0                         ['European', 'Portuguese']  d13340862
0  ['European', 'Delicatessen', 'Contemporary', '...  d13359344

                                Name Number of Reviews Price Range Ranking  \
0              Retiro da Mariquinhas               NaN         NaN     NaN
0                   Tasquinha Rebelo               NaN    $$ - $$$     NaN
0                              Combi               NaN         NaN     NaN
0  Restaurante Rito Cozinha Regional               NaN    $$ - $$$     NaN
0                 eLeBe Entreparedes               NaN    $$ - $$$     NaN

  Rating Reviews                                             URL_TA
0    NaN     NaN  /Restaurant_Review-g189180-d13330825-Reviews-R...
0    NaN     NaN  /Restaurant_Review-g189180-d13338402-Reviews-T...
0    NaN     NaN  /Restaurant_Review-g189180-d13340293-Reviews-C...
0    NaN     NaN  /Restaurant_Review-g189180-d13340862-Reviews-R...
0    NaN     NaN  /Restaurant_Review-g189180-d13359344-Reviews-E...
$$ - $$$    624
NaN         528
$           383
$$$$         40
Name: Price Range, dtype: int64
4.5 of 5 bubbles    536
4 of 5 bubbles      466
5 of 5 bubbles      187
3.5 of 5 bubbles    181
NaN                  91
3 of 5 bubbles       74
2.5 of 5 bubbles     23
1.5 of 5 bubbles      6
2 of 5 bubbles        4
1 of 5 bubbles        4
-1 of 5 bubbles       3
Name: Rating, dtype: int64

Oslo_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1213 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        914 non-null object
ID_TA                1213 non-null object
Name                 1213 non-null object
Number of Reviews    1074 non-null object
Price Range          779 non-null object
Ranking              1137 non-null object
Rating               1138 non-null object
Reviews              1138 non-null object
URL_TA               1213 non-null object
dtypes: object(9)
memory usage: 94.8+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['Contemporary', 'European', 'Scandinavian', '...   d805342
0  ['European', 'Scandinavian', 'Norwegian', 'Veg...  d2447055
0  ['French', 'European', 'Scandinavian', 'Norweg...  d1045646
0  ['Italian', 'Mediterranean', 'European', 'Vege...  d1512099
0  ['French', 'European', 'Vegetarian Friendly', ...  d2091264

                          Name Number of Reviews Price Range  \
0            Statholdergaarden               578        $$$$
0                       Maaemo               412        $$$$
0                     hos Thea             1,062        $$$$
0  Ruffino Ristorante Italiano             1,696    $$ - $$$
0     Le Benjamin Bar & Bistro               570    $$ - $$$

                           Ranking            Rating  \
0  #1 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles
0  #2 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles
0  #3 of 1,215 Restaurants in Oslo    5 of 5 bubbles
0  #4 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles
0  #5 of 1,215 Restaurants in Oslo  4.5 of 5 bubbles

                                             Reviews  \
0  [['Classic eating at its best !', 'Expensive, ...
0  [['Extraordinary gastronomic experience', 'onc...
0  [['Absolutely amazing', 'Amazingly lovely expe...
0  [['Two visits, two amazing meals (and wine ;)'...
0  [['Date night', 'Average food for above averag...

                                              URL_TA
0  /Restaurant_Review-g190479-d805342-Reviews-Sta...
0  /Restaurant_Review-g190479-d2447055-Reviews-Ma...
0  /Restaurant_Review-g190479-d1045646-Reviews-Ho...
0  /Restaurant_Review-g190479-d1512099-Reviews-Ru...
0  /Restaurant_Review-g190479-d2091264-Reviews-Le...
                                       Cuisine Style      ID_TA  \
0  ['Indian', 'Brazilian', 'South American', 'Cen...  d13219518
0                                        ['Italian']  d13290694
0                      ['Lebanese', 'Mediterranean']  d13298068
0                                          ['Diner']  d13329520
0  ['American', 'Fast Food', 'Asian', 'Grill', 'V...  d13355217

                           Name Number of Reviews Price Range Ranking Rating  \
0         Oslo Smoothie Factory               NaN           $     NaN    NaN
0  Piccolo Paradiso Pilestredet               NaN    $$ - $$$     NaN    NaN
0               Vestlibua Pizza               NaN         NaN     NaN    NaN
0         Northland, Gardermoen               NaN         NaN     NaN    NaN
0           Stuffed Deli Bazaar               NaN         NaN     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g190479-d13219518-Reviews-O...
0     NaN  /Restaurant_Review-g190479-d13290694-Reviews-P...
0     NaN  /Restaurant_Review-g190479-d13298068-Reviews-V...
0     NaN  /Restaurant_Review-g190479-d13329520-Reviews-N...
0     NaN  /Restaurant_Review-g190479-d13355217-Reviews-S...
$$ - $$$    573
NaN         434
$           136
$$$$         70
Name: Price Range, dtype: int64
4 of 5 bubbles      443
3.5 of 5 bubbles    238
4.5 of 5 bubbles    237
3 of 5 bubbles      107
NaN                  75
5 of 5 bubbles       72
2.5 of 5 bubbles     21
2 of 5 bubbles       14
1 of 5 bubbles        4
1.5 of 5 bubbles      1
-1 of 5 bubbles       1
Name: Rating, dtype: int64

Paris_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14874 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        11357 non-null object
ID_TA                14874 non-null object
Name                 14874 non-null object
Number of Reviews    13280 non-null object
Price Range          9580 non-null object
Ranking              13988 non-null object
Rating               14000 non-null object
Reviews              14001 non-null object
URL_TA               14874 non-null object
dtypes: object(9)
memory usage: 1.1+ MB
None
                                       Cuisine Style      ID_TA  \
0  ['French', 'Seafood', 'European', 'Vegetarian ...  d10622151
0  ['French', 'Mediterranean', 'European', 'Conte...  d12082727
0             ['French', 'European', 'Contemporary']   d9806534
0  ['South American', 'Brew Pub', 'European', 'Ve...  d10514254
0  ['French', 'European', 'Vegetarian Friendly', ...    d719052

                     Name Number of Reviews Price Range  \
0               La Meduse               178    $$ - $$$
0            Le Cappiello               208    $$ - $$$
0                   ASPIC               427        $$$$
0  Les Apotres de Pigalle             1,152    $$ - $$$
0                 Epicure             2,305        $$$$

                             Ranking          Rating  \
0  #1 of 14,875 Restaurants in Paris  5 of 5 bubbles
0  #2 of 14,875 Restaurants in Paris  5 of 5 bubbles
0  #3 of 14,875 Restaurants in Paris  5 of 5 bubbles
0  #4 of 14,875 Restaurants in Paris  5 of 5 bubbles
0  #5 of 14,875 Restaurants in Paris  5 of 5 bubbles

                                             Reviews  \
0  [["You can't figure out from the outside the.....
0  [['Incredible!', 'Amazing food, wonderful atmo...
0  [['Second time and just as good', 'Best dinner...
0  [['Wonderful culinary experience', 'Must go re...
0  [['Very nice place', 'Speechless'], ['01/08/20...

                                              URL_TA
0  /Restaurant_Review-g187147-d10622151-Reviews-L...
0  /Restaurant_Review-g187147-d12082727-Reviews-L...
0  /Restaurant_Review-g187147-d9806534-Reviews-AS...
0  /Restaurant_Review-g187147-d10514254-Reviews-L...
0  /Restaurant_Review-g187147-d719052-Reviews-Epi...
          Cuisine Style      ID_TA                          Name  \
0    ['French', 'Cafe']  d13343734               Paul et Rimbaud
0    ['Middle Eastern']  d13344298                       Shamyat
0           ['Italian']  d13344313                   Bar Le Onze
0  ['Italian', 'Pizza']  d13345438  Trattoria Del Arte Haussmann
0         ['Fast Food']  d13345492                       Pur Jus

  Number of Reviews Price Range Ranking Rating Reviews  \
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN    $$ - $$$     NaN    NaN     NaN
0               NaN           $     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g187147-d13343734-Reviews-P...
0  /Restaurant_Review-g187147-d13344298-Reviews-S...
0  /Restaurant_Review-g187147-d13344313-Reviews-B...
0  /Restaurant_Review-g187147-d13345438-Reviews-T...
0  /Restaurant_Review-g187147-d13345492-Reviews-P...
$$ - $$$    7175
NaN         5294
$           1726
$$$$         679
Name: Price Range, dtype: int64
4 of 5 bubbles      4981
4.5 of 5 bubbles    3625
3.5 of 5 bubbles    2549
3 of 5 bubbles      1120
5 of 5 bubbles      1076
NaN                  874
2.5 of 5 bubbles     377
2 of 5 bubbles       160
1 of 5 bubbles        68
1.5 of 5 bubbles      39
-1 of 5 bubbles        5
Name: Rating, dtype: int64

Prague_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4859 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        4032 non-null object
ID_TA                4859 non-null object
Name                 4859 non-null object
Number of Reviews    3711 non-null object
Price Range          2674 non-null object
Ranking              4172 non-null object
Rating               4172 non-null object
Reviews              4172 non-null object
URL_TA               4859 non-null object
dtypes: object(9)
memory usage: 379.6+ KB

None
                                       Cuisine Style      ID_TA  \
0  ['Italian', 'Mediterranean', 'European', 'Wine...   d8374547
0  ['Indian', 'Vegetarian Friendly', 'Vegan Optio...  d10920105
0  ['International', 'Bar', 'Vegetarian Friendly'...   d6494862
0  ['International', 'European', 'Vegetarian Frie...  d10299686
0  ['International', 'European', 'Asian', 'Vegeta...   d8568017

                              Name Number of Reviews Price Range  \
0         Wine O'Clock Shop Prague               967    $$ - $$$
0  Namaste India Indian Restaurant               377    $$ - $$$
0                 Be Bop Lobby Bar               797    $$ - $$$
0             Portfolio restaurant               884        $$$$
0                         Etnosvet             1,485    $$ - $$$

                             Ranking            Rating  \
0  #1 of 4,882 Restaurants in Prague    5 of 5 bubbles
0  #2 of 4,882 Restaurants in Prague    5 of 5 bubbles
0  #3 of 4,882 Restaurants in Prague    5 of 5 bubbles
0  #4 of 4,882 Restaurants in Prague    5 of 5 bubbles
0  #5 of 4,882 Restaurants in Prague  4.5 of 5 bubbles

                                             Reviews  \
0  [['Best dinner in prague!', 'Lovely evening'],...
0  [['fantastic indian food!', 'Really great!!'],...
0  [['NYE 2018', 'Just the coolest cocktails ever...
0  [['New year break', 'Perfect for a couple geta...
0  [['Vegan vegeterian top fine dining 5 stars', ...

                                              URL_TA
0  /Restaurant_Review-g274707-d8374547-Reviews-Wi...
0  /Restaurant_Review-g274707-d10920105-Reviews-N...
0  /Restaurant_Review-g274707-d6494862-Reviews-Be...
0  /Restaurant_Review-g274707-d10299686-Reviews-P...
0  /Restaurant_Review-g274707-d8568017-Reviews-Et...
                                       Cuisine Style      ID_TA  \
0  ['Cafe', 'Fast Food', 'Turkish', 'Healthy', 'S...  d13348057
0                     ['Japanese', 'Thai', 'Fusion']  d13350707
0                                  ['Mediterranean']  d13352960
0           ['Steakhouse', 'International', 'Asian']  d13355090
0          ['European', 'Grill', 'Central European']  d13355939

                   Name Number of Reviews Price Range Ranking Rating Reviews  \
0     Royal Kebab House               NaN           $     NaN    NaN     NaN
0     Thai Thai & Ramen               NaN         NaN     NaN    NaN     NaN
0                 Maare               NaN         NaN     NaN    NaN     NaN
0  Dave B. - Taste Five               NaN    $$ - $$$     NaN    NaN     NaN
0                 Pipca               NaN         NaN     NaN    NaN     NaN

                                              URL_TA
0  /Restaurant_Review-g274707-d13348057-Reviews-R...
0  /Restaurant_Review-g274707-d13350707-Reviews-T...
0  /Restaurant_Review-g274707-d13352960-Reviews-M...
0  /Restaurant_Review-g274707-d13355090-Reviews-D...
0  /Restaurant_Review-g274707-d13355939-Reviews-P...
NaN         2185
$$ - $$$    1702
$            871
$$$$         101
Name: Price Range, dtype: int64
4 of 5 bubbles      1270
4.5 of 5 bubbles    1245
NaN                  687
3.5 of 5 bubbles     586
5 of 5 bubbles       511
3 of 5 bubbles       343
2.5 of 5 bubbles      86
2 of 5 bubbles        73
1 of 5 bubbles        38
1.5 of 5 bubbles      19
-1 of 5 bubbles        1
Name: Rating, dtype: int64

Rome_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5949 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        5214 non-null object
ID_TA                5949 non-null object
Name                 5949 non-null object
Number of Reviews    5766 non-null object
Price Range          4701 non-null object
Ranking              5949 non-null object
Rating               5949 non-null object
Reviews              5949 non-null object
URL_TA               5949 non-null object
dtypes: object(9)
memory usage: 464.8+ KB
None
                                       Cuisine Style      ID_TA  \
0                                        ['Italian']  d11752096
0  ['Italian', 'Street Food', 'Vegetarian Friendly']  d10044289
0  ['Fast Food', 'Italian', 'Cafe', 'Vegetarian F...  d11917500
0  ['Italian', 'Fast Food', 'Mediterranean', 'Eur...  d10206909
0  ['Mediterranean', 'Italian', 'Delicatessen', '...   d6368828

                               Name Number of Reviews Price Range  \
0  Federica & Barbara of BB Kitchen               409    $$ - $$$
0                     Pane e Salame             4,867           $
0                         Two Sizes             1,186           $
0                          Bread-in               666           $
0                      Birra e Sale               520           $

                            Ranking            Rating  \
0  #1 of 10,114 Restaurants in Rome    5 of 5 bubbles
0  #2 of 10,114 Restaurants in Rome    5 of 5 bubbles
0  #3 of 10,114 Restaurants in Rome    5 of 5 bubbles
0  #4 of 10,114 Restaurants in Rome    5 of 5 bubbles
0  #5 of 10,114 Restaurants in Rome  4.5 of 5 bubbles

                                             Reviews  \
0  [['Unmissable experience', 'Magical evening'],...
0  [['Very nice panini', 'The best'], ['01/07/201...
0  [['Worth a stop!', 'Delicious!'], ['01/08/2018...
0  [['Just go!', 'Perfect pit stop'], ['01/09/201...
0  [['Great for lunch', 'Super food'], ['01/08/20...

                                              URL_TA
0  /Restaurant_Review-g187791-d11752096-Reviews-F...
0  /Restaurant_Review-g187791-d10044289-Reviews-P...
0  /Restaurant_Review-g187791-d11917500-Reviews-T...
0  /Restaurant_Review-g187791-d10206909-Reviews-B...
0  /Restaurant_Review-g187791-d6368828-Reviews-Bi...
                      Cuisine Style     ID_TA                       Name  \
0                               NaN  d7691102        Livio Emilio & Csnc
0                               NaN  d5895707                 Pizza Tata
0      ['Italian', 'Mediterranean']  d3206927                    Vudabar
0                       ['Italian']  d2364472  I Porchettoni der Pigneto
0  ['Pizza', 'Seafood', 'European']  d3220981                Le Terrazze

  Number of Reviews Price Range                               Ranking  \
0                 8         NaN  #5,946 of 10,114 Restaurants in Rome
0                18         NaN  #5,947 of 10,114 Restaurants in Rome
0                47    $$ - $$$  #5,948 of 10,114 Restaurants in Rome
0               217           $  #5,949 of 10,114 Restaurants in Rome
0               131         NaN  #5,950 of 10,114 Restaurants in Rome

             Rating                                            Reviews  \
0  4.5 of 5 bubbles                                           [[], []]
0    4 of 5 bubbles  [['small place, great service, delicious food....
0    4 of 5 bubbles  [['Prosecco in the evening', 'Service is wanti...
0  3.5 of 5 bubbles  [['Lovely', 'Amazing Pasta'], ['06/24/2017', '...
0  3.5 of 5 bubbles  [['Fantastic view of Rome at Night', 'what a p...

                                              URL_TA
0  /Restaurant_Review-g187791-d7691102-Reviews-Li...
0  /Restaurant_Review-g187791-d5895707-Reviews-Pi...
0  /Restaurant_Review-g187791-d3206927-Reviews-Vu...
0  /Restaurant_Review-g187791-d2364472-Reviews-I_...
0  /Restaurant_Review-g187791-d3220981-Reviews-Le...
$$ - $$$    3004
$           1472
NaN         1248
$$$$         225
Name: Price Range, dtype: int64
4 of 5 bubbles      2329
4.5 of 5 bubbles    2073
3.5 of 5 bubbles     771
5 of 5 bubbles       753
3 of 5 bubbles        23
Name: Rating, dtype: int64

Stockholm_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2705 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1815 non-null object
ID_TA                2705 non-null object
Name                 2705 non-null object
Number of Reviews    2266 non-null object
Price Range          1415 non-null object
Ranking              2461 non-null object
Rating               2463 non-null object
Reviews              2465 non-null object
URL_TA               2705 non-null object
dtypes: object(9)
memory usage: 211.3+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['European', 'Swedish', 'Scandinavian', 'Veget...  d7345323
0  ['European', 'Swedish', 'Scandinavian', 'Veget...  d5600577
0  ['European', 'Swedish', 'Scandinavian', 'Inter...   d698819
0  ['European', 'Spanish', 'Wine Bar', 'Vegetaria...  d2713535
0  ['European', 'Contemporary', 'Swedish', 'Scand...  d3608386

                     Name Number of Reviews Price Range  \
0  Adam & Albin Matstudio               165    $$ - $$$
0               Lilla Ego               549        $$$$
0           Operakallaren               359        $$$$
0              Bar Nombre               496    $$ - $$$
0        Smorgastarteriet               543        $$$$

                                Ranking            Rating  \
0  #1 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
0  #2 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
0  #3 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
0  #4 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles
0  #5 of 2,708 Restaurants in Stockholm  4.5 of 5 bubbles

                                             Reviews  \
0  [['Fantastic Dinner', '30th birthday feast'], ...
0  [['Loved the Pork Tartare', 'Excellent'], ['12...
0  [['Unbelievable Food with an Even Better Expe....
0  [['Warm welcome for amazing food', 'Food toget...
0  [['Brilliant', 'Exellent !'], ['12/21/2017', '...

                                              URL_TA
0  /Restaurant_Review-g189852-d7345323-Reviews-Ad...
0  /Restaurant_Review-g189852-d5600577-Reviews-Li...
0  /Restaurant_Review-g189852-d698819-Reviews-Ope...
0  /Restaurant_Review-g189852-d2713535-Reviews-Ba...
0  /Restaurant_Review-g189852-d3608386-Reviews-Sm...
                                       Cuisine Style      ID_TA  \
0         ['Italian', 'Cafe', 'European', 'Swedish']  d13337648
0                                          ['Pizza']  d13340843
0  ['Lebanese', 'Fast Food', 'Mediterranean', 'Ba...  d13340846
0                                           ['Cafe']  d13340883
0                                                NaN  d13360173

                                      Name Number of Reviews Price Range  \
0                        Cafe Wickholm & P               NaN    $$ - $$$
0  Hallonbergens kiosk grill & pizzeria AB               NaN           $
0                                    Midan               NaN         NaN
0          Nastan Hemma Cafe och Konditori               NaN         NaN
0                   McDonald's Sergelgatan               NaN         NaN

  Ranking Rating   Reviews                                             URL_TA
0     NaN    NaN       NaN  /Restaurant_Review-g189852-d13337648-Reviews-C...
0     NaN    NaN       NaN  /Restaurant_Review-g189852-d13340843-Reviews-H...
0     NaN    NaN       NaN  /Restaurant_Review-g189852-d13340846-Reviews-M...
0     NaN    NaN       NaN  /Restaurant_Review-g189852-d13340883-Reviews-N...
0     NaN    NaN  [[], []]  /Restaurant_Review-g189852-d13360173-Reviews-M...
NaN         1290
$$ - $$$    1164
$            173
$$$$          78
Name: Price Range, dtype: int64
4 of 5 bubbles      856
3.5 of 5 bubbles    556
4.5 of 5 bubbles    528
NaN                 242
3 of 5 bubbles      238
5 of 5 bubbles      164
2.5 of 5 bubbles     62
2 of 5 bubbles       42
1.5 of 5 bubbles      9
1 of 5 bubbles        8
Name: Rating, dtype: int64

Toulouse_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1606 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1046 non-null object
ID_TA                1606 non-null object
Name                 1606 non-null object
Number of Reviews    1412 non-null object
Price Range          831 non-null object
Ranking              1483 non-null object
Rating               1481 non-null object
Reviews              1481 non-null object
URL_TA               1606 non-null object
dtypes: object(9)
memory usage: 125.5+ KB
None
                                       Cuisine Style      ID_TA  \
0                                         ['French']  d10818862
0                             ['French', 'European']    d806529
0  ['French', 'European', 'Gastropub', 'Vegetaria...   d9886078
0  ['French', 'Contemporary', 'European', 'Vegeta...   d3961824
0  ['French', 'Italian', 'Mediterranean', 'Vegeta...   d5960438

                             Name Number of Reviews Price Range  \
0                   Le Restaurant               129    $$ - $$$
0                   Michel Sarran             1,060        $$$$
0                   Les Complices               345    $$ - $$$
0     La Cantine des Sales Gosses               291    $$ - $$$
0  L'Ouverture Restaurant Musical               490    $$ - $$$

                               Ranking            Rating  \
0  #1 of 1,606 Restaurants in Toulouse    5 of 5 bubbles
0  #2 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles
0  #3 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles
0  #4 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles
0  #5 of 1,606 Restaurants in Toulouse  4.5 of 5 bubbles

                                             Reviews  \
0  [['Reserve - GO - be happy! One of our best m....
0  [['Worth it', 'home cooking?'], ['09/07/2017',...
0  [['Very popular - With Good Reason', 'Get to t...
0  [['Excellent quality and friendly place', 'Gen...
0  [['Our special dinner date night', 'Delightful...

                                              URL_TA
0  /Restaurant_Review-g187175-d10818862-Reviews-L...
0  /Restaurant_Review-g187175-d806529-Reviews-Mic...
0  /Restaurant_Review-g187175-d9886078-Reviews-Le...
0  /Restaurant_Review-g187175-d3961824-Reviews-La...
0  /Restaurant_Review-g187175-d5960438-Reviews-L_...
                                     Cuisine Style      ID_TA  \
0                           ['French', 'European']  d13220992
0                                       ['French']  d13223846
0                                      ['Italian']  d13273530
0  ['Moroccan', 'Mediterranean', 'Middle Eastern']  d13275682
0                                              NaN  d13340005

                      Name Number of Reviews Price Range Ranking Rating  \
0          Secret de Pains               NaN         NaN     NaN    NaN
0          Lot of Galettes               NaN    $$ - $$$     NaN    NaN
0              Pizz&Cheese               NaN           $     NaN    NaN
0               L'alhambra               NaN    $$ - $$$     NaN    NaN
0  Tacos Avenue Borderouge               NaN         NaN     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g187175-d13220992-Reviews-S...
0     NaN  /Restaurant_Review-g187175-d13223846-Reviews-L...
0     NaN  /Restaurant_Review-g187175-d13273530-Reviews-P...
0     NaN  /Restaurant_Review-g187175-d13275682-Reviews-L...
0     NaN  /Restaurant_Review-g187175-d13340005-Reviews-T...
NaN         775
$$ - $$$    619
$           176
$$$$         36
Name: Price Range, dtype: int64
4 of 5 bubbles      463
4.5 of 5 bubbles    442
3.5 of 5 bubbles    234
5 of 5 bubbles      141
NaN                 125
3 of 5 bubbles      108
2.5 of 5 bubbles     53
2 of 5 bubbles       24
1 of 5 bubbles        9
1.5 of 5 bubbles      7
Name: Rating, dtype: int64

Vienna_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3724 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        2673 non-null object
ID_TA                3724 non-null object
Name                 3724 non-null object
Number of Reviews    3161 non-null object
Price Range          2127 non-null object
Ranking              3444 non-null object
Rating               3442 non-null object
Reviews              3441 non-null object
URL_TA               3724 non-null object
dtypes: object(9)
memory usage: 290.9+ KB
None
                                       Cuisine Style     ID_TA  \
0  ['Austrian', 'European', 'Central European', '...  d7361583
0  ['Austrian', 'European', 'Central European', '...  d6691633
0                                       ['Austrian']  d7118372
0  ['Fusion', 'International', 'Vegetarian Friend...  d1900308
0  ['International', 'European', 'Central Europea...  d3485308

                     Name Number of Reviews Price Range  \
0  Casino Restaurant Wien               241        $$$$
0           Die Metzgerei               785    $$ - $$$
0      Vinothek W-Einkehr               444    $$ - $$$
0   Restaurant Lebenbauer               471    $$ - $$$
0                    Mini             1,623    $$ - $$$

                             Ranking            Rating  \
0  #1 of 3,724 Restaurants in Vienna    5 of 5 bubbles
0  #2 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles
0  #3 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles
0  #4 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles
0  #5 of 3,724 Restaurants in Vienna  4.5 of 5 bubbles

                                             Reviews  \
0  [["Fine dining at it's best", 'Xmas dinner'], ...
0  [['Dinner in Vienna', 'Great food with a comfo...
0  [['Excellent', 'Worth the ratings'], ['01/05/2...
0  [['Perfect vegetarian food', 'Superb'], ['01/1...
0  [['Delicious food and amazing wines', 'Great p...

                                              URL_TA
0  /Restaurant_Review-g190454-d7361583-Reviews-Ca...
0  /Restaurant_Review-g190454-d6691633-Reviews-Di...
0  /Restaurant_Review-g190454-d7118372-Reviews-Vi...
0  /Restaurant_Review-g190454-d1900308-Reviews-Re...
0  /Restaurant_Review-g190454-d3485308-Reviews-Mi...
                                       Cuisine Style      ID_TA  \
0                 ['French', 'Austrian', 'European']  d13331692
0  ['Austrian', 'International', 'European', 'Fus...  d13337747
0                 ['German', 'Austrian', 'European']  d13341715
0                  ['Cafe', 'Contemporary', 'Diner']  d13343747
0                                                NaN  d13359780

                     Name Number of Reviews Price Range Ranking Rating  \
0  restaurant you, Vienne               NaN         NaN     NaN    NaN
0       Kartonage Kitchen               NaN           $     NaN    NaN
0                    Fino               NaN         NaN     NaN    NaN
0       Cafe Zeitgenossin               NaN           $     NaN    NaN
0               El Gaucho               NaN         NaN     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g190454-d13331692-Reviews-R...
0     NaN  /Restaurant_Review-g190454-d13337747-Reviews-K...
0     NaN  /Restaurant_Review-g190454-d13341715-Reviews-F...
0     NaN  /Restaurant_Review-g190454-d13343747-Reviews-C...
0     NaN  /Restaurant_Review-g190454-d13359780-Reviews-E...
$$ - $$$    1627
NaN         1597
$            392
$$$$         108
Name: Price Range, dtype: int64
4 of 5 bubbles      1203
4.5 of 5 bubbles    1031
3.5 of 5 bubbles     501
5 of 5 bubbles       390
NaN                  282
3 of 5 bubbles       207
2.5 of 5 bubbles      50
2 of 5 bubbles        40
1 of 5 bubbles        13
1.5 of 5 bubbles       6
-1 of 5 bubbles        1
Name: Rating, dtype: int64

Warsaw_TA_restaurants_raw.csv
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2352 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1692 non-null object
ID_TA                2352 non-null object
Name                 2352 non-null object
Number of Reviews    1941 non-null object
Price Range          1358 non-null object
Ranking              2154 non-null object
Rating               2146 non-null object
Reviews              2147 non-null object
URL_TA               2352 non-null object
dtypes: object(9)
memory usage: 183.8+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Thai', 'Asian', 'Vegetarian Friendly', 'Glut...  d12871486
0  ['Japanese', 'Sushi', 'Asian', 'Vegetarian Fri...   d5558421
0  ['Polish', 'European', 'Central European', 'In...   d2018224
0  ['Polish', 'European', 'Contemporary', 'Fusion...   d8754289
0  ['Polish', 'European', 'Eastern European', 'Ce...    d697149

                               Name Number of Reviews Price Range  \
0                          San Thai               108           $
0          Soto Sushi - Warynskiego               281    $$ - $$$
0                        Amber Room               357        $$$$
0  N31restaurant&bar by Robert Sowa               354    $$ - $$$
0                     Polska Rozana             2,356        $$$$

                             Ranking            Rating  \
0  #1 of 2,352 Restaurants in Warsaw    5 of 5 bubbles
0  #2 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles
0  #3 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles
0  #4 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles
0  #5 of 2,352 Restaurants in Warsaw  4.5 of 5 bubbles

                                             Reviews  \
0  [['Great experience', 'Best Thai food out of T...
0  [["Best sushi I've ever tried", 'One of best s...
0  [['Lovely building and tasty food', 'Great exp...
0  [['Awesome experience', 'Exquisite!'], ['01/06...
0  [['Excellent service, delicious food', 'Nice d...

                                              URL_TA
0  /Restaurant_Review-g274856-d12871486-Reviews-S...
0  /Restaurant_Review-g274856-d5558421-Reviews-So...
0  /Restaurant_Review-g274856-d2018224-Reviews-Am...
0  /Restaurant_Review-g274856-d8754289-Reviews-N3...
0  /Restaurant_Review-g274856-d697149-Reviews-Pol...
                                       Cuisine Style      ID_TA  \
0  ['Bar', 'Cafe', 'Asian', 'Korean', 'Pub', 'Fus...  d13340626
0  ['Italian', 'French', 'Polish', 'European', 'S...  d13340633
0              ['Indian', 'Asian', 'Thai', 'Nepali']  d13341030
0                                                NaN  d13344429
0               ['American', 'Grill', 'Street Food']  d13350265

                        Name Number of Reviews Price Range Ranking Rating  \
0               The Cool Cat               NaN           $     NaN    NaN
0  MISH MASH cocktail & food               NaN           $     NaN    NaN
0                    Lumbini               NaN    $$ - $$$     NaN    NaN
0                  Wietnamka               NaN         NaN     NaN    NaN
0       Pasibus Zlote Tarasy               NaN           $     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g274856-d13340626-Reviews-T...
0     NaN  /Restaurant_Review-g274856-d13340633-Reviews-M...
0     NaN  /Restaurant_Review-g274856-d13341030-Reviews-L...
0     NaN  /Restaurant_Review-g274856-d13344429-Reviews-W...
0     NaN  /Restaurant_Review-g274856-d13350265-Reviews-P...
NaN         994
$$ - $$$    898
$           394
$$$$         66
Name: Price Range, dtype: int64
4 of 5 bubbles      716
4.5 of 5 bubbles    669
3.5 of 5 bubbles    306
5 of 5 bubbles      250
NaN                 206
3 of 5 bubbles      116
2.5 of 5 bubbles     42
2 of 5 bubbles       32
1 of 5 bubbles       14
1.5 of 5 bubbles      1
Name: Rating, dtype: int64

Zurich_TA_restaurants_raw.csv

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1667 entries, 0 to 0
Data columns (total 9 columns):
Cuisine Style        1288 non-null object
ID_TA                1667 non-null object
Name                 1667 non-null object
Number of Reviews    1494 non-null object
Price Range          1121 non-null object
Ranking              1596 non-null object
Rating               1595 non-null object
Reviews              1595 non-null object
URL_TA               1667 non-null object
dtypes: object(9)
memory usage: 130.2+ KB
None
                                       Cuisine Style      ID_TA  \
0  ['Italian', 'Pizza', 'Mediterranean', 'Europea...   d6212120
0  ['Indian', 'Asian', 'Vegetarian Friendly', 'Ve...  d10169867
0  ['Swiss', 'European', 'Central European', 'Veg...   d1190632
0  ['Mediterranean', 'Swiss', 'European', 'Vegeta...    d697845
0  ['French', 'Swiss', 'European', 'Central Europ...    d825545

                                 Name Number of Reviews Price Range  \
0                            La Fonte               704    $$ - $$$
0     Tamarind Hill Indian Restaurant               418    $$ - $$$
0  Differente Hotel Krone Unterstrass               505    $$ - $$$
0                     Haus zum Rueden               157        $$$$
0                      Didi's Frieden               546        $$$$

                             Ranking            Rating  \
0  #1 of 1,672 Restaurants in Zurich  4.5 of 5 bubbles
0  #2 of 1,672 Restaurants in Zurich  4.5 of 5 bubbles
0  #3 of 1,672 Restaurants in Zurich  4.5 of 5 bubbles
0  #4 of 1,672 Restaurants in Zurich  4.5 of 5 bubbles
0  #5 of 1,672 Restaurants in Zurich  4.5 of 5 bubbles

                                             Reviews  \
0  [['Lovely!', 'If you love pizza, reserve your ...
0  [['Fantastic', 'Little india'], ['01/10/2018',...
0  [["New year's eve diner", 'Simply top quality'...
0  [['Great food in a great setting', 'Wow! Total...
0  [['A must in zurich', 'Good efficient and frie...

                                              URL_TA
0  /Restaurant_Review-g188113-d6212120-Reviews-La...
0  /Restaurant_Review-g188113-d10169867-Reviews-T...
0  /Restaurant_Review-g188113-d1190632-Reviews-Di...
0  /Restaurant_Review-g188113-d697845-Reviews-Hau...
0  /Restaurant_Review-g188113-d825545-Reviews-Did...
                                    Cuisine Style      ID_TA  \
0                                             NaN  d13273526
0                                        ['Cafe']  d13292844
0                                             NaN  d13296092
0                                   ['Fast Food']  d13323362
0  ['Italian', 'Pizza', 'Mediterranean', 'Diner']  d13349842

                           Name Number of Reviews Price Range Ranking Rating  \
0  Konrad Kaffee- & Cocktailbar               NaN         NaN     NaN    NaN
0     Blueberry American Bakery               NaN         NaN     NaN    NaN
0            Restaurant Bahnhof               NaN         NaN     NaN    NaN
0                    Yoyo Pizza               NaN         NaN     NaN    NaN
0                         dieci               NaN    $$ - $$$     NaN    NaN

  Reviews                                             URL_TA
0     NaN  /Restaurant_Review-g188113-d13273526-Reviews-K...
0     NaN  /Restaurant_Review-g188113-d13292844-Reviews-B...
0     NaN  /Restaurant_Review-g188113-d13296092-Reviews-R...
0     NaN  /Restaurant_Review-g188113-d13323362-Reviews-Y...
0     NaN  /Restaurant_Review-g188113-d13349842-Reviews-D...
$$ - $$$    882
NaN         546
$           121
$$$$        118
Name: Price Range, dtype: int64
4 of 5 bubbles      587
4.5 of 5 bubbles    440
3.5 of 5 bubbles    270
5 of 5 bubbles      142
3 of 5 bubbles      106
NaN                  72
2.5 of 5 bubbles     28
2 of 5 bubbles       16
1 of 5 bubbles        5
1.5 of 5 bubbles      1
Name: Rating, dtype: int64

#### Problems to fix in the raws datasets:
- All data are object type 
    - the price range and rate are categorical variables, taking 3 and 9 values (NaN not included)
    - Rate, rank, number of reviews as numerical data
- No row Index, can used instead rank
- rearrange orger of the columns

## Dataset Curation & Aggregated Dataset Creation

Cures raw datasets to:
- have numerical useful values for number reviews, rate, rank
- have price range as a categorical type
- lists ready to be parsed
- rows in order and first empty row deleted
- add a column with city name for further concatenation

==> Creates a global dataset with concatenated curated dataset

Using the rank of the restaurant as the index is not possible as there are plenty NaN values by the end of the table for each city

In [6]:
#Curates all the raw.csv files in the current director and create a new curated & aggregated dataset    
raw_csv_files = glob2.glob('*raw.csv')
print("{} cities raw datasets available".format(len(raw_csv_files)))
curated_dataset = pd.DataFrame()

#Curates all the raw files from scraper
for file in raw_csv_files:
    city = file[:file.find('_')]
    print(city + ': Curating ' + file)
    dataset = pd.read_csv(file, sep=',',  encoding="utf-8")
    
    #broadcast the city name in the dataset
    dataset['City'] = city
    
    #Rating column into numerical data by slicing ' of 5 bubbles'
    dataset['Rating'] = dataset['Rating'].apply(lambda x: str(x)[:-13])
    dataset['Rating'] = pd.to_numeric(dataset['Rating'], errors='ignore')
    
    #Ranking column into numerical by slicing '#' and ' of xx restaurants in city'
    dataset['Ranking'] = dataset['Ranking'].apply(lambda x: str(x)[1:(str(x).find(' of'))].replace(',',''))
    dataset['Ranking'] = pd.to_numeric(dataset['Ranking'], errors='coerce')
    
    #Number of reviews column into numerical
    dataset['Number of Reviews'] =  dataset['Number of Reviews'].apply(lambda x: str(x).replace(',',''))
    dataset['Number of Reviews'] = pd.to_numeric(dataset['Number of Reviews'], errors='coerce')
    
    #Price range as categorical type:
    dataset['Price Range'] = dataset['Price Range'].astype('category')
    
    #Re-order columns
    dataset = dataset[['Name', 'City', 'Cuisine Style', 'Ranking', 'Rating', 
                       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA']]
    
    #Create a curated csv file
    dataset.to_csv(file.replace('raw', 'curated'),  sep=',', encoding="utf-8")
    print('Curated dataset created')

    #Append the curated dataset with the new curated dataset of the current city
    curated_dataset = pd.concat([curated_dataset, dataset])
    
#Categorize the city column data
curated_dataset['City'] = curated_dataset['City'].astype('category')

#Create the aggregated curated csv file
curated_dataset.to_csv('TA_restaurants_curated.csv', sep=',', encoding="utf-8")
logging.info('Aggregated curated dataset created')
print(curated_dataset.info())

32 cities raw datasets available
Amsterdam: Curating Amsterdam_TA_restaurants_raw.csv
Curated dataset created
Athens: Curating Athens_TA_restaurants_raw.csv
Curated dataset created
Barcelona: Curating Barcelona_TA_restaurants_raw.csv
Curated dataset created
Berlin: Curating Berlin_TA_restaurants_raw.csv
Curated dataset created
Bratislava: Curating Bratislava_TA_restaurants_raw.csv
Curated dataset created
Bruxelles: Curating Bruxelles_TA_restaurants_raw.csv
Curated dataset created
Budapest: Curating Budapest_TA_restaurants_raw.csv
Curated dataset created
Copenhagen: Curating Copenhagen_TA_restaurants_raw.csv
Curated dataset created
Dublin: Curating Dublin_TA_restaurants_raw.csv
Curated dataset created
Edinburgh: Curating Edinburgh_TA_restaurants_raw.csv
Curated dataset created
Geneva: Curating Geneva_TA_restaurants_raw.csv
Curated dataset created
Hamburg: Curating Hamburg_TA_restaurants_raw.csv
Curated dataset created
Helsinki: Curating Helsinki_TA_restaurants_raw.csv
Curated dataset created
Krakow: Curating Krakow_TA_restaurants_raw.csv
Curated dataset created
Lisbon: Curating Lisbon_TA_restaurants_raw.csv
Curated dataset created
Ljubljana: Curating Ljubljana_TA_restaurants_raw.csv
Curated dataset created
London: Curating London_TA_restaurants_raw.csv
Curated dataset created
Luxembourg: Curating Luxembourg_TA_restaurants_raw.csv
Curated dataset created
Madrid: Curating Madrid_TA_restaurants_raw.csv
Curated dataset created
Marseille: Curating Marseille_TA_restaurants_raw.csv
Curated dataset created
Milan: Curating Milan_TA_restaurants_raw.csv
Curated dataset created
Munich: Curating Munich_TA_restaurants_raw.csv
Curated dataset created
Oporto: Curating Oporto_TA_restaurants_raw.csv
Curated dataset created
Oslo: Curating Oslo_TA_restaurants_raw.csv
Curated dataset created
Paris: Curating Paris_TA_restaurants_raw.csv
Curated dataset created
Prague: Curating Prague_TA_restaurants_raw.csv
Curated dataset created
Rome: Curating Rome_TA_restaurants_raw.csv
Curated dataset created
Stockholm: Curating Stockholm_TA_restaurants_raw.csv
Curated dataset created
Toulouse: Curating Toulouse_TA_restaurants_raw.csv
Curated dataset created
Vienna: Curating Vienna_TA_restaurants_raw.csv
Curated dataset created
Warsaw: Curating Warsaw_TA_restaurants_raw.csv
Curated dataset created
Zurich: Curating Zurich_TA_restaurants_raw.csv
Curated dataset created

INFO:root:Aggregated curated dataset created

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126100 entries, 0 to 1666
Data columns (total 10 columns):
Name                 126100 non-null object
City                 126100 non-null category
Cuisine Style        94558 non-null object
Ranking              116558 non-null float64
Rating               116579 non-null float64
Price Range          77948 non-null category
Number of Reviews    108801 non-null float64
Reviews              116594 non-null object
URL_TA               126100 non-null object
ID_TA                126100 non-null object
dtypes: category(2), float64(3), object(5)
memory usage: 8.9+ MB
None